<div id="saved-searches-container">
	<ul id="saved-searches" class="search-list">
	
	#if( $hits)
		#set( $current = $hits.getSearchQuery().getId() )
	#end
	#if( !$current )
		#set($current = $query.id )
	#end
		
	#foreach($hit in $filderedquerylist)
		#set( $selected = false )
		#if( $current == $hit.id) #set( $selected = true) #end 
		<li #if( $selected )class="current" #end>

			<div class="search-edit"><a class="ir" href="$home$apphome/views/search/edit/index.html?queryid=$hit.id" title="Edit">Edit</a></div>

			<a class="search-href" href="$home$apphome/views/search/runsavedquery.html?queryid=$hit.id&searchtype=asset" title="Execute">$hit.getName()</a>
			
			<div class="search-delete">
				#if( $selected)
					<a class="ir" href="$home$apphome/views/search/edit/deletefinish.html?queryid=${hit.id}" title="Delete">Delete</a>
				#else
					<a class="ir ajax" targetdivinner="saved-searches-container" href="$home$apphome/components/savedqueries/delete.html?queryid=${hit.id}&oemaxlevel=1" title="Delete">Delete</a>
				#end
			</div>
			
		</li>
	#end    
	</ul>
</div>