		#if ( $cansavesearch && $canviewrecentsearches )
		<div class="ui-widget  uipanel" >
			<div  #if($userprofile.minimizesavedsearchescontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" #else class="ui-widget-header" #end data-target="savedsearchescontent">
			<span class="widget-header-title">[[Saved Searches]]</span>
					</div>
			
			<div  class="ui-widget-content" id="savedsearchescontent" #if($userprofile.minimizesavedsearchescontent == "true" && $cantogglesidebar) style="display: none;" #end>
			$pages.include("$apphome/components/savedqueries/index.html", $context)
			</div>
		</div>
		#end 
