#set($usestartswith = $page.isPropertyTrue('usestartswith'))


				#foreach( $searchItem in $fields)
					#set( $inputed = "$!hits.getInput($searchItem.getId())")

					$searchItem.getText($context)

					<input name="field" value="${searchItem.getId()}" type="hidden">
					#if($searchItem.getId() == "availablity")
					 
						<input name="operation" type="hidden" value="matches" />
						<select name="availability.value">
						<option value="yes">[[Yes]]</option>
						<option value="no">[[No]]</option>
						</select>
				    #elseif($searchItem.getId() == "born")
					   
						<input name="operation" type="hidden" value="betweenages" />
						<input name="type" type="hidden" value="age" />
						<input name="born.value" type="hidden" value="between" />
						<input name="${searchItem.getId()}.after" id="datevalue${searchItem.id}" value="$!hits.getInput("born.after")"
						size="3" type="text"> 
					
					 [[and]] <input name="${searchItem.getId()}.before" id="aftervalue${searchItem.id}" value="$!hits.getInput("born.before")"
						size="3" type="text">
					
					#elseif( $searchItem.isList() )
						#set( $listid = $searchItem.getListId()) 
						#set( $lsearcher = $searcherManager.getSearcher( $membership.getMembershipId(), $listid ))
					
						#set ($types = $lsearcher.allHits)
						
						<input name="operation" type="hidden" value="matches" />
						<select name="${searchItem.getId()}.value" WIDTH="150px" STYLE="width: 150px">
							<option value=""></option>
							#foreach( $key in $types) )
							
							<option value="$key.id" #if( $inputed && $key.id == $inputed ) selected #end>
								$key
							</option>
							#end
						</select>
					#elseif ($searchItem.isFilter())
					
						#set( $types = $store.getProperties(${searchItem.getId()}) ) 
						<input name="operation" type="hidden" value="filter" />
						<input type="hidden" name="${searchItem.getId()}.value" value="array"/>
							#foreach( $key in $types.keys() )
						<input type="checkbox" value="$key" name="${searchItem.getId()}.value" #if( $inputed && $key == $inputed ) checked #end />
								$types.get($key)
							#end
						</select>
						
					#elseif ($searchItem.isDate())
					<select name="operation">
						<option value="after">[[After]]</option>
						<option value="before">[[Before]]</option>
					</select>
				
					<input name="${searchItem.getId()}.value" id="datevalue${searchItem.id}" value=""
						size="8" type="text">
					<a href="javascript:NewCal('datevalue${searchItem.id}','mmddyyyy',false,24)"><img	src="$home$membershiphome/layout/media/cal.gif" width="16"	height="16" border="0" alt="[[Pick a date]]"></a>					
					#else
					#if($searchItem.isNumber() || $searchItem.isLong() || $searchItem.isDouble() )
					<select name="operation">
						<option value="matches">[[Exactly]]</option>
						<option value="lessthan">[[Under]]</option>
						<option value="greaterthan">[[Over]]</option>
					</select>					
					#else
					#if( $usestartswith)
					<input name="operation" value="startswith" type="hidden">						
					#else
					<input name="operation" value="matches" type="hidden">
					#end
					#end
					<input name="${searchItem.getId()}.value" value="$!hits.getInput($searchItem.getId())"
						size="12" type="text">
					<br>						
					 #if($searchItem.getId() == "description")
					  <a href="#" onclick="if(!window.name)window.name='editor_parent';window.open('$home$membershiphome/search/help.html','popupwindowname','alwaysRaised=yes,menubar=no,resizable=yes,x=10,y=10,width=830,height=550,scrollbars=yes' );return false;">[[Help]]</a>
					 #end
					#end
				
				
				#end

				#if($pages.doesExist("$membershiphome/search/customsearch.html"))
					$pages.include("$membershiphome/search/customsearch.html")
				#end
				<input type="submit" value="Go" />
