<br/><br/>
	
	<table>
		<tr>
		<th>
		</th>
		<th>Read Only</th>
		<th>Read/Write</th>
		 </tr>
		<tr>
			<td>Default
				<input type="hidden" name="field" value="default"/>
				<input type="hidden" name="operation" value="matches"/>
			</td>
			<td>
				<input type="radio" value="readonly" name="default.value" #if ($data.get("default") != 'readwrite') checked #end > 
			</td>
			<td>	
				<input type="radio" value="readwrite" name="default.value"  #if ($data.get("default") == 'readwrite') checked #end> 
			</td>
		</tr>
	#set ($atSearcher = $searcherManager.getSearcher($catalogid, "assettype"))
	#foreach ($detail in $atSearcher.getAllHits())

		<tr>
			<td>
				$detail.name
				<input type="hidden" name="field" value="$detail.id"/>
			</td>
			<td>
				<input type="radio" value="readonly" name="${detail.id}.value" #if ($data.get($detail.id) != 'readwrite') checked #end >
			</td>
			<td> 
				<input type="radio" value="readwrite" name="${detail.id}.value"  #if ($data.get($detail.id) == 'readwrite') checked #end>
			</td>
		</tr>
	#end
	</table>

	<br/>