#set ($groupSearcher = $searcherManager.getSearcher($catalogid, "settingsgroup"))
#set ($permissiontype = $context.findValue("permissiontype"))


#if (!$data)
	#set($groupid = $context.getRequestParameter("settingsgroupid"))
	#if($groupid)
		#set ($data = $groupSearcher.searchById($groupid))
	#end
#end


#if ($data)

<form method="post" action="$home$apphome/views/settings/users/permissions/views/save.html">
	<input type="hidden" name="id" value="$!data.id"/>
	<input type="hidden" name="save" value="true"/>
	<input type="hidden" name="view" value="settings/settinggroupedit" />
	<input type="hidden" name="searchtype" value="$groupSearcher.getSearchType()"/>
	<input type="hidden" name="settingsgroupid" value="$data.id" />
	
	
	$context.putPageValue("searcher", $groupSearcher)	 
	$context.putPageValue("view", "settings/settinggroupedit")
	$context.putPageValue("data", $data)	

	#set($permissionsearcher = $searcherManager.getSearcher($catalogid, "permissionsapp"))
	<div class="list-adder" id="permission-role">
	$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
	</div>
    
	<input type="hidden" name="field" value="profilesearchfilters" />
	<input type="hidden" name="profilesearchfilters.value" value="hideassettype" />
	<div style="margin: 0 -20px;">
    	<table class="striped emdata settings-table">	
        #if ( !$permissiontype )
           #set ( $permissiontype = "*" )
        #end
	    #set( $query = $permissionsearcher.createSearchQuery().append("permissiontype",$permissiontype) )
	    $!query.addSortBy("permissiontype")
	    $!query.addSortBy("name")
	    #set($hits = $permissionsearcher.search($query))
	    
	    #set( $section = "none")
    	#foreach($item in $hits )
        		#set($val = false )
        		#set($val = $data.get($item.id))
        		#if( $section != $item.permissiontype )
        			<tr class="sectionlevel">
        			<td colspan="2" style="height: 35px; line-height: 35px;">
        				$searcherManager.getData($catalogid,"permissiontype",$item.permissiontype)
        			</td>
        			</tr>
        		#set( $section = $item.permissiontype)
        		#end
        		<input type="hidden" name="field" value="$item.id"/>
        		<tr>
        			<td valign="middle" title="$item.description">$item</td>
        			<td valign="middle" style="text-align: center; width: 35px; background: #f7f7f7;"><input class="permission-radio" type="checkbox" name="${item.id}.value" value="true" #if($val == "true" || $val == "full") checked #end/></td>
        		</tr>
    	#end
    	</table>
    </div>
	
<a class="btn red"  href="$home$apphome/views/settings/users/permissions/views/delete.html?id=$groupid" onclick="return confirm('Are you sure you want to delete the security group $data.name')">Delete</a>
	<input class="btn small" style="float: right;" type="submit" value="Save"/>
	
</form>

<script type="text/javascript">

jQuery(".permission-radio").bind("click", function () {
	var val = jQuery(this).val();
	
	if(val == "partial"){
		jQuery(this).parent().find(".sub-list").show();
	}
	else {
		jQuery(this).parent().find(".sub-list").hide();
	}
		
	
});

</script>



#else
Please select a Security Group
#end