#set( $apphome = "/${order.applicationid}")
<p>Hello,</p>
<br />
<p>$userManager.getScreenName( $order.userid ) has shared some assets with you.
#if($order.sharenote)
Below is a note that was attached:</p>
<blockquote>$order.sharenote</blockquote>
<hr />
#else 
</p>
#end

<p>Please review the assets at this link: <a href="$context.siteRoot$home$apphome/views/activity/email/emailedassets.html?orderid=$order.id" style="font-size: 14px; color: blue;">
$context.siteRoot$home$apphome/views/activity/email/emailedassets.html?orderid=$order.id</a></p>

#if( $order.expireson)
Access to these files will expire on 
	#if( $expiresondate )  ##Use this since events do not have a locale
		$expiresformat.format($expiresondate)
	#else
		$context.getDateTime($order.expireson)	
	#end	
#end


<p>

</p>
<hr />
<p>Below is a list of assets available at the link above:</p>
<table cellspacing="0" cellpadding="0" width="100%">		
	<tr>
	<th>Title</th>
	<th>File Name</th>
	<th>Asset Type</th>
	<th>Format</th>
	</tr>

	#foreach( $item in $orderitems )
		#set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
		$context.putPageValue("asset", $asset)
		$context.putPageValue("item", $item)
		$context.setRequestParameter("sourcepath", $asset.sourcepath)					
		<tr>
		<td>
			$!asset.assettitle
		</td>
		<td>
			$!asset.name
		</td>
		<td>
			$!searcherManager.getData($catalogid,"assettype",$asset.assettype)
		</td>
		<td>
		    #set($val=$context.getRequestParameter("${item.id}.presetid.value"))
		    #if( !$val)
				#set( $val = $item.get("presetid") )		    	
		    #end
			#if( $val )
				#set($preset = $searcherManager.getData($catalogid, "convertpreset",$val ))
				$!preset
			#else
				Online Preview
			#end	
		</tr>
	#end
</table>
