<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
  <title>#if( $asset || $catalog )$!asset.name $!catalog.name - #end$content.title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <meta name="keywords" content="$!content.keywords"/>
  <meta name="description" content="$!content.description"/>
  <meta http-equiv="imagetoolbar" CONTENT="no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />  
  <meta name="robots" content="all" />
  <link rel="Shortcut Icon" type="image/x-icon" href="$home$apphome/theme/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
$pages.include("${themeprefix}/layouts/includes.html")

</head>
<body>
       
    
		$pages.streamContent()
</body>
</html>
