<div class="subcolumns">
          <div class="c25l">
            <div class="subcl">
         
         

<h6 class="vlist">Search</h6>

$pages.include("$apphome/components/advancedsearch/index.html", $context)



<h6 class="vlist">Browse Categories</h6>

$pages.include("$apphome/components/categories/inline.html")


         
<h6 class="vlist">Saved Searches</h6>

$pages.include("$apphome/components/savedqueries/index.html", $context)

         
         
            </div>
          </div>
          <div class="c75r">
            <div class="subcr">
      
<h6 class="vlist">Devices</h6>

		$pages.includeContent()


            </div>
          </div>
        </div>







