#set( $historysearcher = $searcherManager.getSearcher($catalogid,"orderhistory") )
#set( $results = $historysearcher.fieldSearch("orderid",$order.id) )
#if( $results.size() > 0 )
<table class="commentbox striped" >
	<tr>
	<th style="padding-left: 4px;">Status</th>
	<th>Date</th>
	<th>User</th>
	<th width="50%">Note</th>
	</tr>
	#foreach( $hit in $results)
	<tr>
	#set( $stat = false)
	#set( $stat = $searcherManager.getData($catalogid,"order/userstatus",$hit.userstatus))
	<td style="padding-left: 4px;">$stat</td>					
	<td>$context.getDateTime( $hit.date )</td>
	<td>$!userManager.getScreenName($hit.userid)</td>					
	<td>$!hit.note</td>					
	</tr>
	#end
</table>
#end
<form name="addordercomment" method="post" id="addordercomment" class="commentresizer" action="$home$apphome/views/activity/status/addstatus.html">
	<input type="hidden" name="field" value="note" />
	<input type="hidden" name="field" value="userstatus" />
	<input type="hidden" name="save" value="true" />
	<input type="hidden" name="orderid" value="$order.id" />
	<table><tr>
		<td width="100%">
			#set($statuses = $searcherManager.getList($catalogid, "order/userstatus"))
			<div class="listdetailpicker">
			<div style="margin: 6px 0 6px 0" >
			<select name="userstatus.value" >
				<option value="">Change Status</option>
				#set( $recentstatus = false )
				#set( $recentstatus = $order.historyuserstatus )
				#foreach($status in $statuses )
					<option value="$status.id" #if( $recentstatus == $status.id) selected #end>$status</option>
				#end
			</select>
			</div>
			</div>
			<textarea width="100%" style="width: 100%;" rows="2"  name="note.value" class="commentinput"></textarea>
		</td>
		<td style="vertical-align: bottom">
			<ul class="editbuttons" >
				<li><a href="#" onclick='jQuery("#addordercomment").submit();'><span>Save</span></a>
			</ul>	
		</td>
	</tr></table>
	<br>
</form>
