$context.putPageValue("showselections", true)
$context.putPageValue("showsuggestions", true)
#if( $hits.getHitTrackers() )
	#foreach ($catalog in $hits.getHitTrackers().keySet())
		#set( $cathit = $hits.getSubTracker($catalog))
		#set ($args = "catalogid=$catalog&searchtype=asset&hitssessionid=$cathit.sessionId")
		#if( $cathit.size() > 0)
			$context.putPageValue( "hits", $cathit )
			$context.putPageValue( "parenthits", $hits )
			$pages.include("/${catalog}/results/catresults.html?$args", $context)
		#end
	#end
#elseif( $hits && $hits.size() > 0)
	#set ($args = "catalogid=$hits.catalogId&searchtype=asset&hitssessionid=$hits.sessionId")
	$pages.include("/${hits.catalogId}/results/catresults.html?$args", $context)
#end

#if( $hits.size() == 0 )
	<p>[[No results found]]</p>
#end
