#if( $caneditalbums)

#if(!$hits)
	#set($hits = $album.getAlbumItems($context))
#end

#if(!$catalogid)
	#set($catalogid = "$applicationid")
#end
#set( $id = "actions")
<div class="emcatalogheadericon"><a  href="#"   onmouseover="OEPopUp.showPopUp(this,'${id}menu',0,22);" onmouseout="OEPopUp.hide('${id}menu');">[[albums]]<br><img src="$home${themeprefix}/entermedia/images/photoalbum_16x16.png" border="0" title="Album" /></a>
<div id="${id}menu" class="empopupsection" style="visibility:hidden;" onmouseover="OEPopUp.showPopUp(this,'${id}menu',0,22);" onmouseout="OEPopUp.hide('${id}menu');">
<ul class="emactionsheadermenu">
    <li><a class="thickbox" href="$home/${applicationid}/albums/create.html?hitssessionid=$hits.sessionId&catalogid=$catalogid" target="_parent"><img border="0"  align="absmiddle"  src="$home/system/images/icons/photoalbum_16x16.png"  /> [[Create Album]]</a></li>
    <li><a class="thickbox" href="$home/${applicationid}/albums/addtogallery.html?hitssessionid=$hits.sessionId&onepage=false&catalogid=$catalogid&KeepThis=true&TB_iframe=true"><img border="0"  align="top" src="$home/system/images/icons/photoalbum_16x16.png"  /> [[Add All to Album]]</a></li>
    <li><a class="thickbox" href="$home/${applicationid}/albums/addtogallery.html?hitssessionid=$hits.sessionId&onepage=true&catalogid=$catalogid&KeepThis=true&TB_iframe=true"><img border="0"  align="top" src="$home/system/images/icons/photoalbum_16x16.png"  /> [[Add This Page to Album]]</a></li>

</ul>
</div>
</div>

#end 
