$!request.getAttribute( "oe-exception")
<div class="col4 login-form" >
	#if($user)
		<p>[[You are logged in as]] $user</p>		
	#end
		#set($loginok = $context.getRequestParameter("loginokpage"))

		<p class="note">Please enter your email address and password to log in, or <a href="#">register here.</a></p>
		<div class="hr"></div>
		<form name="login" id="login" action="$home$content.loginroot/login.html" method="POST" onsubmit="return confirmPassword(this);">
			<input type="hidden" name="loginokpage" value="$!loginok"/>
			<label for="login-email">[[Email or Username]]</label>
			<input class="field" type="text" id="accountname" name="accountname" />
			
			<label for="login-password">[[Password]]</label>
			<input class="field" name="password" type="password" />
			
			<input class="btn float-right" name="submit" type="submit" id="login-submit" value="[[Login]]" />
			#if ( $context.getPageValue("oe-exception") )
				<div style="border: 1px solid black; width: 60%; text-align: center">$context.getPageValue("oe-exception")</div>
				$context.removePageValue("oe-exception")
			#end
		</form>
		<p class="note" style="margin-top: 26px; margin-bottom: 10px;"><a href="$home$content.loginroot/sendpassword.html">[[Forgotten your password?]]</a></p>
</div>	


	<script language="JavaScript" >

	jQuery(document).ready(function() 
	{ 
		document.getElementById("accountname" ).focus();
	});
	function confirmPassword(form)
	{
		if(form.password.value=="")
		{
			alert("[[Please enter your password]]");
			form.password.focus();
			return false;
		}
		else
		{
			return true;
		}
	}
	</script> 
