

<div class="col4">
	<form id="registration-form" name="wizard" method="post" action="./register-finish.html">
		
		$context.putPageValue("view", "user/userprofile")	
		
		$pages.include("/system/components/xml/detaileditorcss.html", $context)
		
		<small>A password will be emailed to you.</small>
		
		#if( !$user && !$answer )
		<label for="registration-human-test">[[Registration test]]: $question.description</label>
		<input class="field small" type="text" name="answerid" id="registration-human-test" />
		#end
		
		<input class="btn blue" type="submit" name="registration-submit" id="registration-submit" value="[[Create New Account]]" />
		
	</form>
</div>
