[[Your account has been created]]
<br/><br/>

#set($loginokpage = $context.getRequestParameter("loginokpage"))
#if($loginokpage)
	#if( $loginokpage.contains("?"))
		#set($args = "&entermedia.key=$entermediakey")
	#else
		#set($args = "?entermedia.key=$entermediakey")
	#end
	<a href="$context.siteRoot$home/$loginokpage$!args">[[Complete Registration]]</a>
#else
<a href="$context.siteRoot$home/$applicationid/index.html?entermedia.key=$entermediakey">[[View Site]]</a>
#end

<br/><br/>
[[Your login information]]:

<br/><br/>
[[E-mail address]]: $newuser.getEmail()<br/>
[[Password]]: $!password<br/>