<html>
<body>

<table borderColor="#FFFFFF" cellSpacing="0" cellPadding="0" width="80%" bgColor="#ffffff" border="0">
  <tbody> 
<tr valign="top">
    <td colspan="2">
 
<p>[[Thank you for requesting your account information.]]</p>
<p>[[Please use the following email and password.]]</p>
<p>
[[Email]] = $mail</p>
[[Password]] = $pass<br>
<hr/>

#if( $context.siteRoot )
	#set( $link = "$context.siteRoot$home/$applicationid/authentication/login.html" )
#else
	#set( $link = "$url_util.buildRoot()$home/$applicationid/authentication/login.html" )
#end
<p><a href="$link">
[[Log into your site]].</a></p>

</td>
</tr>
</tbody>
</table>
<br/>

</body>

</html>
 
 