<h2>Testing Page</h2>

<form name="orders" action="testorders.html">
	<h3>Create an Order and publish to a server. Should take less than 1 minute</h3>
	<p>Please enter a test asset id: <input  name="testassetid" value="101" />	
	<!--
	Preset:</p>
	#set($presets = $searcherManager.getList($catalogid, "convertpreset"))
	<select name="">
	#foreach($preset in $presets)
	<option value="$preset.id">$preset</option>
	#end
	</select>
	-->
	Destination: #set($destinations = $searcherManager.getList($catalogid, "publishdestination"))
	<select name="localpublishdestination">
	#foreach($preset in $destinations)
	<option value="$preset.id">$preset</option>
	#end
	</select>

 <input type="submit" value="Run Publish Tests" />
</form>
<hr>
<form name="remoteorders" action="testremotepublish.html">
	<h3>Create publish request that will be completed using the web services. Should take less than 1 minute</h3>
	<p>Please enter a test asset id: <input  name="testassetid" value="101" />	<br>
	<p>Select a remote server that can only be fulfilled remotely</p> 
	<p>Destination: #set($destinations = $searcherManager.getList($catalogid, "publishdestination"))
	<select name="localpublishdestination">
	#foreach($preset in $destinations)
	<option value="$preset.id">$preset</option>
	#end
	</select>
	</p>
 <input type="submit" value="Remote Publish" />

</form>
