#if($pendingassets && $pendingassets.size() > 0 )
<div style="position:absolute;top:-100px;left:0px;z-index:-1;width: 1px;height:1px;background-color: green;">
<script src="$home$apphome/components/javascript/syncdownload.js" type="text/javascript" charset="utf-8"></script>
<APPLET  code="org.openedit.sync.SyncUploadApplet"
	width="1" height="1" MAYSCRIPT
	#set( $root = "$context.siteRoot$home/${applicationid}")
	archive="$home/system/openedit-upload.jar?v=$context.findValue('appletserial')">
	<PARAM name="listurl" value="$root/components/uploadqueue/pendingfiles.xml" />
	<PARAM name="uploadurl" value="$root/components/uploadqueue/savefile.html" />
	<PARAM name="cookies" value="$browser.getCookieListing()" />
	<PARAM name="appletname" value="$context.getRequestParameter('appletname')" />
</APPLET>
</div>

##<div id="ministatus"> </div>


#end


