#set($assetid = $context.getRequestParameter("assetid") )

#if( $asset.getUploadPercentage() == 1)
	$pages.include("$apphome/components/convertqueue/importstatus.html")
#else
#set( $barsize=$asset.getUploadPercentage()*120)
#set( $percentage=$asset.getUploadPercentage()*100)
#set( $percentageString=$percentage.toString())
#set( $percentageString=$percentageString.substring(0, $percentageString.indexOf(".")) )
<div id="upload$assetid" class="ajaxstatus" style="width:100px;" period="1000" ajaxpath="$home$apphome/components/uploadqueue/uploadstatus.html?assetid=$assetid">
<div style="width:100px;text-align: left;">
	<div class="loadingbar">
	    ##${percentageString}%
	    </div>
</div>
</div>
#end