<div id="keywordlist$asset.id" class="emtable clearfix">

#foreach($keyword in $asset.getKeywords())

  <a class="row" style="display:inline;" href="$home/$applicationid/search/multicatsearch/multiresults.html?searchtype=asset&field=$catalogid:asset/details:description&operation=matches&description.value=$keyword"><img border=0 src="$home${themeprefix}/images/detaileditor/keyword.png"> $keyword</a>


#if($caneditasset)

  <a style="display:inline;" class="ajax delete-row" targetdiv="keywordlist$asset.id" href="$home${cataloghome}/results/types/categorize/tags/removekeyword.html?assetid=${asset.id}&keyword=$keyword"><img src="$home${themeprefix}/images/detaileditor/close_16x16.png" title="delete tag"/></a>

#end
</a>
#end
</div>
