<link rel="stylesheet" href="$home/system/styles/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="$home/system/javascript/jquery.autocomplete.js"></script>

  <script>
 jQuery(document).ready(function(){
    var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
jQuery("#example").autocomplete('./suggestions.txt');
  });
  </script>
  
</head>
<body>
  API Reference: <input id="example" /> (try "C" or "E")
</body>
</html>
  