<h2>[[Data Editor]]</h2>

<div id="editlayout">
#set( $origURL = $context.getRequestParameter("origURL" ) )
#set( $view = $context.findValue("editview") )
$context.putPageValue("view", $view)

<form id="dataeditor" name="dataeditor" method="post" action="$home$content.dataroot/edit/save.html" >
	<input name="save" type="hidden" value="true" />
	<input name="id" type="hidden" value="$!data.id" />
	<input name="catalogid" type="hidden" value="$searcher.catalogId" />
	<input name="searchtype" type="hidden" value="$searcher.searchType" />
	<input name="origURL"  type="hidden" value="$!origURL" />
$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)

<input type="submit" value="Save" />
<div id="messagearea">$!message
</div>
</form>
<br><br>
<a href="./delete.html?searchtype=$searcher.searchType&id=$data.id">delete</a>
#if( $savedok && $origURL )
	<a href="$origURL">[[Go Back]]</a>	
#end


</div>
