<div id="emeditcaption$asset.id">

<form name="captioneditbox" class="ajaxform" targetdiv="emeditcaption$asset.id" action="$home${cataloghome}/results/types/categorize/caption/save.html?assetid=$asset.id">
<textarea name="caption.value" rows="5" cols="25" class="resizer">$!asset.caption</textarea>
<div class="emtable">
<div class="row">
<span><input type="submit" value="Save" /></span>
<span><a class="ajax" targetdiv="emeditcaption$asset.id" href="$home${cataloghome}/results/types/categorize/caption/index.html?assetid=$asset.id">Cancel</a></span>
</div>
</div>

<input type="hidden" name="save" value="true" />
<input type="hidden" name="field" value="caption" />
<input type="hidden" name="searchtype" value="asset" />
<input type="hidden" name="id.value" value="$asset.id" />
</form>

</div>
