#set($currentsearch = $context.getRequestParameter("searchtype"))
#set( $action = "$home$content.dataroot/list/index.html" )

<h2>[[Data Search]]</h2>

<form action="$action">
	<input type="hidden" name="catalogid" value="$catalogid"/>
	[[Data Type]]: <select name="searchtype" onchange="submit();">
		#foreach( $type in $searchtypes )
			#if($type != "CVS")
				<option id="$type" #if($type == $currentsearch) selected #end>$type</option>
			#end
		#end
	</select>
</form>
<br>
<div id="propertyEditPanel">
	$pages.streamContent()
</div>

<a href="reindex.html?catalogid=$catalogid&searchtype=$currentsearch">Reindex</a>