<div id="emcommentarea" class="clearfix">
#if(!$comments)
	#set($comments = $commentArchive.loadComments($asset))
	$context.putPageValue("comments",$comments)
#end


	#if( $cancomment )
		<form id="addcomment" name="addcomment" class="user-input-area ajaxform commentresizer clearfix" targetdiv="emcommentarea" action="${home}${apphome}/components/mediaviewer/comments/index.html" method="post">
			<textarea id="commenttext" name="comment" initialtext="[[Add a comment]]">[[Add a comment]]</textarea> 
			<input type="hidden" name="sourcepath" value="$asset.sourcePath"/>
			<input type="hidden" name="oemaxlevel" value="1"/>
			<input type="hidden" name="catalogid" value="$catalogid"/>
			<input class="btn right" type="submit" value="[[Save Comment]]"/>
		</form>
	#end	



#if(!$user)
<p>[[You must be]] <a href="$home/$applicationid/authentication/login.html">[[logged in]]</a> [[to leave a comment]]</p>
#end


<div id="emcomments">
	##foreach ($comment in $comments.getLast(2))
	#foreach ($comment in $comments.getLast(15))
		<div class="emcomment">	
				<span class="emcommentuser">$comment.user.getScreenName()</span>
			<div class="emcommenttext">
				#esc($comment.comment)
			</div>
			<div class="comment-bottom">
				<span class="emcommentdate">Posted on $comment.getShortDate($context.locale)</span>
			</div>
		
			#if($caneditasset)
				
				#if($candeletecomments)
					<span class="emcommentremove"><a href="#" onclick="jQuery('#removeComment${velocityCount}').submit();return false;">remove</a></span>
				#end
				<div>
				<form id="removeComment${velocityCount}" class="ajaxform" targetdiv="emcommentarea" action="${home}${apphome}/components/mediaviewer/comments/removecomment.html">
					<input type="hidden" name="sourcepath" value="$asset.sourcePath"/>
					<input type="hidden" name="commenttext" value="#esc($comment.comment)"/>
					<input type="hidden" name="commentuser" value="$comment.user.userName"/>
					<input type="hidden" name="commentdate" value="$comment.date.time"/>
					<input type="hidden" name="catalogid" value="$catalogid"/>
					<input type="hidden" name="oemaxlevel" value="1"/>
					
				</form>
				</div>
			#end
		</div>
	#end
	#if( $comments.size() > 15 )
	<a class="emdialog" href="$home$apphome/components/mediaviewer/comments/index.html?sourcepath=$asset.sourcepath">View all $comments.size() comments</a>
	#end
</div>
</div>