<div id="detaileditor">
    #set( $moduleid = $context.findValue("module") )
    #set ( $hitssessionid = $context.findValue("hitssessionid") )
    #macro (displaydetails $filename $label $assetid $view $print)
    $context.putPageValue("view", $view)
    #if ($print && $print == "true")
    $pages.include("$apphome/components/detaileditor/$filename?assetid=$assetid&view=$view&print=true&pluginpath=$apphome/components/detaileditor/$filename&module=$moduleid", $context)
    #else
    $pages.include("$apphome/components/detaileditor/toggle.html?pluginpath=$apphome/components/detaileditor/$filename&assetid=$assetid&label=$label&view=$view&module=$moduleid",$context)
    #end
    #end
    
    #set($hitssessionid = $context.findValue("hitssessionid"))
	#if($hitssessionid)
		#set($hits = $context.getSessionValue($hitssessionid))
		#if( $hits )$context.putPageValue("hits",$hits) #end
	#end
    

    #if( $asset )

              $pages.include("$apphome/components/detaileditor/navigate.html", $context)
   
    #set( $assettab = $context.findValue("assettab") )
    
   
    
    <div id="detailarea">
        <div id="de-table">
            <div class="tr">
                <div class="title-bar" style="border-left: none;"></div>
                #set( $section = $searcherManager.getData($catalogid,"detaileditormenu",$assettab) )

                <div class="title-bar" id="details-title">
                    <span>$section</span>
                </div>
                #if( $canviewassets )
                
                <div class="title-bar" style="border-right: none;">
                #if( $hits && $hits.hasMultipleSelections() )
                    <span style="text-align: center;">Selected Media</span>
                #else
                    <span style="text-align: center;">Related Media</span>
                #end    
                </div>
                #end
            </div>
            <div class="tr">
                #set( $expanded = $userprofile.isEnabled("expand_media_sidebar") )
                <div id="de-side-nav" class="#if( $expanded )open #else closed #end">

                    $pages.include("$apphome/components/detaileditor/assetmenuul.html?moduleid=$moduleid",$context)

                </div>
                <div id="details">

                    <div id="resultslist">
                        #set( $inpreviewpage = $content.isPropertyTrue("showpreviewpage") )
                        #if( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
                        	#set( $inpreviewpage = true )
                        #elseif( $content.assetrootfolder && $content.path.startsWith($content.assetrootfolder) )
                        	#set( $inpreviewpage = true )
                        #end
                        #if( $inpreviewpage )
	                        $pages.include("$apphome/views/modules/$moduleid/editor/viewer/index.html", $context)
                        #else
                            
                            $pages.include("$apphome/components/mediaviewer/player/mini.html", $context)
                            
                            #set ($listid =  $content.tab )
                            #if ($content.subtab)
                            <div id="eml-tab-subnav">
                                
                                <ul>
                                    #set( $screens = $searcherManager.getList($catalogid,$listid) )
                                    #foreach($screen in $screens)
                                    <li #if( $content.subtab == "$screen.id" ) class="current" #end>
                                        <a  href="$home$apphome${screen.path}?assetid=$asset.id&hitssessionid=$!hits.getSessionId()"><!-- <img  src="$home$themeprefix/images/icons/${screen.icon}.png"> -->$screen </a>
                                    </li>
                                    #end
                                </ul>
                            </div>
                            #end

	      

                            $pages.includeContent()
                            
                        #end

                    </div>
                </div>
                #if( $canviewassets || $order )
                
                #if( $hits && $hits.hasMultipleSelections() )
                <div id="selected-media">
                    $pages.include("$apphome/components/results/related/byselection.html",$context)
                </div>
                #else
                <div id="related-media">

                    $pages.include("$apphome/components/results/related/bykeyword.html",$context)
                </div>
                #end
                
                #end
            </div>
        </div>
    </div>

    <script type="text/javascript" >
        toggleEditSection = function(inId, inPath, inAssetID, inView, inLabel) {
            var targetDiv = "#" + inId;
            targetDiv = targetDiv.replace(/\//g, "\\/");
            jQuery(targetDiv).load('$home$apphome/components/detaileditor/toggle.html', {
                id : inId,
                pluginpath : inPath,
                origURL : "$content.path",
                module : "${moduleid}",
                assetid : inAssetID,
                view : inView,
                label : inLabel
            });
        }
    </script>

    #else

    <p class="info" style="margin: 20px;">
        [[Asset is missing]]
    </p>

    #end

</div>
