#set( $uploadtab = $context.findValue("uploadtab") )
#set ( $listid = "uploadmenu" )
<div class="subcolumns">
	<div id="left-col">
		<div class="ui-widget uipanel">
			<div  class="ui-widget-header">
				Upload
			</div>
			<div  class="ui-widget-content no-padding-for-real">
				<ul class="sidebar-list" style="margin: 0 -14px;">
					<li #if ( $uploadtab == "single" ) class="current"  #end>
						<a href="$home$apphome/views/upload/index.html">Single Asset</a>
					</li>
					#if( $canviewuploadmulti)
					<li #if ( $uploadtab == "multi" ) class="current"  #end>
						<a href="$home$apphome/views/upload/multiple.html">Multiple Assets</a>
					</li>
					#end
					#if ($cancreatenewrecord)
					<li #if ( $uploadtab == "new" ) class="current"  #end>
						<a href="$home$apphome/views/upload/createnew.html">Create New Record</a>
					</li>
					#end
				</ul>
			</div>
		</div>
	</div>
	<div id="right-col" class="padding">
		$pages.includeContent()
	</div>
</div>