#if( $owner )

<h2>User: $owner.getScreenName()</h2>

<div id="emplayerresultsfavorites" >
	<div class="emrounded"><h4><br></h4>
		<div class="emroundedbody">
		<div class="embox">
		$pages.include("$apphome/views/search/favorites.html?userid=$owner.id",$context)
		</div>	
		</div>	
	</div>	
</div>

<div id="emplayerresultsuploads" >
	<div class="emrounded"><h4><br></h4>
		<div class="emroundedbody">
		<div class="embox">
		$pages.include("$apphome/views/search/uploads.html?userid=$owner.id",$context)
		</div>	
		</div>	
	</div>	
</div>

#else

No user found

#end