#set($current = $context.getRequestParameter("searchtype"))

<form action="$home/$catalogid/settings/data/views/index.html">
	<input type="hidden" name="catalogid" value="$catalogid"/>
	[[Fields]]: <select name="searchtype" onchange="submit();">
		<option value=""></option>
	#foreach( $type in $viewtypes)
		<option id="$type.name" #if($type == $current) selected #end>$type</option>
	#end
	</select>
	
</form>
<br>



<div  id="emselectable">
<table width="700">
#foreach( $view in $views)
<tr rowid="$view.name">
	<td><b>$view.name</b><div class="emselectabledetails">$context.getText("$!view.usagelabel")</div></td>
</tr>
#end
</table>

#set( $searchtype = $context.getRequestParameter("searchtype") )
<form name="editview" action="edit.html"> 
	<input type="hidden" name="view" id="emselectedrow" />
	<input type="hidden" name="searchtype" value="$searchtype" />
</form>

</div>

<br>
	#if( $catalogid && $searchtype)

<form name="changeviewname" id="changeviewname" action="addnewview.html">
<input type="hidden" name="catalogid" value="$!catalogid"/>
<input type="hidden" name="searchtype" value="$searchtype"/>

[[New View Name]]: <input name="newname" />
<input type="submit" value="[[Add]]"/>
</form>

</div>


	#end


