#if ( $editPage.getMimeType().startsWith("image/")) 
	#set ( $type = "image" )
#else 
	#set( $type = "file" )
#end

$context.putPageValue("type", $type)
$context.putPageValue("editPath", $editPage.path)
#set( $canedit = $pages.canEdit($editPage.path))
#set( $newcontext = $context.copy($toolbar) )
$!newcontext.setEditable($canedit)

<div style="border: 1px solid gray; min-width:140px;"  valign="top">
<div id="oeactions" style="background-color:#c0d2ec;">	

<table cellpadding=0 cellspacing=0 class="oeactionbar" width="95%">
	<tr>
	<td style="font-size: 9pt;padding-right:5px;">
	
	</td>
	#if (!($canuseeditmenu == false))
	<td>
		$pages.include("${page.filerootpath}/overview/actionbuttons.html", $context)
	</td>
	#end
	
	</tr>
</table>	
</div>
	
<div id="oeactions" style="background-color:#BBBBBB;" > 
<div id="oework">
	#if( $editPage.exists() )
		#set( $toolbar =  $pageManager.getPage("/system/tools/toolbar.html" ) )
		<!-- 
		$!newcontext.putPageValue("editPage",$editPage)
		$!newcontext.putPageValue("originalPage", $editPage)
		$pageTree.treeRenderer.setSelectedNodeByUrl($editPage.parentPath)
		 -->
		 
	  	 #if( !$editPage.isBinary() )
			$pages.include("$page.filerootpath/text/textarea.html?editPath=$editPage.path", $context)
		 #elseif( $editPage.getMimeType().startsWith("image/") )
			#if( $editPage.getContentItem().getLength() < 50000 )
			<img src='$home$editPage.getPath()?cache=false' />
			#else
				<p><a href="$home$editPage.getPath()?cache=false">[[View Fullsize Image]]</a></p>
				<h3>[[Image Preview]]</h3>
				<img src='$home$editPage.getPath()?cache=false' width="500" />
			#end
		 #else
		 	<p style="padding: 4px"><b>$editPage.getMimeType()</b></p>
		 #end	
		#set( $revision = $pageManager.getLatestVersion($editPage.path) )
		#if( $revision.author )	[[Last Edited By]]: $revision.author on #end	
		$editPage.getLastModified("MM/dd/yy h:mm a") 	$context.getPageProperty('text.filesize'): $filesize.inEnglish( $editPage.path )
	#else
	[[Does not exist]]
	#end
</div>
</div>
</div>
<a style="font-weight: bold;" href="$home$editPage.path" target="_blank">$editPage.name</a>
