<h2>[[Upload New Media]]</h2>
#set( $path = $context.getRequestParameter('path') )
#set( $target = $pageManager.getPage($path))
#if( !$target.isFolder() )	
#set ($path = $target.getParentPath())
#end


<div id="alluploadfiles">
<!-- 
<p align="center">Try <a href="#" onclick="usedragdrop(); return false;" >drag and drop</a> ([[requires Java]])</p>
 -->
$pages.include("$page.filerootpath/upload/uploadfield.html?path=$path")
</div>

##This div is important. AJAX replaces it.
<div id="waiting">
</div>


</p>

<script type="text/javascript" >
	var rowcount = 0;

	usedragdrop = function()
	{	
		jQuery('#alluploadfiles').load('$home$page.filerootpath/upload/dragdropform.html?path=$path');
	}
	startUpload = function(inFormId)
	{
		var uform = document.getElementById(inFormId);
		uform.style.display = "none";		
		document.getElementById(inFormId + "target").style.display = "block";	
		
		rowcount++;
		jQuery('#alluploadfiles').append("<div id='addanotherfile" + rowcount + "'>...</div>");
		jQuery('#addanotherfile' + rowcount).load('$home$page.filerootpath/upload/uploadfield.html', { path: '$path', rowcount: rowcount } );
	
		uform.submit();
	}
	
	addAnotherFile =  function()
	{

	}
	
 	upload =  function( inForm )
 	{
 		if ( inForm == null )
		{
			alert("[[No form found]]");
			alert( "see:" + document.getElementById('uploadform') );
		}
		//inForm.target = "_self";
		inForm.Finish.disabled = true;
		new Insertion.Bottom('waiting', "<div>Uploading, please wait...</div>");
		//inForm.submit();
 	}

	SetPath =  function( inUrl )
	{
		var input = document.getElementById("path");
		input.value = inUrl;
	}
	
</script>
