
#set( $rowcount = $context.getRequestParameter("rowcount"))
#if( !$rowcount)
	#set( $rowcount = "0")
#end
#set( $path = $context.getRequestParameter('path') )
<form name="uploadwizard$rowcount" id="uploadwizard$rowcount"  target="uploadwizard${rowcount}target" method="post" enctype="multipart/form-data" action="$home$page.filerootpath/upload/uploadfile-finish.html" >

	<p>
<label>[[For zip files]]: </label> <input type="checkbox" name="unzip" value="true" checked /> [[Unzip files after uploading]]
	</p>
	
<input type="file" size="50" onchange="startUpload('uploadwizard$rowcount');"  name="file.${rowcount}">
#set( $destination = $context.getRequestParameter("destination"))


	<input type="hidden" id="path" name="path" value="$path" size="35"  />

</form>
<iframe id="uploadwizard${rowcount}target" name="uploadwizard${rowcount}target" src="$home$content.filerootpath/upload/spinner.html" scrolling="no" style="display:none;width:400px;height:55px;border:0px solid #fff;">
</iframe>
