#oeadmin {
    background-color: white;
    padding: 10px;
}
#oeadmin fieldset {
    padding: 4px;
}
#oeadmin p {
    font-family: "Verdana","Arial","Helvetica","Sans-serif";
    font-size: 9pt;
    margin: 0;
}
#oeadmin td {
    font-family: "Verdana","Arial","Helvetica","Sans-serif";
    font-size: 9pt;
    text-align: left;
}
#oeadmin th {
    font-size: 10pt;
    margin: 0 10px 0 0;
    padding: 10px 10px 10px 0;
    text-align: left;
    white-space: nowrap;
}
#oeadmin H1 {
    color: #31578D;
    font-family: "Verdana","Arial","Helvetica","Sans-serif";
    font-size: 12pt;
    margin: 5px;
}
#oeadmin H2 {
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    color: #31578D;
    font-family: "Verdana","Arial","Helvetica","Sans-serif";
    font-size: 9pt;
    margin-top: 5px;
}
#oeadmin label {
    white-space: nowrap;
}
li.nohover {
    list-style-type: none;
    text-decoration: none;
}
legend {
    font-weight: bold;
    padding-bottom: 10px;
}
.oeinputform {
}
.oeinputform p {
    border-top: 1px dashed gray;
    clear: left;
    height: 1%;
    margin: 0 0 0 10px;
    padding: 5px 0 0 180px;
    width: 351px;
}
.oeinputform label {
    float: left;
    font-weight: bold;
    width: 90px;
}
.oesearchform {
    text-align: right;
}
.oesearchform div {
    border-top: 1px dashed gray;
    display: block;
    height: 1%;
    margin: 0;
    padding: 5px 0 8px;
    width: 300px;
}
.oesearchform label {
    width: 90px;
}
.searchlabel {
    display: block;
    text-align: right;
    white-space: nowrap;
}
.searchlabel span {
}
.oesearchformflat div {
    display: inline;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}
.oesearchformflat label {
    font-weight: bold;
    margin: 0;
    padding: 0 10px 0 5px;
}
dt {
    float: left;
    font-weight: bold;
    padding-right: 5px;
    text-align: right;
    width: 150px;
}
dd {
    margin-left: 170px;
}
.oesideheaderup {
    background-color: #DADADA;
    font-size: 0.8em;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 2px;
    white-space: nowrap;
}
.oesideheaderdown {
    background-color: #DADADA;
    font-size: 0.8em;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-left: 4px;
}
A.oesidelinkheader {
    text-decoration: none;
}
A.oesidelinkheader:visited {
    text-decoration: none;
}
A.oesidelinkheader:hover {
    text-decoration: underline;
}
.tabcontent {
    padding: 15px;
}
.oepopupsection {
    visibility: hidden;
    width: 130px;
}
#oepopup {
}
#oepopup table {
    left: 0;
    position: absolute;
}
#oepopup ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#oepopup ul li a {
    display: block;
    text-align: left;
    text-decoration: none;
}
#oepopup ul li ul a {
    background: none repeat scroll 0 0 #EFEFEF;
    border-color: #CCCCCC #888888 #555555 #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-family: "Verdana","Arial","Helvetica","Sans-serif";
    font-size: 9pt;
    margin: 0;
    padding: 4px;
    text-decoration: none;
}
#oepopup ul li ul li a:hover {
    background-color: #FFFFFF;
    border-color: #CCCCCC #888888 #555555 #BBBBBB;
    border-style: solid;
    border-width: 1px;
}
#oepopup li {
    padding: 2px;
    position: relative;
}
#oepopup ul ul {
    position: absolute;
    z-index: 500;
}
#oepopup ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}
div#oepopup ul ul, div#oepopup ul li:hover ul ul, div#oepopup ul ul li:hover ul ul {
    display: none;
}
div#oepopup ul li:hover ul, div#oepopup ul ul li:hover ul, div#oepopup ul ul ul li:hover ul {
    display: block;
}
.note {
    color: LightSlateGrey;
    font-style: italic;
}
.oeglossymenu {
    border: 1px solid #9A9A9A;
    list-style-type: none;
    margin: 1px 0;
    padding: 0;
    position: absolute;
    width: 200px;
    z-index: 600;
}
.oeplugindivider {
    border-top: 1px solid #DDDDDD;
}
.oeglossymenu li a {
    background-color: #F7F7F7;
    border-top: 1px solid white;
    display: block;
    font: 12px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
    padding: 4px 0 4px 10px;
    text-align: left;
    text-decoration: none;
    width: auto;
}
* html .oeglossymenu li a {
    width: 160px;
}
.oeglossymenu li a:visited, .oeglossymenu li a:active {
}
.oeglossymenu li a:hover {
    background-color: #DDDDDD;
}
#oeglossymenuselected {
    background-color: #DDDDDD;
    font-weight: bold;
}
.oegreenheadermenu TR {
    background: url("../images/menu/menu-container-green-bk.gif") repeat-x scroll center center white;
}
#oegreenheadermenutext {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#oegreenheadermenutext a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#oeblueheadermenu {
    background: url("../images/menu/help-bg.gif") repeat-x scroll center center white;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#oeblueheadermenu a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0 3px 5px;
    text-decoration: none;
}
#oegreenmenu {
    background-color: #62AD37;
    border-bottom-width: 0;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 170px;
    z-index: 600;
}
#oegreenmenu li a {
    background-color: #62AD37;
    border-bottom: 1px solid white;
    color: white;
    display: block;
    font: 13px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
    margin: 0;
    padding: 4px 4px 4px 8px;
    text-decoration: none;
    width: auto;
}
* html #oegreenmenu li a {
    width: 170px;
}
#oegreenmenu li a:visited, .oeglossymenu li a:active {
}
#oegreenmenu li a:hover {
    background-color: #62A037;
}
#oeggreenmenuselected {
    font-weight: bold;
}
#oeactions {
    background-color: white;
    list-style-type: none;
    margin-left: 0;
    padding: 4px 4px 4px 0;
    text-decoration: none;
}
#oeactions a {
    padding: 1px 4px 1px 8px;
    text-decoration: none;
    white-space: nowrap;
}
#oeactions A:hover {
    background-color: #E0E0E0;
    white-space: nowrap;
}
#oeactionsselected {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    text-decoration: none;
}
#oeactionsselected A {
    text-decoration: none;
    white-space: nowrap;
}
A.oeactionlink {
    display: block;
    padding-left: 5px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
A.oeactionlink:hover {
    background-color: #C0D2EC;
}
A.oeactionlink img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
A.oeactionlinkselect {
    display: block;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
}
A.oeactionlinkselect:hover {
    background-color: #E0E0E0;
}
.actionlink A {
    display: block;
    padding-left: 5px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
.actionlink A:hover {
    background-color: #E0E0E0;
    text-decoration: none;
}
.actionlink img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.actionlinkopen {
    background-color: #CCCCF9;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
}
.actionlinkopen img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.actionlinkopen A {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}
.oeactionlist {
    margin: 0;
    padding: 0;
}
.oeactionlistitem {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.oeactionlistitemselected {
    background-color: #CCCCF9;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
}
li.oeactionlistitemselected A {
    text-decoration: none;
}
li.oeactionlistitem A {
    text-decoration: none;
}
li.oeactionlistitem:hover {
    background-color: #E0E0E0;
}
li.oeactionlistitem A:hover {
    background-color: #E0E0E0;
}
.oeactionlistdd {
    background-color: #EEEEEE !important;
    position: absolute;
    text-align: left;
    z-index: 10;
}
.oeactionlistitemdd {
    background-color: #EEEEEE;
    list-style-type: none;
    margin-left: 8px;
    margin-right: 1px;
    padding-left: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.oeactionlistitemselecteddd {
    background-color: #CCCCF9;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
}
li.oeactionlistitemselecteddd A {
    text-decoration: none;
}
li.oeactionlistitemdd A {
    text-decoration: none;
}
li.oeactionlistitemdd:hover {
    background-color: #E0E0E0;
}
li.oeactionlistitemdd A:hover {
    background-color: #E0E0E0;
}
.oeinputform p {
    border-top: 1px dashed gray;
    clear: left;
    height: 1%;
    margin: 0;
    padding: 5px 0 8px 180px;
    width: 351px;
}
.oeinputform label {
    float: left;
    font-weight: bold;
    margin-left: -180px;
    width: 90px;
}
table.oepropertiestable {
    border-collapse: collapse;
    margin: 5px;
}
table.oepropertiestable tr {
    border-top: 1px dashed green;
}
td.oetableleft {
    padding-left: 20px;
    text-align: right;
}
td.oetableright {
    padding-left: 40px;
    text-align: left;
}
.oedarktable th {
    background-color: #EEEEEE;
    color: #555555;
    padding: 2px;
}
.oeevenrow {
    background-color: #EEEEEE;
}
div.auto_complete {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 350px;
}
div.auto_complete ul {
    border: 1px solid #888888;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
div.auto_complete ul li {
    margin: 0;
    padding: 3px;
}
div.auto_complete ul li.selected {
    background-color: #FFFFBB;
}
div.auto_complete ul strong.highlight {
    color: #880000;
    margin: 0;
    padding: 0;
}
