	<div id="topnavsearch">
		<form name="quick" id="quicksearch" method="post" action="$home/$applicationid/components/searchbuilder/multicatsearch/multiresults.html">
			<input type="hidden" name="searchtype" value="asset"/>
			<input type="hidden" name="termid" value="description"/>
			#set( $defaultcatalog = $userprofile.lastCatalog )
			<input type="hidden" name="field" value="$!defaultcatalog.id:asset/searchdetails:description"/>
			<input type="hidden" name="operation" value="startswith"/>
			<input type="hidden" name="resulttype" value="search"/>
				#if($query.getInput('description'))
					#set($searchval = $query.getInput('description'))
				#else
					#set($searchval = "[[Search]]")
				#end
			<input class="defaulttext" onclick="clearSearch();" type="text" id="assetsearchinput" name="description.value" value="$searchval"/>
			#if( $canviewadvancedsearch )
				<a style="display:inline;" href="$home/${applicationid}/search/index.html"><img title="Advanced Search" src="$home$themeprefix/entermedia/images/navigation/search.png"/></a>
			#else
				<input type="image" style="display:inline;border:0px;" title="Advanced Search" src="$home$themeprefix/entermedia/images/navigation/search.png"/>
			#end	
		</form>
	</div>
<script type="text/javascript">
	clearSearch = function()
	{
		if(jQuery("#assetsearchinput").val() == "[[Search]]")
		{
			jQuery("#assetsearchinput").attr("value", "");
			jQuery("#assetsearchinput").removeClass("defaulttext");
		}		
	}
 
 </script>