#set ($link = $mediaarchive.asLinkToPreview($asset.sourcepath))
#set($indexOf = $hits.indexOf($asset.catalogid, $asset.id))

	#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))

	#if( $type != "video" )
		<a class="slideshow emdialog" href="$home$link" target="_parent"
		pageturner="$home$apphome/components/lightbox/pageturner.xml?hitssessionid=$hits.getSessionId()&amp;index=$indexOf"
		title="[[Slideshow]]">
		$pages.include("$apphome/components/mediaviewer/player/types/${type}.html",$context)
		</a>
	#else	
		$pages.include("$apphome/components/mediaviewer/player/types/${type}.html",$context)
	#end
