#set ( $sourcePath = $request.getParameter( "path" ) ) 
#set ( $destinationPath = "$sourcePath" ) 
#set( $ind = $destinationPath.indexOf(".") ) 
#if ( $ind > 0 ) 
	#set( $begin = $sourcePath.substring(0,$ind ) ) 
	#set( $end = $sourcePath.substring($ind) ) 
	#set ( $destinationPath = "${begin}-copy${end}" ) 
#end

<form id="copywizard" name="copywizard" class="ajaxform" targetdiv="oetabarea" method="post" action="$home${page.filerootpath}/copypage/copypage-finish.html">
<input type="hidden" name="param-part" value="req.destinationPath"/>
<input type="hidden" name="param-name" value="newpath"/>

<input type="hidden" name="sourcePath" value="$sourcePath">

<p>$context.getPageProperty('text.enterfullpath'):<br>
<input type="text" size="40" name="destinationPath" value="$destinationPath">
<br>
<p>
	<input type="submit" name="FINISH" value="[[Copy]]" />
<!--  No one ever uses this
 <a
	href="$home${page.filerootpath}/copypage/timecopy/index.html?path=$sourcePath"
	class="oestandard-button">$context.getPageProperty('text.schedule')</a>
<a href="$home${page.filerootpath}/copypage/timecopy/viewentries.html"
	class="oestandard-button">$context.getPageProperty('text.entries')</a>
	 -->
</p>
</form>
