/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
*/

@import url("../entermedia/styles/rational.css");

/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6
{
	color: #6a6a6a;
}

.embody
{
	font-family: "Trebuchet MS", sans-serif;
	color: #7a7a7a;
	font-size: 11pt;
}

a
{
	color: #AF0A0A;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
	margin: 1em 1.0em 1em 1.0em;
}

/* Header */

#header
{
	padding: 0em 1.5em 0em 1.5em;
	height: 5em;
	width: 15em;
	float: left;
	position: relative;
	background: #AF0A0A url('../images/a1.gif') top right no-repeat;
}

#header h1
{
	position: absolute;
	bottom: 1.5em;
	font-size: 1.3em;
	letter-spacing: 0.1em;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	bottom: 1em;
	color: #EFE0E0;
	font-size: 0.8em;
}

/* Menu */

#menu
{
	height: 5em;
	background: #fafafa url('../images/a2.gif') top left repeat-x;
	margin-left: 18em;
	position: relative;
	text-align: right;
}

#menu ul
{
	list-style: none;
	position: absolute;
	top: 1.8em;
	margin-left: 1.5em;
}

#menu li
{
	display: inline;
	border-left: dotted 1px #848484;
	padding-left: 0.8em;
}

#menu li.first
{
	border-left: 0px;
	padding-left: 0em;
}

#menu li a
{
	text-decoration: none;
	color: #6a6a6a;
	font-weight: bold;
	padding: 0.8em;
	margin-right: 0.8em;
	font-size: 0.9em;
}

#menu li a:hover
{
	background: #AF0A0A url('../images/a4.gif') bottom left repeat-x;
	color: #fff;
}

/* Content */

#content
{
	background: #fff url('../images/a3.gif') top left repeat-x;
	margin-top: 1px;
	padding-top: 0em;
}

#content p
{
	margin-bottom: 1em;
	line-height: 1.3em;
}

#content h2
{
	font-size: 1.1em;
}

#content h3
{
	font-size: .9em;
}

#content h2,h3,h4,h5,h6
{
	padding-bottom: 0.2em;
	margin-bottom: 1.2em;
	border-bottom: dotted 1px #cacaca;
}


#content blockquote
{
	border-left: solid 0.8em #cacaca;
	padding: 0.5em 0em 0.5em 1.0em;
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

#content blockquote p
{
	display: inline;
}

#Xcontent table
{
	margin-bottom: 1.5em;
}

#Xcontent table th
{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}

#Xcontent table td
{
	padding: 0.5em;
}

#content table tr.rowA
{
	background-color: #f5f5f5;
	color: inherit;
}

#content table tr.rowB
{
	background-color: #fdfdfd;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	float: right;
	margin-left: -19em;
	width: 100%;
}

#primaryContent
{
	margin: 0em 0em 0em 18em;
	padding: 1.5em;
	border-left: dotted 1px #cacaca;
}

/* Secondary Content */

#secondaryContent
{
	float: left;
	width: 15em;
	//padding: 1.5em;
}

/* Footer */

#footer
{
	margin-top: 1.0em;
	border-top: dotted 1px #cacaca;
	padding: 1.5em;
	font-size: 0.9em;
	text-align: center;
}

.clear
{
	clear: both;
}
.navbox
{
	background-color: gray;
}
