<div id="allpermissions">

<h2 style="width: 500px;">[[Permissions]]</h2>

<p>[[Please select the permission to edit or remove.]]</p>
<br>
<div id="emselectable" style="width:500px;">

<form name="permissionsform" class="ajaxform" targetdiv="allpermissions" action="edit.html">
<table  style="width:100%;">		
	#foreach($perm in $permissions)
	<tr rowid="$perm.id">
		<td ><b>$context.getText($perm.name)</b><div class="emselecttabledetails">$context.getText($perm.description)</div></td>
		<td><br> 
		#set( $permission = false )
		#set( $permission = $settingspage.getPermission($perm.id) )

#if( !$permission || $permission.toString() == "false" )
[[Nobody]]
#elseif( $permission.toString() == "true" || $permission.toString() == "" )
[[Anyone]]
#else
$permission
#end
		</td>
		<td></td>
	</tr>
#end
</table>
	<input type="hidden" name="id" id="emselectedrow"  />
##	<input type="submit" class="emneedselection" disabled="true" value="Edit"/>
	<input type="hidden" name="editPath" value='$context.findValue("editPath")'  />

</form>
</div>

<div id="editpermission" style="min-width:500px;">
</div>
</div>