#set( $editNode = $pageTree.getTreeRenderer().setSelectedNodeByUrl($editPage.path))
#set ($parentID = $pageTree.getTreeRenderer().getSelectedNode().ID)
#set ($children = $pageTree.getModel().getHitTracker($parentID))

#set ( $pageNum = $context.getRequestParameter("pagenum") )
#set ($Integer = 0)
#if ($pageNum)
	#set ($curPage = $Integer.parseInt($pageNum))
#else
	#set ($curPage = 1)
#end



$children.setHitsPerPage(1000)
$children.setPage($curPage)

#if ($children.prevPage())
<a href="#" onclick="changePage('$parentID', $children.prevPage())">[[Prev Page]]</a>
&nbsp;
#end
#if ($children.nextPage())
<a href="#" onclick="changePage('$parentID', $children.nextPage())">[[Next Page]]</a>
#end

#if( $children.size() > 0 )
<table width="100%" cellspacing="0" cellpadding="0" class="oedarktable">
<tr>
<th width="30%">[[Name]]</th>
<th width="20%">[[Size]] (bytes)</th>
<th width="50%">[[Last Modified]]</th>
</tr>
#foreach( $node in $children.getPageOfHits())   ##Build in a way to search a hit tracker
	#set($selected = $pageTree.isChildSelected( $node) )
	#if($selected)	#set( $open = "open") #else 	#set( $open = "")#end
	#if($node.isVirtual()) #set($type = "linked" ) #else #set($type = "" )#end
#if( $even )
#set( $even = false)
	<tr class="oeevenrow"> 
#else 
#set( $even = true)
	<tr> #end
	
	
	#if($node.isLeaf() )				
		
		<td class='actionlink$open'><a  href="$home$apphome/components/html/edit/htmledit/index.html?editPath=$node.getURL()&origURL=$node.getURL()&path=$node.getURL()"><img src="$home$themeprefix/images/tree/${type}page.gif" />$node.getName()</a>
		</td>
		<td class='actionlink$open'>&nbsp;$node.contentItem.length</td>
		<td class='actionlink$open'>$node.contentItem.lastModified().toString()</td>
	#else
		##<td class='actionlink$open' width="1%"><a class="ajax" targetdiv="allsections" href="$home$page.filerootpath/tab.html?path=$node.URL"><img src="$home$themeprefix/images/tree/${type}folder${open}.gif" />$node.getName()</a></td>
		<td class='actionlink$open' width="1%"><a class="ajax" targetdiv="allsections" href="$home$page.filerootpath/tab.html?path=$node.URL"><img src="$home$themeprefix/images/tree/${type}folder${open}.gif" />$node.getName()</a></td>
		<td class='actionlink$open' align="left" colspan=3 ><img src="$home$themeprefix/images/tree/right.gif" /></td>
	#end
	</tr>
#end
</table>
#else
<p>[[Empty Folder]]</p>
#end
