#if($type == "folder" )
	#if( $pages.canEdit($editPath) || $caneditallfiles)
		<li>
			<a data-title="[[Upload Files]]" class="ajaxDialog" href="$home${page.filerootpath}/upload/index.html?path=$editPath&oemaxlevel=1" ><span><img src="$home$themeprefix/images/toolbar/uploadfile.gif" border="0" title="$context.getPageProperty('text.pushdirectory')" /> [[Upload File]]</span></a>
		</li>
	#end
	<li>
		<a href="$home${page.filerootpath}/download/zip/${editPage.name}.zip?path=${editPath}"><img src="$home$themeprefix/images/toolbar/download.gif" border="0"/> [[Download In Zip]]</a>			
	</li>
#else
	<li>	
		<a href="$home${page.filerootpath}/download${editPath}"><img src="$home$themeprefix/images/toolbar/download.gif" border="0"/> [[Download File]]</a>	
	</li>
#end