
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#if($val && $val != "")
#set( $foundrow = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$val) )  
#set($module = $searcherManager.getData($catalogid, "module", $detail.listId ) )
	#if($module)
	
		#if($module.id == "asset")
		    #set($link = "$home$apphome/views/modules/asset/editor/generalinformation/index.html?assetid=$val" )
		#else
			#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )
			#set($link = "$home$apphome/views/modules/${module.id}/edit/edit.html?id=$val&viewid=$defaultview.id&viewpath=$module.id/$defaultview.id&hitssessionid=${hits.sessionId}&searchtype=$module.id")
		#end
	
	#else
	
		#set($link = "$home$apphome/views/settings/lists/datamanager/edit/edit.html?id=$val&searchtype=$detail.listId")
	
	#end

#if($detail.render && $foundrow)
#set($label = $replacer.replace($detail.render, $foundrow.properties))
#else
#set($label = $foundrow.name)
#end

 	<a class="btn" href="$link">#esc($label)</a>

#end
