#set( $slink = $linktree.getSelectedLink() )
#if( $slink && $slink.hasChildren() )

	<h3>$slink.text Links</h3>
	<ul>
	#foreach( $child in $slink.children )
			<li><a #if ( $child.isChildSelected() )class=subactive #else class=submenu #end href="$home$child.path" >$child.text</a></li>
			#if( $child.hasChildren() && $child.isChildSelected() ) 
				<ul>
				#foreach( $subchild in $child.children )
						<li><a #if ( $subchild.isChildSelected() )class=subactive #else class=submenu #end href="$home$subchild.path" >$subchild.text</a></li>
				#end
				</ul>
			#end
	#end
	</ul>
#end

