@charset "UTF-8";
/* SHARING SCREEN CSS TEMP */
a img {
	border: none;
}

.bordered_holder {
	width: 507px;
	min-height: 563px;
	margin: auto;
	border: 1px solid #d6c4c4;
	background: #f6f1eb;
	padding-bottom: 12px;
}

.sharing_wrapper {
	padding: 15px;
}

.header_element {
	background: #AAA;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 4px 4px 6px;
	width: 98%;
}

.access_message {
	color: #333;
	padding-left: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.field_title {
	color: #d6c4c4;
	font-weight: 600;
	margin-top: 30px;
	padding-left: 12px;
	line-height: 28px;
}

#people_container {
	margin-top: 10px;
	width: 100%;
}

#people_container table tr {
	border-bottom: 1px solid #d6c4c4;
}

#people_container td {
	border: none
}

table.people_table {
	border: 1px solid #D6C4C4;
	font-size: 13px;
	width: 100%;
	border-collapse: collapse;
}

.people_table td {
	border: 1px solid #D6C4C4;
	font-size: 13px;
}

/* TABLE STYLING */
td.avatar {
	width: 8%;
	vertical-align: middle;
}

td.user {
	width: 68%;
}

td.userlevel {
	width: 24%
}

td.userlevel img {
	margin-left: 65%
}

/* ADD PEOPLE BOX */
.add_person_box {
	background: #E1E1E1;
	border: 1px solid #d6c4c4;
	border-top: none;
	max-height: 85px;
	padding: 15px;
	padding-top: 10px;
}

.add_person_box input {
	width: 97%;
	margin-top: 5px;
	padding: 7px 5px;
	border: 1px solid #9D9D9D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.add_person_box input:focus {
	border: 2px solid #9D9D9D;
}

.add_person_box span {
	font-size: 12px;
	color: #9D9D9D;
}

.bottom_mod {
	float: right;
	margin-top: 6px;
}

.bottom_mod input[type="submit"] {
	padding: 6px 9px;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	background: #E6E6E6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d0d0d0;
	border-bottom: 1px solid #b5b5b5;
}

.bottom_mod input[type="submit"]:hover {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	background: #D1D1D1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b5b5b5;
	border-bottom: 1px solid #d0d0d0;
}