.emsidemenu
{
	padding-top: 30px;
}

#emcontainer .emsideeditbuttonwrapper
{
	margin-right: -26px;
	margin-top: 10px;
}

#emcontainer .emsidemenuselected .emsideeditbuttonwrapper
{
	background-color: #94BA65;
	-webkit-border-radius: 5px 5px;
	-o-border-radius: 5px 5px;
	-ms-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	-moz-border-radius-topleft: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	
}

#emcontainer .emsideeditbutton a
{
	padding: 6px 20px 6px 20px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	white-space:nowrap;
	
	
}
#emcontainer .emsideeditbutton a img
{
	vertical-align: bottom;
	padding-right: 6px;	
}

#emcontainer .emsidemenuselected .emsideeditbutton a
{
	color: white;
}


#emcontainer .emsideeditwrapper
{
	margin: 10px;
	background-color: #94BA65;
	overflow:hidden;
	min-height: 500px;
		-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-o-border-radius: 5px 5px;
	-ms-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	border-radius: 5px 5px;
}

#emcontainer .emsideedit
{
	min-height: 460px;
	background-color: #eee;
	margin: 20px;
	padding: 10px 20px 5px 20px;
	overflow:hidden;
	
}

