

<h3>[[Upload your data]].</h3>
<p>[[Once the upload is completed your members will be able to login]].</p>

<fieldset>
    <legend>[[CSV Import]] <!-- (<a href="$home$content.searchhome/import/sample.csv">Sample</a>) --></legend>
	<form name="excelimport" method="post" enctype="multipart/form-data" action="./importfinish.html">

	<p><label>Excel Input File</label> <input type="file" size="25" name="file"> </p>
		<input type="hidden" size="20" name="path" value="$home$content.searchhome/temp/import/import.csv" />
		<input type=submit value="Import" />
	</form>
</fieldset>

