<div id="emselectable">
<table width="600">
#foreach( $detail in $properties)
<tr rowid="$detail.id">
#set( $link = "catalogid=$catalogid&searchtype=$searchtype&id=$detail.id")
	<td><b>$detail.id</b><div class="emselectabledetails">$!detail.getText($context)</div></td>
	<td><br>$!detail.getExternalId()</td>
		
</tr>
#end
</table>
##this will auto submit when they click
<form name="editlink" action="edit.html">
	<input type="hidden" name="id" id="emselectedrow" value="" />
	<input type="hidden" name="catalogid" value="$catalogid" />
	<input type="hidden" name="searchtype" value="$searcher.getSearchType()" />
##	<td><a href="remove.html?$link">[[delete]]</a></td>
</form>

</div>

<br>
	#if( $catalogid && $searchtype)
		<form action="addnew.html" name="addnewprop">
			<input type="hidden" name="catalogid" value="$!catalogid" />
			<input type="hidden" name="searchtype" value="$searchtype" />
			<b>[[Add New Field]]: </b><input type="text" name="newproperty"  />		<input type="submit" value="[[Save]]" />
	</form>
		
	#end


