body {
	background: #f4f4f4;
}

#header 
{
	background: #4a4a4c;
}
#header .navlinks a
{
	color: #888;
}
#header .navlinks {
	color: #888;
}
#header .navlinks a:hover {
	color: #333;
}
#nav {
	background: #2790B0;
}

#emselectable thead tr { background: #2790B0; color: #ffffff; }


#episode_table #emselectable thead tr { background: #90be5a; }


.emdetailactions .ui-button-text, .embuttons .ui-button-text
{
	background: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: linear-gradient(top, #ffffff 0%, #dfdfdf 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );
}




ul.emheaderbuttons li a {
	color: #fff;
	
}

ul.emheaderbuttons li a.current span, ul.emheaderbuttons li a:hover span {
	color: #f3f3f3;
	background: #23819E;
	background: #23819E;
}

ul.emheaderbuttons li.navactive a {
	background: #23819E;
	border: 1px solid #1C6E88;
}

ul.emheaderbuttons li.navactive a {
	color: #FFFFFF;
}

li.navactive a {
	color: #fff;
}

li.navactive a:hover span {
	color: #fff;
}

.navactive:hover 
{
	background: #FFB15F;
}

ul.emheaderbuttons li.navselected a 
{
	background: #90be5a;

}

.detailsbox {
	background: #F3F3F3;
	border: 1px solid #c5c5c5;
}

#emresultscontent a {
	color: #222;
}

.playerbox {
	background: #F3F3F3;
	border: 1px solid #c5c5c5;
}

.emprevnext A {
	color: #4D87C7;
}

.commentbox .ui-widget-header {
	background-color: #90be5a;
}

.uploadform {
	border: #c5c5c5 solid 1px;
	background: #f3f3f3;
}



.uploadformfield file {
	background: #000;
}

.file_input_button {
	background-color: #92B864;
	color: #FFFFFF;
}

.file_input_button:hover {
	background-color: #2790b0;
}


.emsearchfield {
	color: #c5c5c5;
}

.emcomment {
	color: #39578a;
}

#commentprompt textarea {
	color: #333333;
	background-color: #FFFFFF;
	border-color: #b4b4b4 #e9e9e9 #e9e9e9 #b4b4b4;
}

#commentprompt textarea:focus {
	border: 0 0 8px rgba(82,168,236,0.75);
}


#embedprompt textarea {
	color: #333333;
	background-color: #FFFFFF;
}

label.error {
	color: #90002A;
}


ul.emuploadbutton li a {
	color: #fff;
}

ul.emuploadbutton li a span {
	color: #fff;
	background: #90002a;
}

ul.emuploadbutton li a.current span, ul.emuploadbutton li a:hover span {
	color: #666;
	background: #FFB15F;
}



#searchform {
    border-color: #1C6E88;
}

#searchform input {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #777;
}

.emactionheader
{
	 background: none repeat scroll 0 0 #999;
}

}	



#emcontainer  .emselectmenu  ul li a:hover 
{
	background-color: #fff;
}

#emcontainer  .emselectmenu  .active
{
	background-color: #fff;
}

#emcontainer #tableheader th
{
	background-color: #90be5a;
}
.emdropshadow {
	background: #fff;
	padding: 3px;
	border: 1px solid #f4f4f4;
	
}
.emresultsheader {
	padding: 20px 20px 0 0;
}
#emcontainer #emselectable table th 
{
 	white-space: nowrap; padding: 4px; text-align: left; font-weight: bold; 
 	color: #fff;
}

#emcontainer #emselectable table tr.emhighlight { background: #f4f4f4; color:#333}
#emcontainer #emselectable table tr.emborderhover, #emcategoryinline .emtreehover {	  background: #efefef; color:#333; border: none;  }

#emcontainer #emselectable table tr.checked { 
	background: #b4cf95; 
	color: #fff; 
	}

#emcontainer #emselectable table tr.emborderhover .emdropshadow, #emcontainer #emselectable table tr.emhighlight .emdropshadow, #emcontainer #emselectable table tr.checked .emdropshadow {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
}
tr.odd {
	background: #f4f4f4;
}

.ui-widget {  border: 1px solid #AAAAAA;}
.ui-widget-content {  background: #ffffff; color: #383838; }
.ui-widget-content a { color: #383838;}
.ui-widget-header { background: #2790B0; color: #ffffff; }
.ui-widget-header a { color: #ffffff; }

