#set( $xmledithome = $context.getPageProperty("xmledithome"))
#set( $readonly = "false" )
#set( $readonly = $context.getRequestParameter("detailsreadonly"))
#set( $alwaysshow = $context.getRequestParameter("alwaysshow"))
#set( $multiedit = "false")
#set( $multiedit = $context.getRequestParameter("multiedit"))
#if ( $multiedit == "true" )
	#set( $multiedit = true)
#else
	#set( $multiedit = false)
#end

$context.putPageValue("multiedit",$multiedit)
$context.putPageValue("caneditlists","false")

##We need 3 things passed in: $searcher, $view, $data
#if ($view)
	#if( $context.getUserProfile() )
		#set ($details = $searcher.getDetailsForView($view, $context.getUserProfile()))
	#else
		#set ($details = $searcher.getDetailsForView($view))
	#end
	#if( !$details)
		[[No details available for this view.  Please configure your view settings.]]

	#end
#else
	##leagacy check. We used to pass in the $details
	#if( !$details)
	#set ($details = $searcher.getPropertyDetails())
	#end
#end	


<div class="oeinputform validate-inputs detaileditor">
<div id="allerrors">
</div>
<table class="settings-table">
 #foreach( $detail in $details )
	#set($val = false)
	#set($target = "${detail.id}.value")
	#set( $val = $context.getRequestParameter($target))					
	#if( $searcherManager )
		#set( $val = $searcherManager.getValue($data,$detail) )	
	#else
		#set( $val = $!{data.getProperty($detail.getId())} )
	#end
	
	#if( !$val)
		#set( $val = $!{data.get($detail.getId())} )
	#end

	$!context.putPageValue("detail",$detail)
	
	#if ($detail.header)
		<tr><td colspan="2">&nbsp;</td></tr>
		#if ($detail.header != "blank")
			<tr><td colspan="2" style="text-align:center;"><h4>#translate($detail.header)</h4></td></tr>
		#end
	#end
	#set( $editrow = $detail.isEditable() && $readonly != "true" )
	#if( $editrow || $val  || !$detail.isEditable()) 
		#if( !$val) #set( $val = "") #end		
		$!context.putPageValue("val",$val)
		<tr id="inputarea_${detail.id}">
			<td   class="emdatafield" >
				#if( $detail.hidelabel == true )
				#else
				    #if ($detail.required == true) * #end	$!detail.getText($context)
				#end
			</td>
			
			<td id="detail_$detail.id" class="emdatafieldvalue #if (!$multiedit && $detail.required == true) requiredfield #end">
			#if( $editrow )	
				$pages.include("$xmledithome/detailedit.html", $context)
			#else  ##NOT EDITABLE
				$pages.include("$xmledithome/detailreadonly.html", $context) 
			#end
			#if ( $detail.note )
				<span style="color:gray;font-style:italic;font-size:.9em;">$detail.note<span>
			#end
			</td>
		</tr>
	#end
	
	#if(!$editrow && $alwaysshow == "true")
	#if( !$val) #set( $val = "") #end	
		$!context.putPageValue("val",$val)
		<tr id="inputarea_${detail.id}">
			<td   class="emdatafield" >
				#if( $detail.hidelabel == true )
				#else
				    #if ($detail.required == true) * #end	$!detail.getText($context)
				#end				
			</td>
			<td id="detail_$detail.id" class="emdatafieldvalue #if ($detail.required == true) [[required]] #end">
			
				$pages.include("$xmledithome/detailreadonly.html", $context) 
			#if ( $detail.note )
				<span style="color:gray;font-style:italic;font-size:.9em;">$detail.note<span>
			#end
			</td>
		</tr>
	#end
	
	#if ($detail.viewType && ($detail.viewType == "html" || $detail.viewType == "largehtml"))
		#if($usedhtml)
			#set( $usedhtml = "htmltextarea=${detail.getId()}&$usedhtml")
		#else
			#set( $usedhtml = "htmltextarea=${detail.getId()}")
		#end
	#end
	
	#if($detail.get('dependson'))
   <script type="text/javascript">			
			##TODO: Put this in validateandedit.js
			jQuery(document).ready(function(){
				DetailEditor.find_field_from_row("$!detail.get('dependson')").bind_and_run('change',function(){
					DetailEditor.toggle_dependency_row("$!detail.getId()",
					 jQuery(this),
					 "$!detail.get('dependsonvalue')",
					 "$!detail.get('dependsondefault')",
					 "$!detail.get('dependsonvaluedelimiter')")
				});
			});									 
		</script>
	#end
	
#end
</table>
</div>

##needed for fast loading HTML edit boxes
#if( $usedhtml && $readonly !=  "true") 
	$pages.include("/system/tools/html/textarea.html?$usedhtml")	
#end
 
 