#set( $xmledithome = $context.getPageProperty("xmledithome"))
#set( $readonly = "true" )

##We need 3 things passed in: $searcher, $view, $data
#if ($view)
	#if( $context.getUserProfile() )
		#set ($details = $searcher.getDetailsForView($view, $context.getUserProfile()))
	#else
		#set ($details = $searcher.getDetailsForView($view))
	#end
	#if( !$details)
		404 on view: $view
	#end
#else
	##leagacy check. We used to pass in the $details
	#if( !$details)
	#set ($details = $searcher.getPropertyDetails())
	#end
#end	

<ul id="${view.replace('/','-')}" class="emdataviewer">
 #foreach( $detail in $details )
	$!context.putPageValue("detail",$detail)
	
	#if ($detail.header)
		<li class="header">
		#if ($detail.header != "blank")
			<span><h4>$detail.header</h4></span>
		#end
		</li>
	#end
	#set($val = false)
	#set( $val = $data.get($detail.getId()) )
	#if(  $val && $val.length() > 0 ) 
		<li id="$detail.id">
			<span class="field">
					$!detail.getText($context)
			</span>
			<span class="data">
				$!context.putPageValue("val",$val)
				$pages.include("$xmledithome/detailreadonly.html", $context) 
			</span>
		</li>
	#end
#end
</ul>
