
#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##description
#set ($view = $context.getRequestParameter('view')) 
#set ($foreignkeyvalue = $context.getRequestParameter('foreignkeyvalue')) 

#set ($listheader = $context.getRequestParameter('listheader')) 


#set ($useid = $context.getRequestParameter('useid'))
 
#set ($foreignkeyid = $context.getRequestParameter('foreignkeyid'))
#if(!$foreignkeyid)
#set ($foreignkeyid = "name")
#end

#if( !$detail) 
	#set( $searcher = $searcherManager.getSearcher($catalogid, $searchtype))	
	#set( $detail = $searcher.getDetailForView($view, $fieldname, $user) )
#end

#set ($searchinputfield = $context.getRequestParameter('searchinputfield'))
				
#set ($value = $context.getRequestParameter('value')) 

#set( $args = "catalogid=$catalogid&searchtype=$searchtype&fieldname=${fieldname}&view=$view&foreignkeyid=$foreignkeyid&searchinputfield=$searchinputfield")
#if( $detail.isList() || ($useid && $useid == "true"))
	#if($value)
		#set( $valuelabel = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$value) )
	#end
	<input type="hidden" name="${fieldname}.value" id="${fieldname}.value" value="$!value"/>
	<input id="${fieldname}_input"  size="30" type="text" value="$!valuelabel.name" />
#else
	
	<input id="${fieldname}_input" size="30" type="text" name="${fieldname}.value" value="$!value" />
#end 
<div class="auto_complete" id="${fieldname}_auto_complete"></div>
<script type="text/javascript">
//<![CDATA[
var ${fieldname}_auto_completer = new Ajax.Autocompleter('${fieldname}_input', '${fieldname}_auto_complete', '$home/system/components/xml/dropdownvalues.html?$args', {paramName: "searchinput", afterUpdateElement : updateField
 });

function updateField(text, li) 
{
  var inputvalue = document.getElementById("${fieldname}_input");
  inputvalue.style.borderColor	 = "#AAFFAA"; 
  var value = document.getElementById("${fieldname}.value");
  if(value)
  {
  	value.value = li.id;
  }
}
//]]>
</script>

</div>




