#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 


##originalsearcher.getDetailForView($view, $fieldname, $user) )
#if( !$detail) ##this is new. To reduce complexity we want to just load up the detail all the time
	#set( $searcher = $searcherManager.getSearcher($catalogid, $searchtype))	
	#set( $detail = $searcher.getDetailForView($view, $fieldname, $user) )
#end

#if($detail.isList())
 #set ($listid = $detail.getListId() )
  #set( $searcher = $searcherManager.getSearcher($detail.getListCatalogId(),$detail.getListId()))	
#end

#set ($searchquery = $searcher.createSearchQuery())

##optional things to filter the list
#set ($foreignkeyid =$context.getRequestParameter('foreignkeyid') )
#set ($foreignkeyvalue = $context.getRequestParameter('foreignkeyvalue'))
#if ($foreignkeyid && $foreignkeyvalue)
	$searchquery.addStartsWith($foreignkeyid, $foreignkeyvalue)
#end
#set ($input = $context.getRequestParameter('searchinput'))
#set ($inputfield = $context.getRequestParameter('searchinputfield'))
$searchquery.addStartsWith($inputfield,$input)

#set ($listheader = $context.getRequestParameter('listheader')) 
#set ($types = $searcher.search($searchquery))
#if($listheader)
	#set ($headers = $searcher.getDetailsForView($listheader, $user))
#end 

<ul>

#if($types)
	#foreach( $type in $types )
		#set( $key = $type.id)
		<li id="$key">#if($headers)$type.get($listheader) #else $types.toString($type)#end</li>
	#end
   
#end
</ul>

