##requires $details  //List of Detail
##requires $hits //Gets input from that
##requires $searcher //used to get the catalogid and searcherManager

<table class="settings-table">
#foreach( $detail in $details)

<tr class="emsearchfieldrow">
	<td>
		<div class="emsearchfield"> 
		$!detail.getText($context) 
		</div>
	</td>
	<td id="detail_${detail.id}" align="left" valign="middle" class="emsearchfieldvalue" nowrap >
		<input name="field" value="$searcher.getCatalogId():$view:${detail.getId()}" type="hidden">
		#set( $viewtype = false )
		#set( $viewtype = $detail.searchcomponent )
		#if (!$viewtype)
			#set( $viewtype = $detail.viewType )
		#end
		
		#if (!$viewtype)
			#set ($viewtype = $detail.dataType)
		#end

		#if (!$viewtype || $viewtype == "text")
			#set ($viewtype = "default")
		#end
		<!-- This needs to be fixed up. -->
		#if (!$viewtype || $viewtype == "map")
			#set ($viewtype = "default")
		#end
		
		#if (!$viewtype || $viewtype == "date" ||  $viewtype == "datesearch")
			#set ($viewtype = "datesearch")
		#else
			<input name="operation" value="startswith" type="hidden" />
		#end

		#if( $hits.getSearchQuery() )
			#set( $value = "$!hits.getSearchQuery().getInput($detail.id)" )
			#set( $term = $hits.getSearchQuery().getTermByDetailId($detail.id) )
			$context.putPageValue("term",$term)			
			$context.putPageValue("val",$value)
		#end
		$context.putPageValue("detail",$detail)
		#if($pages.doesExist("/${applicationid}/components/xml/types/${viewtype}.html"))
			$pages.include("/${applicationid}/components/xml/types/${viewtype}.html", $context)
		#else
			$pages.include("/${applicationid}/components/xml/types/default.html", $context)
		#end
	</td>
</tr>
#end

</table>

#if( $details.size() == 0)
	[[No search fields found with index]]=true
#end