#set( $tool = 1 )
#set( $sfldapusercount = $context.getRequestParameter("sfldapusercount") )
#set( $sfldapusercount = $tool.parseInt($sfldapusercount) )

#if($results && $results.size() == 1)

	<script type="text/javascript">
		document.getElementById("alias${sfldapusercount}.value").value = '$context.getRequestParameter("value")';
	</script>
	<span style="font-weight: bold;">$results.get(0).get("cn")</span>, $results.get(0).get("title")
	<br/>
	$results.get(0).get("location"), $results.get(0).get("departmentTitle")

#elseif( !$results )

	Could not contact the LDAP server.

#else

	No matching user found.

#end