
<h4>[[Add]]:</h4> 


<form name="adder" class="ajaxform  validate-inputs" targetdiv="emvalueeditor" action="$home$apphome/components/assetlibraries/addfinish.html">


<input type="hidden" name="fieldname" value="libraries" />

#if( $canasseteditorpickanylibrary )


		$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,"asset") )	
		$context.putPageValue("view","asset/libraryadd")	
		$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)

#else

<select name="libraries.value" class="required">
<option value=""></option>
#foreach( $libraryid in $userprofile.getCombinedLibraries() )
	#set( $library = $searcherManager.getData($catalogid,"library",$libraryid))
	#set( $division = $searcherManager.getData($catalogid,"division",$library.division))
	<option value="$libraryid">$division / $library</option>
#end
</select>

			
#end



<input type="hidden" name="assetid" value="$context.getRequestParameter('assetid')" /><br>


<input class="btn small" type="submit" value="[[Add]]" />
</form>
