#set( $xmledithome = $context.getPageProperty("xmledithome"))
<script type="text/javascript">
function flashObj(obj) 
{
	obj.bgColor = "#FFFF99"; // This is the flash color, typically a light yellow
}

function unFlashObj(obj) 
{
	obj.bgColor = "#FFFFFF"; // This is the original background color
}




</script>


##We need 3 things passed in: $searcher, $view, $data 

#if ($view)
	#set ($details = $searcher.getDetailsForView($view, $user))
#else

##leagacy check. We used to pass in the $details
#if( !$details)
#set ($details = $searcher.getPropertyDetails())
#end

#end

<div class="oeinputform">
<div id="allerrors">
</div>
<table class="oepropertiestable">
#foreach( $detail in $details )
	$!context.putPageValue("detail",$detail)
	<tr id="row_$detail.id">
		$pages.include("$xmledithome/dynamic/displayrow.html", $context)
	</tr>
#end
</table>
</div>

##needed for fast loading HTML edit boxes
#if( $usedhtml ) 
$pages.include("/system/components/html/textarea.html?$usedhtml")	
#end