#set( $xmledithome = $context.getPageProperty("xmledithome"))
## TODO: comment and explain why we do all of this
#set($val = false)
#set($target = "${detail.id}.value")
#set( $val = $context.getRequestParameter($target))					
#if( !$val )
	#set( $val = $!{data.getProperty($detail.getId())} )
#end
#if( !$val)
	#set( $val = $!{data.get($detail.getId())} )
#end
#if( !$val) #set( $val = "") #end	
$context.putPageValue("val", $val)

<script type="text/javascript">
${detail.id}_edit = function()
{
	#if ( $detail.isEditable() )
		unFlashObj('row_${detail.id}');
		jQuery('#row_${detail.id}').load( '$home$xmledithome/dynamic/editrow.html',{ $context.ajax() });
	#end
}
</script>

<td class="oetableleft" style="text-align:right;" >
	$pages.include("$xmledithome/dynamic/label.html", $context)
</td>
<td id="detail_$detail.id" class="oetableright" style="cursor:text;" onMouseOver="flashObj(this);" onMouseOut="unFlashObj(this);" onclick="javascript:${detail.id}_edit();">
	$pages.include("$xmledithome/dynamic/display.html", $context)
</td>
