#set( $xmledithome = $context.getPageProperty("xmledithome"))
<script type="text/javascript">
${detail.id}_cancel = function()
{
	new Ajax.Updater('row_${detail.id}', '$home$xmledithome/dynamic/displayrow.html', 
			{ 
				parameters: { $context.ajax() }, evalScripts:true
			});
}


${detail.id}_submitSave = function(inDiv, inFormId)
{
	
	var form = document.getElementById(inFormId);
	form = Element.extend(form);
	var oOptions = { 
	    method: 'post',
	    parameters: form.serialize(true),
	    evalScripts: true,
		asynchronous: false,
        onFailure: function (oXHR, oJson) {
              alert("An error occurred: " + oXHR.status);
        }
     };

	new Ajax.Updater(inDiv, form.action, oOptions );
	
	return false;
}




</script>

<td class="oetableleft" style="text-align:right;" >
	$pages.include("$xmledithome/dynamic/label.html", $context)
</td>

<td id="detail_$detail.id" class="oetableright">
	$pages.include("$xmledithome/dynamic/edit.html", $context)
</td>
