#set ( $origURL = $context.getRequestParameter("origURL") ) 
#if( !$origURL) #set ( $origURL=$url_util.getOriginalUrl() ) #end
#set ( $path = $context.getRequestParameter("editPath") )

#if( !$path )
#set ( $path = $context.getRequestParameter("path") )	
#end

#if ( !$editPath )	
	#set( $editPath = $path)
#end
<div style="padding: 10px">
#if ( $editPath )	
#set( $editPage = $pageManager.getPage( $path ) )

	<p>[[Full Path]]: <b>$editPath</b></p>	
		
	</form>
	#if( $editPage.exists() )
		<iframe style="width: 100%;height:600px;" src="$home$editPath?oepreview=true&oe.edit.mode=preview" > </iframe>
	#else
	[[Does not exist]]
	#end
#else
	[[Please select an item]]   	  
#end
</div>


