[[all translations within the WEB-INF/base/ directory tree]]


<form name="editform" method="post" action="$home/$applicationid/views/settings/translation/save.html">

<a href="$home/$applicationid/views/settings/translation/index.html">Go back</a>

<h2>Language: $context.getRequestParameter("lang") </h2>

<p><input type="checkbox" name="mergenewcontent"" value="true" /> Merge with old (skipping non-existent folders)</p>

<input type="submit" value="Save" /><br>

<p>Warning any edits will be lost next time EnterMedia is upgraded.</p>

<textarea name="translations" cols="200" rows="100">$translations</textarea>
</form>
Hit save and it puts the files back