<form name="savemount" action="save.html" target="_top">
#set($oldPath = $mount.getPath())
	
<div style="width:600px; background-color: #EEEEEE; padding:5px;">	
<h2>[[Edit Mount]]</h2>

<i>[[required]]</i>

<input type="hidden" name="mountid" value="$mount.path" />
<p><label>[[Path]]:</label> <input name="path" value="$!mount.path" size="50" /> 
</p>
<br>
<br>

<p> <label>[[Repository Type]]:</label> <select name="repositorytype" >
<option value="" #if( $mount.getRepositoryType() == "fileRepository") selected #end>File</option>
<option value="versionRepository" #if( $mount.getRepositoryType() == "versionRepository") selected #end>Version Control</option>
<option value="urlRepository" #if( $mount.getRepositoryType() == "urlRepository") selected #end>External HTTP Server</option>
<option value="sftpRepository" #if( $mount.getRepositoryType() == "sftpRepository") selected #end>SFTP Server</option>

</select>
<br>
<br>

<p> <label>[[File System]]:</label> <input name="externalpath" value="$!mount.getExternalPath()" size="50"/>
<br><i>[[Local disk drive, path, url, or Windows Share that will be mounted.]]</i> 
</p>

<br>
<h2>[[Optional]]:</h2>

<p> <label>[[Include Only]]:</label> <textarea name="filterin" cols="25" rows="3" >$!mount.getFilterIn()</textarea>
<br><i>[[Space or new line delimited]]: [[*.jpg *.pdf *.JPG]]</i> 
</p>
<br>
<br>
<p> <label>[[Exclude Some Files]]:</label> <textarea name="filterout" cols="25" rows="3" >$!mount.getFilterOut()</textarea>
<br><i>[[Space or new line delimited]]: [[*.old */.* *.ini]]</i> 
</p>

#set($searcher = $searcherManager.getSearcher("system", "mount"))
#set($details = $searcher.getPropertyDetails())
$context.putPageValue("details", $details)
$context.putPageValue("data", $mount)
$pages.include("/system/components/xml/detaileditor.html", $context)



<div> <label> </label> <input type="submit" value="[[Save]]" />
</div>

</form>
