<div id="emkeywordeditor">

#if( "$canviewassetkeywords" != "false" )
	
	    
	#if ($asset.getKeywords().size() > 0)
	<div id="keywordlist" class="emtable clearfix">
    	#foreach($keyword in $asset.getKeywords())
    		  
    		<a class="row tag" href="$home$apphome/views/search/search.html?field=keywords&operation=matches&keywords.value=$keyword"> $keyword</a>
    
    		#if($caneditasset)
    			<a style="display:inline;" class="ajax delete-row" targetdiv="emkeywordeditor" href="$home$apphome/components/keywords/removekeyword.html?assetid=${asset.id}&keyword=#esc($keyword)"></a>
    		#end
    		</a>
    	#end
	</div>
	#else
	<p class="info" style="margin: 20px 0">There are no tags associated with this asset. Add tags below.</p>
	#end
#if($caneditasset)
	<div id="keywordadd" style="margin: 20px 0 10px 0;">
	<a class="ajax btn small" targetdiv="keywordadd" href="$home$apphome/components/keywords/keywordinput.html?oemaxlevel=1&assetid=${asset.id}&sourcepath=${asset.sourcepath}">[[Add Tags]]</a>
	</div>
#end

#end

</div>