#set( $appcatalogid = $context.getRequestParameter("appcatalogid"))
		<div class="wizard clearfix">
			<div class="wizard-top">
				<h1>App Wizard</h1>
			</div>
			<div class="wizard-body">
				<h2>Available Applications</h2>
		#set( $appsearcher = $searcherManager.getSearcher("system","frontend") )

		#set( $frontends = $appsearcher.getAllHits($context) )
		#foreach( $frontend in $frontends)
				<div class="app-option">
					<img class="app-store-icon" src="$home$themeprefix/images/folder.png" width="60" height="60" alt="$frontend.name" />
					<div class="app-nameplate">
						<div class="app-title">$frontend.name</div>
						<div class="app-subtitle">$frontend.caption</div>
					</div>
					<a class="btn learn-more" href="$home$apphome/views/catalogs/appdetails.html?id=$frontend.id&appcatalogid=$appcatalogid">Learn More</a>
				</div>
		#end		
			</div>
			<div class="wizard-bottom">
			<!-- 
				<a class="btn-blue build-your-own-app" href="#">Build Your Own App</a>
			 -->
			</div>
		</div>
