#set( $appcatalogid = $context.getRequestParameter("appcatalogid"))
	<div class="wizard clearfix">
			<div class="wizard-top">
				<h1>App Wizard</h1>
			</div>
			
			<form name="adder" action="$home$apphome/views/catalogs/addapppath.html">
				<input name="frontendid" value="${data.id}" type="hidden"/>
				<input name="appcatalogid" value="$appcatalogid" type="hidden"/>
				
			<div class="wizard-body clearfix">
				<div class="app-info">
					<img class="app-store-icon" src="$home$themeprefix/images/folder.png" width="60" height="60" alt="$data.name" />
					<div class="app-nameplate">
						<div class="app-title">$data.name</div>
						<div class="app-subtitle">$data.caption</div>

					</div>

					<input type="submit" class="btn learn-more" value="Install" />
				</div>
				<div class="app-info-content">
					<p>
$data.longdescription						
					</p>
				</div>				
			</div>
			
			</form>
			
			<div class="wizard-bottom">
			</div>
		</div>
