#set( $appcatalogid = $context.getRequestParameter("appcatalogid") )
#set ($catalog = $searcherManager.getData("system","catalog",$appcatalogid))

<ul class="fwlist" id="folders">

	<li class="section-title">
           <img height="28" width="30" alt="EM Share" src="/manager/theme/images/small-server.png" style="float:left; margin: 9px 15px 0 15px;">
                 <span>Catalog $catalog</span>
               </li>
	#set( $apps = $searcherManager.getList($appcatalogid,"app") )
	#foreach( $app in $apps)
	<li class="auto">
       <a href="$home$apphome/views/applications/index.html?appcatalogid=$appcatalogid&id=$app.id" class="app">
           <img height="60" width="60" alt="EM Share" src="/manager/theme/images/folder.png" style="float:left; margin: -15px 15px 0 0;">
           <div class="name" style="margin-left: 85px; margin-top: -12px;">
               <div class="alias" style="font-size: 18px; font-weight: bold; margin-bottom: 4px;">$app</div>
               <div class="path">${context.siteRoot}${app.deploypath}</div>
               <div class="last-activity">
               		#set( $module  = $searcherManager.getData($appcatalogid,"module",$app.module) )
               		$!module
               </div>
           </div>
       </a>
       <div class="scan">
           <a class="btn" style="margin-top: 15px;" href="$home${app.deploypath}">View</a>
       </div>
	</li>
	#end
	</ul> 
    
<div class="scan" style="margin-top: 30px;margin-right: 0;">
    <a class="btn" href="$home$apphome/views/applications/uploadapp.html?appcatalogid=$appcatalogid">Import Application</a>
    <a class="btn" href="$home$apphome/views/catalogs/addapp.html?appcatalogid=$appcatalogid">Create New Application</a>
	<a class="btn blue confirm" style="margin-left: 200px;" href="./remove.html?catalogid=system&searchtype=catalog&id=$appcatalogid" confirm="Are you sure?">Delete Catalog</a>

</div> 
		