#set ($catalogs = $searcherManager.getList("system","catalog"))

#if( $catalogs.size() == 0 )

		<h1 class="page-title">Welcome to the EnterMedia Manager!</h1>
		<h2 class="page-subtitle">Click below to add a new catalog and get started.</h2>
#else


#end
<h2>Catalog List</h2>
<ul class="catalog-list">

#foreach ($catalog in $catalogs)
     <li class="section-title" >
     	<div class="folder"></div>
       <span ><a href="$home$apphome/views/catalogs/edit.html?appcatalogid=$catalog.id">$catalog</a></span>
     </li>
#end



</ul>

             <div class="scan" style="margin-right: 0; float: left;">
                 <a class="btn"  href="$home$apphome/views/catalogs/addcatalog.html">Create New Catalog</a>
             </div> 
		

			