#set ( $username = $request.getParameter( 'username' ) )

<div id="default-top" class="clearfix">
    
    
    <div class="main-info" style="padding-bottom: 30px;">
        <div class="primary">
            [[Password Settings]]
        </div>
        <div class="secondary">
            [[Update your password information]]
        </div>
    </div>
    
    
</div>
<div id="resultslist">
    <div id="default-fields">
<form method="post" name="wizard" action="$home$apphome/views/myaccount/setuserpassword-finish.html">
 <input type="hidden" name="userid" value="$user.id"/>
<table height="100%" class="settings-table" cellspacing="0" cellpadding="0">


		                  
<tr>
		                    
<td class="oedivided-box-blue">[[Password]]:</td>
		                    <td><input type="password" name="password"></td>

		           			<input type="hidden" name="username" value="$user.id"/> ## so the page loads after we save
		                  
</tr>
		                  
<tr>
		                    
<td class="oedivided-box-blue">[[Retype Password]]:</td>
		                    <td><input type="password" name="retypedPassword"></td>
		                  
</tr>
	
</table>
		               	               
<input class="btn small" style="float: left; margin: 20px 0 0 20px;" onclick="doOnCancel();" value="[[Cancel]]" name="[[CANCEL]]" type="button" class="oestandard-button">
<input class="btn right small" style="margin: 20px 20px 0 0" value="[[Save]]" type="submit">
</div>
</div>
</form>

<script type="text/javascript">
	function doOnCancel(){
		if (history.length <= 1){
			var location = "$home/$applicationid/authentication/login.html";
			window.location.href = location;
		}else{
			history.go(-1);
		}
		return false;
	}
</script>
  