<div class="em-rounded">
#set($order = $data)
#if( $order.userid != $user.getId() )
No assets have been selected.
#else

	#set($orderitemsearcher = $searcherManager.getSearcher($catalogid, "orderitem"))
	#set($ordersearcher = $searcherManager.getSearcher($catalogid, "order"))
	#set($owner = $userManager.getUser($order.userid))
	
<form class="validate" id="usereditform" method="post" action="$home$apphome/views/activity/share/step2.html">
#set($searcher = $searcherManager.getSearcher($catalogid, "order"))
$context.putPageValue("searcher", $searcher)	 
$context.putPageValue("data", $order)	 
$context.putPageValue("view", "order/emailform")	
<input type="hidden" name="view" value="order/emailform"/>
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="newuserstatus" value="emailrequested"/>

<input type="hidden" name="field" value="publishdestination" />
<input type="hidden" name="publishdestination.value" value="0" /> ## this should be 0

<input type="hidden" name="field" value="ordertype" />
<input type="hidden" name="ordertype.value" value="email" />


<br/>
<div id="shares">
$pages.include("/${applicationid}/components/xml/detaileditorcss.html", $context)
</div>
<br/>
 

<input id="share-submit" class="btn small"  type="submit" name="submit" value="Next"/> 
	
	
</form>
<br><br>
#end


</div>