#set( $hitssessionid = $context.getRequestParameter("hitssessionid") )
<ul id="stacked">
	<li><a class="btn" href="$home$apphome/views/activity/publishassets.html?hitssessionid=$hitssessionid&assetid=$!asset.id">Publish to Server</a></li>
	<li><a class="btn" href="$home$apphome/views/activity/emailassets.html?hitssessionid=$hitssessionid&assetid=$!asset.id">Email</a></li>
	##if( $asset )
<!-- 	<li><a class="btn" href="$home$apphome/views/activity/index.html?hitssessionid=$hitssessionid">Embed</a></li>
	<li><a class="btn" href="$home$apphome/views/activity/index.html?hitssessionid=$hitssessionid">Social Media</a></li>
 -->	
	##end
</ul>
