#if( $orders.size() > 0 )

#set( $details = $searcherManager.getSearcher($catalogid,"order").getDetailsForView("order/activityresults",$context.getUserProfile() ) )

<div id="emselectable" >
<table class="emresultscontent" > 
<tr id="tableheader">

#foreach( $detail in $details)
	#if( $velocityCount == 1)
	<th class="firstheader">$detail.text</th>
	#elseif( $velocityCount == $details.size() ) 
	<th class="lastheader">$detail.text</th>
	#elseif( $detail.id.endsWith("note"))
	<th width="50%">$detail.text</th>
	#else
	<th >$detail.text</th>
	#end
#end
#foreach( $order in $orders )
#set( $userstatus = false )
#set( $userstatus = $searcherManager.getData($catalogid,"order/userstatus",$order.historyuserstatus ))
	<tr rowid="$order.id">
	#foreach( $detail in $details)
		$!context.putPageValue("detail",$detail)
		#if( $detail.id == "historyuserstatus" && $userstatus)
		<td class="statuscolumn"> <span style="color:$userstatus.color;">$!userstatus</span></td>
		#else
		<td>		
			#set( $value = false)
			#set( $value = $order.get($detail.id) )
			#if( $value)
			$!context.putPageValue("val",$value)		
			$pages.include("$apphome/components/xml/detailreadonly.html", $context)
			#end
		</td>
		#end
	#end
	</tr>
#end
</table>
<form name="pickorder" action="$home$apphome/views/activity/details/vieworder.html">
<input name="orderid" id="emselectedrow" type="hidden" />
</form>

</div>

#else
<p class="info" style="margin: 20px;">No Activity Found</p>
#end