<p>$user.getFirstName() $user.getLastName() has shared the following files with you:</p>
<table border="1">
	<tr>
		#set( $details = $mediaarchive.getAssetSearcher().getDetailsForView("asset/orderemail",$context.getUserProfile()) )
		$context.putPageValue("details",$details)
		#foreach( $detail in $details)
		<td>
		<strong>#text( $detail.name )</strong>
		</td>
		#end
		
	</tr>
		#foreach( $item in $orderitems )
			#set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
			$context.putPageValue("asset", $asset)
			$context.putPageValue("item", $item)
			$context.setRequestParameter("sourcepath", $asset.sourcepath)
			$context.setRequestParameter("hidethumbnail", cepath)
			
			<tr class="assetrow" id="assetrow_${assetid}" >
			#foreach( $detail in $details)
				#set( $value = "")
				#if( $detail.id == "name")
					#if( $asset.name )
			      		#set( $value = $asset.name )
			      	#elseif ( $asset.title )
			      		#set( $value = $asset.title )
			      	#else
			      		#set( $value = "(No name)" )
			      	#end
			    #else	
					#set( $value = $asset.get($detail.id))
				#end
				$!context.putPageValue("detail",$detail)
				$!context.putPageValue("val",$value)	
				<td>
					$pages.include("$apphome/components/xml/detailreadonly.html", $context)
				</td>
			#end	
			 </tr>	  
		#end
		</table>
<br/>

<p>
To download or view these files, please click on the link below. 
</p>

<a href="$context.siteRoot$home$apphome/views/activity/download/index.html?orderid=$order.id">View</a><br/><br/>

