<div class="em-rounded">
#set($order = $data)
#if( $order.userid != $user.getId() )
Invalid order
#else

	#set($orderitemsearcher = $searcherManager.getSearcher($catalogid, "orderitem"))
	#set($ordersearcher = $searcherManager.getSearcher($catalogid, "order"))
	#set($owner = $userManager.getUser($order.userid))
	
	<h3>Publish To Server</h3>
	
<form class="validate" id="usereditform" method="post" action="$home$apphome/views/activity/publish/step2.html">
#set($searcher = $searcherManager.getSearcher($catalogid, "order"))
$context.putPageValue("searcher", $searcher)	 
$context.putPageValue("data", $order)	 
$context.putPageValue("view", "order/publishform")	
<input type="hidden" name="view" value="order/publishform"/>
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="field" value="presetid"/>
<input type="hidden" name="field" value="publishdestination"/>
<input type="hidden" name="newuserstatus" value="exportrequested"/>

<input type="hidden" name="field" value="ordertype" />
<input type="hidden" name="ordertype.value" value="export" />

<br/>
$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
 
<input style="margin-left: 300px;" type="submit" name="submit" value="Next"/> 

</form>
#end