
<tr class="assetrow" id="assetrow_${assetid}" >
	<td class="imagepad" valign="top"> 
<input type="hidden" name="itemid" value="$item.id"/>
<input type="hidden" name="field" value="status"/>
<input type="hidden" name="assetselect_${catalogid}" value="$asset.id"/>

		#set( $catalogid = $asset.catalogId )
	   	#set( $mediaarchive = $enterMedia.getMediaArchive($catalogid) )
	   	#set( $sourcepath = $asset.sourcePath )
	   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
		#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
		#set( $tsize = "$home$thumbend" )
		#set ($presetsearcher = $searcherManager.getList($catalogid, "convertpreset"))
		
		#if( $parenthits )
			#set( $rootid = $parenthits.sessionId )
		#else
			#set( $rootid = $hits.sessionId )
		#end
			#set( $click = "$home$apphome/views/modules/asset/editor/index.html?assetid=${asset.id}&hitssessionid=$rootid" )
		
			<a href="$click" alt="$asset.name" name="$asset.name" style="text-decoration: none;">
				#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
				$context.putPageValue("cell", $asset)
				$context.putPageValue("showdetails", "false")
				#if( $type == "video")
					$context.putPageValue("asset",$asset)
					$pages.include("${apphome}/components/mediaviewer/player/index.html", $context)
				#else
					$pages.include("${apphome}/components/results/thumbnails/${type}.html", $context)
				#end	
			</a>
		</td>
		<td>
			$asset.name
		</td>
<td>

	$context.putPageValue("data", $item)	 
	$context.putPageValue("view", "order/downloaditem")	
	$pages.include("/${applicationid}/components/xml/detaileditor.html?detailsreadonly=true", $context)

		#set( $publishqueueid = $item.get("publishqueueid") )
		#if( $publishqueueid)
			#set($publishqueue = $searcherManager.getData($catalogid, "publishqueue",$publishqueueid))
			#if( "complete" == $publishqueue.get("status") )
				#if( $order.ordertype == "download" )
					#set($destination = $searcherManager.getData($catalogid, "publishdestination",$publishqueue.publishdestination))
					#if( $destination.publishtype == "aspera")
						#if( $item.status == "complete" || $item.status == "delivered" )
						<ul class="embuttons">
							<li><a href="$home$apphome/views/activity/aspera/asperadownload.html?orderid=$order.id&itemid=$item.id"><span>Download</span></a></li>	
						</ul>
						#end
					#end	
					<div >
						Export Path: $!{destination.server}$!{destination.url}$!{item.filename}<br>
					</div>
				#end	
			#end
		#end
 </td>
      
 </tr>	  

  
 
   