#set( $id = $plugin.id )#set ( $origURL=$url_util.getOriginalUrl() )
<a href="#" class="oepluginheader" onmouseover="OEPopUp.showPopUp(this,'openedit-editormenu',0,22);" onmouseout="OEPopUp.hide('openedit-editormenu');">OpenEdit CMS</a>
<div id="openedit-editormenu" class="oepopupsection" onmouseover="OEPopUp.showPopUp(this,'${id}menu',0,22);" onmouseout="OEPopUp.hide('${id}menu');">

<ul class="oeglossymenu">
	<li><a href="$home/index.html" target="_parent"><img border="0" src="$home/openedit/components/images/toolbar/home.gif" title="[[Home]]"/> [[Home]]</a></li>
	
	<li><a href="$home/media/settings/filemanager/index.html" target="_parent"><img border="0" src="$home/openedit/components/images/toolbar/filemanager.gif" title="[[filemanager]]"/> [[filemanager]]</a></li>
	 #if ($pages.canView("/openedit/views/links/index.html"))
		<li><a href="$home/openedit/views/links/index.html?path=$!path" target="_parent"><img border="0" src="$home/openedit/components/images/toolbar/links.gif" title="[[editlinks]]" /> [[editlinks]]</a></li>
	#end
	#if ( $pages.canView( "/openedit/views/workflow/index.html" ) ) 
		<li><a href="$home/openedit/views/workflow/index.html" target="_parent"><img border="0" src="$home/openedit/images/toolbar/workflow.gif" title="[[workflow]]" /> [[workflow]]</a></li>
	#end
		
#if( $oeadminmode.size() == 0)
$!oeadminmode.addNewTab("editing","[[Editing Mode]]","/openedit/components/workflow/mode/viewediting.html")
$!oeadminmode.addNewTab("preview","[[Preview Mode]]","/openedit/components/workflow/mode/viewpreview.html")
$!oeadminmode.addNewTab("debug","[[Debug Mode]]","/openedit/components/workflow/mode/viewdebug.html")
$!oeadminmode.setLastSelectedById($user.get("oe.edit.mode"))
#end
#set( $mode = $oeadminmode.getTabById($user.get("oe.edit.mode") ) )
#if( !$mode) 
#set( $mode = $oeadminmode.getTabById("editing"))	
#end
#foreach( $tab in $oeadminmode.tabs)
<li>
<a href="$home${tab.path}?origURL=$origURL" #if( $tab.id == $mode.id ) id="oeglossymenuselected" #end><img src="$home/openedit/components/images/toolbar/mode${tab.id}.gif" border="0" title="$tab.name" /> $tab.name</a>
</li>
#end
<!-- li><a href="$home/openedit/components/update/apps/createnew.html?base=$plugin.basePath"><img border="0" src="$home/openedit/components/images/toolbar/addplugin.gif" /> Add New Content</a></li -->

</ul>
</div>