#set( $id = $plugin.id )
<a href="#" class="oepluginheader" onmouseover="OEPopUp.showPopUp(this,'${id}menu',0,22);" onmouseout="OEPopUp.hide('${id}menu');"><img border="0" src="$home$plugin.showThumb()" /> $plugin.getTitle($context.locale)</a>
<div id="${plugin.id}menu" class="oepopupsection" onmouseover="OEPopUp.showPopUp(this,'${id}menu',0,22);" onmouseout="OEPopUp.hide('${id}menu');">
<ul class="oeglossymenu">
	#foreach( $app in $plugin.applications)
		<li><a href="$home$app/"><img border="0" src="$home$plugin.showThumb()" /> $app/</a></li>
	#end
	<li class="oeplugindivider"><a href="$home/openedit/update/plugins/createnewapp.html?pluginid=$plugin.id"><img border="0" src="$home/openedit/images/toolbar/addplugin.gif" /> [[Add New]]</a></li>
</ul>
</div>