<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>$content.title</title>
<!-- add your meta tags here -->


#foreach( $script in $content.getScriptPaths() )
	<script type="text/javascript" src="$home$script">  </script>
#end

#foreach( $style in $content.getStylePaths() )
	<link rel="stylesheet" type="text/css" href="$home$style" />
#end



<link href="$home/templates/demoall/css/my_layout.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="$home/templates/demoall/css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
  <div class="page_margins">
    <!-- start: skip link navigation -->
    <!-- end: skip link navigation -->
    <div class="page">
      <div id="topnav">
        <!-- start: skip link navigation -->
        <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
        <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
        #if($user)
        <!-- end: skip link navigation -->Welcome $user  <a href="$home/openedit/authentication/logout.html">Logout</a> | <a href="$testbenchhome/help/index.html">Help</a>
        #else
        <!-- end: skip link navigation -->Welcome $user  <a href="$home/openedit/authentication/logon.html">Logon</a> | <a href="$testbenchhome/help/index.html">Help</a>
        #end 
      </div>
      <div id="header">
      <h1>Demo All Site</h1>
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
         $pages.include("/templates/demoall/nav.html")
        </div>
      </div>
      <div id="main">
       $pages.includeContent()
      </div>
      <div id="footer">TestBench by <a href="http://www.ijsolutions.ca">IJ Solutions</a>
      </div>
    </div>
  </div>
</body>
</html>
