<div>
	#set( $tab = $context.findValue("subtab") )
	#set($hitssessionid = $context.getRequestParameter("hitssessionid"))
	
	#set( $links = $searcherManager.getList($catalogid,"detaileditorlinks") )
	
	#set( $catalogid = $asset.catalogId )
   	#set( $mediaarchive = $enterMedia.getMediaArchive($catalogid) )
   	#set( $sourcepath = $asset.sourcePath )
   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
	#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
	#set( $medend = $mediaarchive.getLinkToSize($sourcepath, "medium") )
	#set( $tsize = "$home$thumbend" )
	#set( $msize = "$home$medend" )
		
	#if( $asset.name )
   		#set( $name = $asset.name )
   	#elseif ( $asset.title )
   		#set( $name = $asset.title )
   	#else
   		#set( $name = "(No name)" )
   	#end
		
	#if( $parenthits )
		#set( $rootid = $parenthits.sessionId )
	#else
		#set( $rootid = $hits.sessionId )
	#end
	#if( $thumbend )
		<a href="$home$apphome/views/assets/$asset.sourcepath/index.html">
		<img src="$tsize" class="emdropshadow" align="middle" border="0" title="${name}" style="margin-right: 5px;"/>
		</a>
		#end
<ul id="assetmenu">
#foreach( $link in $links)
	#set( $pname = "can${link.id}")
	#set( $permission = "$!context.getPageValue($pname)")
	#set( $target = "" )
	#set( $img = "${themeprefix}/images/detaileditor/default.png")
	#set( $inmultiok = ($link.multiedit && $link.multiedit == "true") )
	#set( $addtext = "" )
	#if( $permission != "false")
	<div style="margin-top: 3px;">
		 #set( $text = $link.name)
		 #set ($href = "$apphome/views/modules/asset/editor/${link.folder}/index.html")
		 #set($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
		#if($link.id =="comment")
			#set( $img = "${themeprefix}/images/detaileditor/comments.png")	
			#set ($comments = $commentArchive.loadComments("/WEB-INF/data/$catalogid/comments/$asset.sourcePath"))
			#set( $addtext = "(<span id='assetcommentscount'>$comments.size()</span>)")
			#set ($args = "assetid=$asset.getId()&sourcepath=$asset.sourcePath&hitssessionid=$!{hitssessionid}")
		#elseif( $link.id == "viewattachments")
			#set ($path = "/WEB-INF/data/$catalogid/originals/$asset.sourcePath")
			#set ($args = "path=$path&assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")		
			#set( $img = "${themeprefix}/images/detaileditor/upload.png")
		#elseif ($link.id == "viewassetrelated")
			#set ($addtext = "($relatedhits.size())")
			#set( $img = "${themeprefix}/images/detaileditor/loop.png")
		#elseif ($link.id == "printcutoffsheet")
			#set( $img = "${themeprefix}/images/detaileditor/docs_16x16.png")
			#set( $target = "_new" )
		#elseif ($link.id == "deleteasset")
			#set ($permission = $candeleteasset)
			#set( $img = "${themeprefix}/images/detaileditor/cancl_16x16.png")
		#elseif ($link.id == "metadatadetails")
			#set( $img = "${themeprefix}/images/detaileditor/edit_16x16.png")
		#elseif ($link.id == "viewassetedit")
			#set ($path = "/WEB-INF/data/$catalogid/originals/$asset.sourcePath")
			#set ($args = "path=$path&assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")		
			#set( $img = "${themeprefix}/images/detaileditor/wiz_16x16.png")
		#elseif ($link.id == "editassetcategories")
			#set( $img = "${themeprefix}/images/detaileditor/keyword.png")
		#elseif ($link.id == "viewmediaviewer")
			#set( $img = "${themeprefix}/images/detaileditor/zoom.png")
		#elseif ($link.id == "converthistory")
			#set( $img = "${themeprefix}/images/detaileditor/paste_16x16.png")
		#elseif ($link.id == "viewassetdownloads")
			#set( $img = "${themeprefix}/images/detaileditor/paste_16x16.png")
		#elseif ($link.id == "sharepermissions")
			#set( $img = "${themeprefix}/images/navigation/user-group.png")
		#elseif ($link.id == "assetpermissions")
			#set( $img = "${themeprefix}/images/detaileditor/lock_16x16.png")
			 #set($args = "editPath=$apphome/assets/$asset.sourcepath/_site.xconf&assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
		#elseif ($link.id == "fatwireexport")
			#set($img = "${themeprefix}/images/detaileditor/opnbr_16x16.png")
		#else
			#set ($args = "assetid=$asset.getId()&hitssessionid=$!{hitssessionid}")
		#end
		#if( !$asset.id.startsWith("multiedit:") || $inmultiok )
		<div class="catalogs_menu_item #if($tab == "$link.id") current #end">
			<a href="$home$href?$args" #if($target) target="$target" #end ><img border=0 src="$home$img">$context.getText($text) $!addtext</a>
			
			#if($tab == "$link.id")
		  </div>

			#end
		</div> ##end catalog item
		#end ##end multi edit check
	</div> ##end permission false?
	#end ##end foreach?
#end


</div>

</div>

</div>