#set ($catalogid = $context.getRequestParameter("catalogid"))
#set ($view = $context.getRequestParameter("view"))
#set ($label = $context.getRequestParameter("label"))
#set ($id = $context.getRequestParameter("id"))
<div id="${view}editor">
#if( !$catalogid )
	#set( $catalogid = $mediaarchive.getCatalogId() )
#end

#if(!$searcher)
	#set ( $searchtype = $context.getRequestParameter("searchtype") )
	#if( $searchtype )
		#set ( $searcher = $searcherManager.getSearcher($catalogid, $searchtype ) )
	#else		
		#set ( $searcher = $mediaarchive.assetSearcher )
	#end
#end
#set( $catalogid = $searcher.getCatalogId() )
#set( $searchtype= $searcher.getSearchType() )
#if(!$data)
	#if( $asset )
		#set( $data = $asset )

	#else
		#set ($data = $searcher.searchById($id))		
	#end
	$context.putPageValue("data", $data)	
#end





$context.putPageValue("searcher", $searcher)

#set ( $openview = $context.getRequestParameter("openview") )
#set ( $edit = $context.getRequestParameter("edit") )
#set ($editpath = $context.getRequestParameter("editorpath"))
#if(!$editpath)
	#set( $editpath = "${page.directory}/genericsave.html" )
#end
#if($data.getId().startsWith("multiedit"))
	#set($multiedit = true)
#end

#if (($edit && $edit != "false") || ($openview && $openview == $view))

	<form name="formedit$view" id="formedit$view" class="ajaxform" targetdiv="${view}editor" method="post" action="$home$editpath?oemaxlevel=1" >
	
		<input type="hidden" name="saveasnew" value="false" />
		<input type="hidden" name="save" value="true" />
		<input type="hidden" name="catalogid" value="$!catalogid" />
		<input type="hidden" name="searchtype" value="$searcher.getSearchType()" />
		
		<input type="hidden" name="view" value="$view" />
		<input type="hidden" name="label" value="$label" />
		
		#if( $searchtype == "asset" )
			<input type="hidden" name="field" value="assetid" />
			<input type="hidden" name="assetid.value" value="$asset.getId()" />
			<input type="hidden" name="assetid" value="$asset.getId()" />
			
		#end
		<input type="hidden" name="id" value="$!data.id" />
		$context.putPageValue("view",$view)	
		$context.putPageValue("origURL", "$apphome/assets/${asset.sourcePath}.html")
		<div id="default-fields">
			$pages.include("/$applicationid/components/xml/detaileditor.html?multiedit=$multiedit", $context)
		</div>
		<p class="btns" align="right">
			<a class="ajax" style="margin-right: 5px;" targetdiv="${view}editor" href="$home$apphome/components/detaileditor/generic.html?searchtype=$searcher.searchType&view=$view&id=$!data.id&assetid=$asset.id$label=$label&oemaxlevel=1">[[Cancel]]</a>
			<input class="btn" type="button" 
				onclick="jQuery(this.form).submit();"
			value="[[Save values]]"/>
		</p>
	</form>

#else
	#set ($showit = true)
	#set ($print = $context.getRequestParameter("print"))
	
	#if ($print && $print == "true")
		#set( $assetdetails = $searcher.getDetailsForView($view, $user) )
		#set( $showit = false)
		#foreach( $detail in $assetdetails )
		 	#set( $value = false)
		 	#set( $value = $data.get($detail.getId()))
			#if( $value ) 
				#set( $showit = true) 
			#end
		#end
		
		#set( $viewlabel = $searcher.getViewLabel($view) )
			##set ($pluginpath = $context.getRequestParameter("pluginpath"))
			##set( $plugin = $pages.getPage("$pluginpath"))
			<h2>$context.getText($viewlabel)</h2>
	#end
	
	#if ($showit)
	
		#set( $foundone = false)
		#set( $assetdetails = $searcher.getDetailsForView($view, $context.getUserProfile()) )
		<div class="table" id="default-fields">
		$context.putPageValue("details",$assetdetails)
   		$context.putPageValue("searcher",$searcher)
   		
   		## TODO: USE THIS !$pages.include("/$applicationid/components/xml/detaileditorcss.html?detailsreadonly=true", $context)

		
		#foreach( $detail in $assetdetails )
			#set( $value = false)
			
			#if( $searcherManager )
				#set( $value = $searcherManager.getValue($data,$detail) )	
			#else
				#set( $value = $data.get($detail.getId()))
			#end
			
			#if( $value && $value != "") 
				#set( $foundone = true)
				<div class="cellrow">
					<span class="bodylabel" valign="top">
						$detail.getText($context)
					</span>
					<span class="bodycontent" valign="top" width="100%">
					$!context.putPageValue("val",$value)
					$!context.putPageValue("detail",$detail)
					$pages.include("$apphome/components/xml/detailreadonly.html", $context) 
		
					</span>
				</div>
			#end
		#end ##foreach loop
		</div>
		#if( !$foundone )
    		<div class="table" id="default-fields">
        		<div class="cellrow">
                    <div style="padding: 15px 0; text-align: center; color: #aaa;">
    			        [[No Data has yet been entered.]]
    			   </div>
    			</div>
    		</div>
		#end
		
		#if($caneditasset && $caneditmetadatageneral && !$print.equals("true"))
			<p class="btns" align="right"><a class="ajax btn" targetdiv="${view}editor" 
			href="$home$apphome/components/detaileditor/generic.html?catalogid=$catalogid&searchtype=$searcher.searchType&id=$!data.id&view=$view&assetid=$!asset.id&edit=1&oemaxlevel=1" >[[Edit ]]</a>
			</p>
		#else
			<p class="btns" align="right">&nbsp;</p>
		#end
	#else ##showit
         [[No data has been entered.]]
	#end

#end ##edit

</div>