        
<!--    
                <li><a #if( $tab == "song_revisions") class="current" #end href="$home$apphome/view/table.html?id=$data.id&viewpath=song_revisions">Roughs</a></li>
                <li><a #if( $tab == "song_lyrics") class="current" #end href="$home$apphome/view/table.html?id=$data.id&viewpath=song_lyrics">Stems</a></li>
                <li #if( $tab == "song_discussions") class="current" #end><a href="$home$apphome/view/table.html?id=$data.id&viewpath=song_discussions" >Song Notes</a></li>
                <li><a #if( $tab == "song_lyrics") class="current" #end href="$home$apphome/view/edit.html?id=$data.id&viewid=songlyrics&viewpath=song/songlyrics">Lyrics</a></li>
                <li><a #if( $tab == "song_lyrics") class="current" #end href="$home$apphome/view/table.html?id=$data.id&viewpath=song_lyrics">Performers</a></li>
              ##  <li><a #if( $tab == "song_licensees") class="current" #end href="$home$apphome/view/table.html?id=$data.id&viewpath=song_licensees">Licensees</a></li>
                <li><a #if( $tab == "song_info") class="current" #end href="$home$apphome/view/edit.html?id=$data.id&viewid=songinfo&viewpath=song/songinfo">Info</a></li>
            </ul>
  --> 

#set( $searchhome = $context.getRequestParameter("searchhome") )
#set( $moduleid = $context.getRequestParameter("module") )
#set($viewid = $context.getRequestParameter("viewid"))
#set($viewpath = $context.getRequestParameter("viewpath"))

#set( $origURL = $context.getRequestParameter("origURL" ) )
    
#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($query = $viewsearcher.createSearchQuery().append("module",$moduleid).append("systemdefined","false") )
$!query.addSortBy("ordering")   
#set($views = $viewsearcher.search($query))

##if( !$viewid && $views.size() > 0)               
    ##set( $viewid = $views.first().getId() )
    ##set( $viewpath = "${moduleid}/$viewid" )
##end
$context.putPageValue("view", $viewpath)

#set($hitssessionid = $context.findValue("hitssessionid"))

            #set ($lastselected = $content.module )
            #if(!$lastselected)
                #set($lastselected = $userprofile.last_selected_module )
            #end
        #set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )
<ul class="md-navigation">
      #foreach( $target in $views)       
          <li class="#if($viewid == $target.id) current #end projects-$target.id" byassettype="$!target.byassettype">
          		#if( $target.rendertable )
              <a class="tab" href="$home${searchhome}/edit/moduletable.html?id=${data.id}&viewid=$target.id&viewpath=$moduleid/$target.id&hitssessionid=$!{hitssessionid}">
               <span class="icon"></span><span class="text"> $target</span></a>
          		#else
              <a class="tab" href="$home${searchhome}/edit/edit.html?id=${data.id}&viewid=$target.id&viewpath=$moduleid/$target.id&hitssessionid=$!{hitssessionid}&searchtype=$moduleid">
                <span class="icon"></span><span class="text"> $target</span></a>
                #end
          </li>
      #end
</ul>
