#set ( $searchtype = $context.getRequestParameter("searchtype") )
#if( !$searchtype)
	#set( $searchtype = "asset")
#end
#set ( $viewname = $context.getRequestParameter("view") )
<table cellpadding="1" cellspacing="2" border="0" width="100%" >
#set( $foundone = false)
#set( $details = $searcherManager.getPropertyDetailsArchive($mediaarchive.catalogId).getDataProperties($searchtype,$viewname,$user) )
 #foreach( $detail in $details )
 	#set( $value = false)
 	#set( $value = $asset.get($detail.getId()))
	#if( $value ) #set( $foundone = true)
		<tr>
			<td class="bodylabel" valign="top">
				$detail.getText($context):
			</td>
			<td class="bodycontent" valign="top" width="100%">
				#if( $detail.isList() )
					#set( $foundrow = $searcherManager.getData($detail.getListCatalogId(),$detail.getListId(),$value) )  
					$!foundrow.name
					##set( $types = $mediaarchive.getProperties(${detail.getId()}) )  ##is this used?
					##$!types.get($value)
				#elseif($detail.isFile())
					<a href = "$home/$value">$!value</a>
				#elseif($detail.isBoolean())
					#if ("true" == $value)
						[[Yes]]
					#else
						[[No]]
					#end
				#else
					$!value
			   	#end
			</td>
		</tr>
	#end
#end
</table>
