#set($pluginpath = $context.getRequestParameter('pluginpath') )
#set($assetid = $context.getRequestParameter('assetid'))
#set($viewpath = $context.getRequestParameter('view'))
#set($viewid = $url_util.getPathUtilities().extractFileName($viewpath) )
#set($label = $context.getRequestParameter('label'))

#set( $plugin = $pages.getPage($pluginpath))

#set ($openview = $context.getRequestParameter("openview"))

#set ($finishedname = "${view}complete")
#set ($finished = $asset.get($finishedname))

#if( !$user.hasProperty($viewpath) || $user.isPropertyTrue($viewpath) )
	#set( $open = "down")
#else
	#set( $open = "up")
#end
#set ( $module = $context.findValue("module"))

<div id="$!viewpath">

<div class="ui-widget emdetaileditorbox commentbox" >
	<div class="ui-widget-header toggle up">
	
	
	<span>
	<a href="#" onclick="toggleEditSection('$viewpath','$pluginpath', '$asset.id', '$viewpath', '$label'); return false;">
	    <div class="toggler">
	        <img border="0" src="$home${themeprefix}/images/detaileditor/triangle${open}.png" />
	    </div>
	$context.getText($label)</a>
	</span>
	#if( $caneditmetadatasetup )

	
	#if ( $viewpath.contains("$asset.assettype") )
		#set ( $type = $asset.assettype )
	#else
		##set ( $type = false )
	#end
	
	<span class="widget-header-edit">
	   
		 <a class="ir" href="$home$apphome/views/settings/modules/$module/metadata/views/index.html?viewid=${viewid}&viewpath=${viewpath}&assettype=$!type">Edit</a>
	</span>
	#end
	</div>
	#if ($openview && $openview == $viewpath)
		#set ($open = "down")
	#end
	
	#if( $open == "down")
	#set( $origURL = $context.getRequestParameter("origURL") )
	#if( !$origURL )
	#set( $origURL = $content.path )
	#end
	<div class="ui-widget-content  metadata-editor">
	
	$context.putPageValue("finished",$finished)
	$pages.include("$plugin?origURL=$origURL", $context)
	</div>
	#end
</div>

</div>
