#if( $order.orderstatus == "complete" )
$pages.include("$apphome/views/activity/download/listitems.html")
	
#elseif( $order.orderstatus == "error" )

Error

$!order.orderstatusdetail

$pages.include("$apphome/views/activity/download/listitems.html")

#else

<div id="status$order.id" class="ajaxstatus" ajaxpath="$home$apphome/views/activity/download/ajaxorderstatus.html?orderid=$order.id" period="2000">

Preparing files for download


<img src="$home$themeprefix/images/ajax-loader.gif" />


</div>

#end
