
<div >
	<table id="shared-asset-table" class="striped download-table" >

#set( $downloadall = false)

#foreach( $item in $orderitems )

    #set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
	#set( $click = "$home$apphome/views/modules/asset/editor/index.html?hitssessionid=$rootid&assetid=${asset.getId()}&orderid=$order.id" )

	<tr>
	<td class="asset-thumb">		
				$context.putPageValue("asset", $asset)
				$context.putPageValue("item", $item)
				$context.setRequestParameter("sourcepath", $asset.sourcepath)					
	
	   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
		#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
		#set( $tsize = "$home$thumbend" )
		
		#if( $parenthits )
			#set( $rootid = $parenthits.sessionId )
		#else
			#set( $rootid = $hits.sessionId )
		#end
		
			<a href="$click" alt="$asset" name="$asset" style="text-decoration: none;">
		
			#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
			$context.putPageValue("cell", $asset)
			$context.putPageValue("showdetails", "false")
			$context.putPageValue("thumbsize", "crop")
		   	#set( $sourcepath = $asset.sourcePath )
			$pages.include("${apphome}/components/results/thumbnails/${type}.html", $context)
			</a>
	</td>
	<td class="asset-name">${asset}</td>
	#set( $publishqueueid = $item.get("publishqueueid"))
	#set($publishqueue = $searcherManager.getData($catalogid, "publishqueue",$item.get("publishqueueid") ) )

	#set( $presetid = $publishqueue.get("presetid") )
	#if( $publishqueue.publishdestination == "0")   ##download with the browser
	
		#if( $order.orderstatus == "error" )
			<td></td>
			<td>Error, download not available</td> ##Link to my orders
			#set( $downloadall = false)
		#else	
	
			#set( $presetid = $publishqueue.get("presetid") )
			#if( $presetid == "0")
				<td></td>
				<td>
					<a class="btn small" href="$home$mediaarchive.asLinkToOriginal($asset)">Download</a>
					#set( $downloadall = true)
					
				</td>
			#elseif( $presetid == "attachments")
				<td></td>
				<td>
					<a class="btn small" href="$home/${applicationid}/views/modules/asset/downloads/attachments/${asset.sourcepath}.zip">Download Attachments</a>				
				</td>
				
			#else
				<td>
				${publishqueue.exportname}
				</td>
				<td align="right">
						#set($convertpreset = $searcherManager.getData($catalogid, "convertpreset", $presetid ) )
						<a class="btn small" href="$home/${applicationid}/views/modules/asset/downloads/generated/${asset.sourcepath}/${convertpreset.outputfile}/${publishqueue.exportname}">Download</a>
										#set( $downloadall = true)
				</td>
			#end
		#end	
	#elseif( $publishqueue.publishdestination == "1") )
		<td></td>
		<td>
			#if( $destination.publishtype == "aspera")
			#if( $item.status == "complete" || $item.status == "delivered" )
			<ul class="embuttons">
				<li><a href="$home$apphome/views/activity/aspera/asperadownload.html?orderid=$order.id&itemid=$item.id"><span>Download</span></a></li>
								#set( $downloadall = true)
				
			</ul>
			#end
		#end	
		</td>
	#else
		<td></td>		
		<td><a class="btn" href="$click" >View</a></td>
	#end	
	</tr>	
	#end
	
</table>
#if($downloadall )
	<div style="float:right; margin:20px 55px;"> <a class="btn" href="$home$apphome/views/activity/download/zip/${order.id}.zip?orderid=${order.id}" >Download All (Zip)</a></div>
#end	
</div>
