#macro(uuencode $invalue)$!url_util.encode($invalue)#end
#macro(esc $invalue)$!url_util.xmlEscape($invalue)#end
#macro(escwrap $invalue $inwrap)$!url_util.xmlEscapeWithWrap($invalue, $inwrap)#end
#macro(text $t)$!context.getText($t)#end
#macro( translate $text )
	$!translations.getEntryForLocale($context.getLocale(), $text, $content.isPropertyTrue("auto_translate_${context.getLocale()}"))
#end

#macro(makeid $invalue)$!url_util.getPathUtilities().extractId($invalue)#end


#macro(debug $invalue)
	#set ($mode = $user.get("showdebug"))
	#if($mode && $mode == "true")
		$invalue
	#end
#end