<div id="vieweditorarea">

#set($viewid = $context.getRequestParameter("viewid"))
#set( $assettype = $context.getRequestParameter("assettype") )

#if( !$assettype )
	#set( $assettype = "default" )
#end
#set( $moduleid = $context.findValue("module") )
#set( $viewpath = $context.getRequestParameter("viewpath") )

#set( $viewsroot = $content.viewsroot )


<ul  viewid="$viewid" catalogid="$catalogid" searchtype="$moduleid" assettype="$assettype" viewpath="$viewpath" path="$home$viewsroot/movefields.html">

	
#if( $viewid )

	#set($view = $searcherManager.getData("$catalogid", "view", $viewid))
	
	<li class="header no-sort" id="views-header" style="height: 16px;">
	    <span id="name">$view</span>
	    #if ( $view.rendertable )
	    <span class="type">Table: $view.rendertable</span>
	    #end
	    
	    #set ( $systemdefined = "false" )
        #set ( $systemdefined = $context.findValue("systemdefined") )
        
    #if( $canviewsettings )   
	<a class="settings-icon ir tooltip" title="$view Settings" id="setup-view">$view Settings</a>
	#end
	
	   #if($view.byassettype == "true" )
    
    
            
            <span style="float: right; margin: 0 8px 0 0">[[Asset Type]]: 
            #set($current = $context.getRequestParameter("assettype")) 
            #set($assettypesearcher = $searcherManager.getSearcher($catalogid, "assettype"))
            
            <select id="assettype" name="assettype" onchange='loadViewsByAssetType(this.value,"$viewid")'>
                    <option value="default" >Default</option>
                        #foreach($item in $assettypesearcher.fieldSearch("id","*","nameUp"))
                            <option #if($current == $item.id) selected #end value="$item.id">$item</option>
                        #end
                    </select> 
            </span>
         #end
	</span>
	<div id="views-settings" style="display: none;">
	    
	    <div class="inner clearfix">
	    
        <form id="changename" name="newgroup" method="post" action="$home$viewsroot/changeviewname.html?id=$viewid&viewid=$viewid&viewpath=$viewpath&save=true&searchtype=view">
            <input type="hidden" name="field" value="name" />
            <div>View Name</div>
            <input class="field" name="name.value" value="$view.name" >
	 		<div class="checkbox">
                <input type="checkbox" name="byassettype.value" value="true" #if( $view.byassettype && $view.byassettype == "true" ) checked #end />
                Use Asset Type
            	<input type="hidden" value="byassettype" name="field" />
            </div>

            <div class="checkbox"><input id="renderastable" type="checkbox" name="rendertype.value" value="table" #if($view.rendertable) checked #else #end/>
                Render as Table?
            	<input type="hidden" value="rendertype" name="field" />

            </div>

	    <div class="checkbox"><input id="systemdefined" type="checkbox" name="systemdefined.value" value="true" #if($view.systemdefined == "true") checked #else #end/>
                System View?
            	<input type="hidden" value="systemdefined" name="field" />

            </div>


            <div id="rendertableoptions" #if (!$view.rendertable) style="display: none;" #end>
                <div>Render Table</div>
            	<input type="hidden" value="rendertable" name="field" />
                <input class="field" name="rendertable.value" value="$!view.rendertable" >
                <div>Render Table External ID</div>
            	<input type="hidden" value="renderexternalid" name="field" />
                <input class="field" name="renderexternalid.value" value="$!view.renderexternalid" >
                <div>Render Table Default Sort</div>
				<input type="hidden" value="rendersort" name="field" />
                <input class="field" name="rendersort.value" value="$!view.rendersort" >


            </div>

            
            <div class="hr" style="margin: 5px 0 0 0"></div>
            <input class="btn right" style="margin-top: 10px;" type="submit" value="Save" />
            #if($candevelop)
            <a class="btn" href="$home$viewsroot/makedefault.html?id=$viewid&viewid=$viewid&viewpath=$viewpath&save=true&searchtype=view">Make Default</a>
            #end
        </form>
        
	   
	    </div>
    </div>
    <script>
        $('#setup-view').click(function(){
            if ( $('#setup-view').hasClass('open') ) {
                $('#views-header').height(16)
                $('#views-settings').hide();
                $('#setup-view').removeClass('open');
            }
            else {
                $('#views-header').height('auto')
                $('#views-settings').show();
                $('#setup-view').addClass('open'); 
            }
        })
        $('#renderastable').click(function(){
            if ( $('#renderastable').is(':checked') ) {
                $('#rendertableoptions').show();
            }
            else {
                $('#rendertableoptions').hide();
            }
        })
        
    </script>
	
	</li>
				
	<li class="no-sort add-to">
	    #if( $view.rendertable)
            #set($searchtype = $view.rendertable)
        #else
            #set($searchtype = $moduleid)
        #end
        #if( $canviewsettings )
	    <a href="$home$apphome/views/settings/lists/datamanager/properties/index.html?&searchtype=$searchtype">Add New</a>
	    #end
	    <form name="addtoview" class="ajaxform" targetdiv="vieweditorarea" id="addtoview" action="addtoview.html">
            <input type="hidden" name="catalogid" value="$!catalogid"/>
            <input type="hidden" name="searchtype" value="$moduleid"/>
            <input type="hidden" name="assettype" value="$assettype"/>
            <input type="hidden" name="oemaxlevel" value="1"/>
            <input type="hidden" name="viewid" value="$viewid"/>
            <input type="hidden" name="viewpath" value="$viewpath"/>
			#if( $view.rendertable)
				#set($searcher = $searcherManager.getSearcher($catalogid, $view.rendertable))
			#else
				#set($searcher = $searcherManager.getSearcher($catalogid, $moduleid))
			#end	
            <select name="newone" style="float: right; #if( $canviewsettings ) margin-top: -17px; #else margin-top: -41px;  #end width:150px;" onchange="jQuery('#addtoview').submit()"  >
                <option value=""> </option>
                #foreach( $detail in $searcher.getUserPropertyDetails() )
                    <option value="$detail.id">$detail.text</option>
                #end
            </select>
        </form>
	</li>
#end

			#set($details = false)
			#set($details =  $searcher.getDetailsForView($viewpath, $user))
			#foreach( $element in $details)
				#set( $pid = $element.id)
				<li class="rowdraggable metadatadroppable" id="$pid" ><span class="drag-and-drop"></span>
					#if( $canviewsettings )
					<a href="$home$apphome/views/settings/lists/datamanager/properties/edit.html?id=$pid&searchtype=$searchtype">$element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					#else	
						<A href="#">$element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end<span></a>
					#end	
					<a class="ajax delete-row" targetdiv="vieweditorarea" href="./removefromview.html?searchtype=$moduleid&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath&oemaxlevel=1"></a>
				</li>
			#end		
		
</ul>

</div>