#set($viewid = $context.getRequestParameter("viewid"))
#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set ( $systemdefined = "false" )
#set ( $systemdefined = $context.findValue("systemdefined") )


#set ( $moduleid = $context.findValue("module") )		

#set($query = $viewsearcher.createSearchQuery().append("module",$moduleid).append("systemdefined",$systemdefined) )
$!query.addSortBy("ordering")
#set($views = $viewsearcher.search($query))

#set( $viewsroot = $content.viewsroot )


	<div id="table-container">
		<div id="side-nav-inner">
			<div id="viewlist">
				$pages.include("$apphome/views/settings/modules/${moduleid}/metadata/views/viewslist.html", $context)		
			</div>
		</div>
		<div id="workarea">
			$pages.includeContent()
		</div>
	</div>


<script type="text/javascript">


	loadViewsByAssetType = function(assettypeid, viewid) {
	
		var view = "";

		if( assettypeid == 'default' || typeof(assettypeid) == 'undefined')
		{
			view = "asset/assettype/default/" + viewid;
		}
		else
		{
			view = "asset/assettype/" + assettypeid + "/" + viewid;
		}
		document.location.href = "$home$viewsroot/index.html?viewid=" + viewid + "&viewpath=" + view + "&assettype=" +  assettypeid +"&searchtype=${searcher.getSearchType()}";
	}
/*
	removeProperty = function() {
		var selected = jQuery("select option:selected");
		var selectedid = selected.val();
		jQuery("#modifyproperties").load("$home$apphome/views/settings/metadata/fields/removeproperty.html?id=" + selectedid + "&catalogid=${mediaarchive.getCatalogId()}&searchtype=${searcher.getSearchType()}");
	}
	
	createProperty = function() {
		jQuery("#modifyproperties").load("$home$apphome/views/settings/metadata/fields/addproperty.html?catalogid=${mediaarchive.getCatalogId()}&searchtype=${searcher.getSearchType()}");
	}
*/	
</script>

