#set( $assettype = $context.getRequestParameter("assettype") )
#set( $viewpath = $context.getRequestParameter("viewpath") )
#set( $viewid = $context.getRequestParameter("viewid"))

#set($searcher = $searcherManager.getSearcher($catalogid, "asset"))

<div class="ui-widget emdetaileditorbox commentbox no-top-margin">
<div class="ui-widget-header">Fields</div>	
		<div class="ui-widget-content" id="editlayout">

		<form name="addtoview" id="addtoview" action="addtoview.html">
			<input type="hidden" name="catalogid" value="$!catalogid"/>
			<input type="hidden" name="searchtype" value="asset"/>
			<input type="hidden" name="assettype" value="$assettype"/>
			<input type="hidden" name="viewid" value="$viewid"/>
			<input type="hidden" name="viewpath" value="$viewpath"/>

			[[Add Field]]:
			<select name="newone" onchange="jQuery('#addtoview').submit()">
				<option value=""> </option>
				#foreach( $detail in $searcher.getPropertyDetails() )
 					<option value="$detail.id">$detail.text</option>
 				#end
			</select>
		</form>
		<table class="emdata settings-table striped">

			#set($details = false)
			#set($details =  $searcher.getDetailsForView($viewpath, $user))
			
			#foreach( $element in $details)
				#set( $pid = $element.id)
				<tr class="rowdraggable metadatadroppable" id="$pid" viewid="$viewid" catalogid="$catalogid" searchtype="asset" assettype="$assettype" viewpath="$viewpath">
				 <td> 
    				 <img src="$home$themeprefix/images/navigation/moveupdown.png" align="middle" style="position: relative; top: -3px;" />
    				 <a href="$home$apphome/views/settings/metadata/fields/index.html?id=$element.id&&searchtype=asset">$element.text</a>
				 </td> 
				 <td>
				 <form style="float:left;" name="editrow"  method="post" action="removefromview.html?catalogid=$catalogid&searchtype=asset">
				 <input type="hidden" name="toremove"  value="$pid" />
				 <input type="hidden" name="assettype" value="$assettype"/>
				 <input type="hidden" name="viewid" value="$viewid"/>
				 <input type="hidden" name="viewpath" value="$viewpath"/>
				 <input class="btn small" type="submit" name="remove" value="remove"/>
				 </form>
				 </td> 
				</tr>
			#end
		</table>
 
		</div>
		</div>




<script type="text/javascript">
	removeRow = function()
	{
		var id = $("#emselectedrow").val(); 
		$("#toremove").val(id);
		$("#removeform").submit();		
				
	}
</script>

</div>
