#set($viewid = $context.getRequestParameter("viewid"))
#set($viewpath = $context.getRequestParameter("viewpath"))
#set( $moduleid = $context.findValue("module") )
#set($searchtype = $context.getRequestParameter("searchtype"))
#if( !$searchtype)
	#set( $searchtype = $moduleid)
#end
<div id="default-top" class="clearfix" style="margin: -20px 0 20px 0;">
    <!--  
        <div class="thumbnail">
            <img src="" style="width: 91px; height: 91px;" />
        </div>
        
        <div class="main-info">
            <div class="primary">
                $firstName $lastname <span style="font-weight: normal; color: #999">($userid)</span>
            </div>
            <div class="secondary">
                $role
            </div>
        </div>
    -->
<!-- 
     <div class="main-info" style="padding-bottom: 30px;">
        <div class="primary">
           $!data.first_name $!data.last_name
        </div>
        <div class="secondary">
           #if ($data.company)
             $searcherManager.getData($catalogid, "company", $data.company)
           #end
        </div>
    </div>
-->
    #set($module = $searcherManager.getData($catalogid, "module", $moduleid ) )
	
      <div class="main-info" >
      	<div class="primary">$module / #if($data.name) $!data.name #elseif($data.id) $data.id #else  #end</div>
      </div>       
    
    
</div>

<div class="editholder">
<a id="editboxlink" class="ir" href="$home$apphome/views/settings/modules/$moduleid/metadata/views/index.html?viewid=${viewid}&viewpath=${viewpath}&assettype=$!type&searchtype=$searchtype">Edit</a>
</div>
