<div class="ui-widget" style="overflow: hidden;">
#set( $searchtype = $context.getRequestParameter("searchtype") )
#set( $catalogid = $context.getRequestParameter("catalogid") )

<div  class="ui-widget-content emselectmenu">
Fields: <select style="margin-left: 20px;" name="proptomodify" onchange="loadPropertyEdit();">
		<option value="" ></option>
		#foreach( $detail in $properties)
				<option value="$detail.id" #if($detailid == $detail.id)selected="selected"#end>$detail.text</option>
			#end
		</select>
<br><br>
<ul style="margin-left: 7px;" class="embuttons">
	<li><a href='$home$apphome/views/settings/fields/addnew.html'><span>Add New</span></a></li>
</ul>

</div>
</div>