  body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:75.00%;
    color:#444;
  }

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */


  a { color:#4D87C7; background:transparent; text-decoration:none; }
  a:visited  { color:#036; }

  /* (en) maximum constrast for tab focus - change with great care */
  /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
  a:focus { text-decoration:underline; color:#000; background: #fff; outline: 3px #f93 solid; }
  a:hover,
  a:active { color:#182E7A; text-decoration:underline; outline: 0 none; }

.buttonrow { background:#d0d0d0; color:#333; }
  .buttonrow th { background:#d0d0d0; color:#333; }
  
  .buttonrow Hover:HOVER { background:#d0d0d0; color:#333; }
  .buttonrow a { background:#d0d0d0; color:#333; }
  
  .buttonrow ul {
  margin: 0;
  }
  
  
  .buttonrow ul li {
  	list-style: none;
    display: inline;
  
  }
  
  