#logo { 
	background: none;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}

#nav {
	margin: 0;
	padding:0;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	width: 100%;
	height: 30px;
}
#nav li {
	margin: 30px 0 0 0;
	padding: 3px 8px;
	float: right;
	font-size: 85%;
	display: block;
}
#nav li a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
	display: block;
	text-transform:uppercase;
}
#nav li a:hover, #nav li a:active, #nav li a:focus {
	color: #cc0717;
	text-decoration: underline;
}

/* I added the following three which have all the styles pulled from the html. 
   I also moved some of the styles from the li to the li a so the whole menu 
   item/button is a link.  Wider buttons are easier to click!! */

/* ----- */
#nav ul.emactionsheadermenu { 
	z-index:600; 
	position:absolute;	
	list-style-type: none; 
	margin: 1px 0; 
	padding: 0px;	
	width: 176px;	
	border: 1px solid #9A9A9A; 
	xcolor: #999999;	
	
	text-align:left; 
	background-color: #F7F7F7;
}

#nav ul.emactionsheadermenu li { 
	display: block; 
	margin: 0px;
}
#nav ul.emactionsheadermenu li a {
	padding: 4px 0px; 
	width: 160px;
	display: block;
	text-decoration: none; 
	color: #9A9A9A;
}

#nav li a {
	text-decoration: none;
	color: #666666;
	font-size: 95%;
	font-weight: bold;
	display: block;
}

