#set( $searchtype = $context.getRequestParamer("searchtype") )
#set( $catalogid = $context.getRequestParamer("catalogid") )

<h4>[[Add Library]]:</h4> 

#set( $divisions = $searcherManager.getList($content.catalogid,"division") )
#if( $content.filter_division )

#elseif( $divisions.size() > 1)
<tr class="emsearchfieldrow">
	<td valign="middle" nowrap="" align="left" class="emsearchfieldvalue" id="detail_division">
		<select name="division.value"  id="parent${inputid}" onchange='loadlist("#detail_library", "$content.catalogid", "library", "Library", "libraries", "division", $(this).val(),"$!val" )'>
		<option value="">-- Choose Division --</option>
		#foreach( $division in $divisions)
			<option value="$division.id">$division</option>
		#end
		</select>
	</td>
</tr>
#end

<br>
<form name="adder" class="ajaxform" targetdiv="emvalueeditor" action="$home$apphome/components/datalibraries/addfinish.html">

<input type="hidden" name="searchtype" value="$searchtype" />
<input type="hidden" name="catalogid" value="$catalogid" />
<input type="hidden" name="fieldname" value="libraries" />
		<div id="detail_library">
			$pages.include("${apphome}/components/xml/types/simplelist.html?searchtype=library&fieldname=libraries&label=Library",$context)
		</div>		


<input type="hidden" name="id" value="$data.id" /><br>


<input class="btn small" type="submit" value="[[Add]]" />
</form>

