<h3>Download GIT Folder</h3>


#set( $libraryid = $data.library )
#if( !$libraryid )
 #set( $libraryid = "song${data.id}" )
#end

#set( $library = $searcherManager.getData($catalogid,"library",$libraryid ))

#if( $library.giturl )

	<div class="clearfix main-info" >
		Version control location: <i>${library.giturl}</i>  
	</div>
#else
	<div>
        <a class="btn" href="$home$apphome/views/modules/library/edit/edit.html?id=${libraryid}&viewid=librarygeneral&viewpath=library/librarygeneral&searchtype=library">Setup GIT In Library</a>
	</div>	
#end

<br><br><br>
<div >
	<a class="learnmore" href="http://entermediasoftware.com/views/learningcenter/wiki/Git_Hot_Folder.html" title="Learn More"><span>Setup Instructions</span></a>
</div>
