<div class="common-success">Saved Ok!</div>

<h2>Details</h2>

<div id="editlayout">
#set( $origURL = $context.getRequestParameter("origURL" ) )
#set( $categoryid = $context.getRequestParameter("categoryid" ) )

#if( !$view )				
	#set( $view = "${searcher.searchType}/edit" )
#end
$context.putPageValue("view", $view)

<form id="dataeditor" name="dataeditor" method="post"  action="$home$content.searchhome/edit/save.html" >
	<input name="save" type="hidden" value="true" />
	<input name="id" type="hidden" value="$!data.id" />
	<input name="categoryid" type="hidden" value="$!categoryid" />
	<input name="catalogid" type="hidden" value="$searcher.catalogId" />
	<input name="searchtype" type="hidden" value="$searcher.searchType" />
	<input name="origURL"  type="hidden" value="$!origURL" />
$pages.include("/system/components/xml/detailreadonly.html?viewonly=true", $context)


</form>



</div>
