#set ( $nodeID = $context.getRequestParameter("nodeID") )
#set( $editNode = $pageTree.getModel().getChildById($nodeID))

	#set( $editPath = $editNode.getURL() )
	#set( $editPage = $pageManager.getPage( $editPath ) )


	#set ( $origURL = "$page.filerootpath/index.html" ) 

#if( $editPage.isFolder() ) #set( $type = "folder" ) 
#elseif ( $editPage.getMimeType().startsWith("image/")) #set ( $type = "image" )
#else #set( $type = "file" )
#end

#if( $nodeID == "_")
	#set ($rootsection = "true")
#end

	

#if( $pages.canEdit($editPath))

	#if($context.getPageProperty("usemultiplelanguages") && "true" == $context.getPageProperty("usemultiplelanguages") && $user.hasPermission("translations") )	
		<li>
		 <a  href="$home/${applicationid}/views/filemanager/translations/translate.html?path=$!{editPath}"><span>[[Translate]] $type</span></a>		
		</li>
	#end
	#if( $editPage.isFolder())
		<li>
				<a href="#" onclick="showpath('oework', '$home${page.filerootpath}/mount/edit.html?path=$!{editPath}&nodeID=$nodeID',1);"><span><img src="$home$themeprefix/images/toolbar/mount.gif" border="0" title="[[Mount External Folders]]" /> [[Mount]] </span></a>		
		</li>		
		#if( $user.hasPermission("oe.edit.update") )
		
		<li>
				<a href="$home/${applicationid}/views/filemanager/update/pushdirectory.html?path=$editPath"><span><img src="$home$themeprefix/images/toolbar/add.gif" border="0" title="$context.getPageProperty('text.pushdirectory')" /> $context.getPageProperty('text.pushdirectory')</span></a>
		</li>
		
		#end
	#end
#end