#set( $path = $context.getRequestParameter("path"))
#if( !$path )
	#set( $path = $pageTree.getTreeRenderer().getSelectedNode().getURL() )
#end
#if(!$path)
	#set( $path = "/" )
#end

#if( $path.endsWith("/") && $path.length() > 0 )
	#set( $end = $path.length() - 1 )
	#set( $path = $path.substring(0, $end) )
#end


#set( $editPage = $pageManager.getPage($path))

$context.putPageValue("editPage", $editPage)
$context.putPageValue("editPath", $editPage.path)
<div id="em_fmcontent">
#if( $editPage.isFolder() )
	$pages.include("$page.filerootpath/folders/folders.html?path=$!path", $context)
#else
	$pages.include("$apphome/components/html/edit/htmledit/index.html?path=$path&editPath=$path", $context)  fsda
#end
</div>
<div id="em_fmdialog" style="display: none;">
&nbsp;
</div>
<script type="text/javascript">
openDialog = function(inUrl, inLevel)
{
	if(!inLevel) var inLevel = 1;
	jQuery("#em_fmcontent").hide();
	// jQuery("#em_fmdialog").load(inUrl, {oemaxlevel: inLevel});
	jQuery("#em_fmdialog").load(inUrl, 0);
	jQuery("#em_fmdialog").show();
}

closeDialog = function()
{
	jQuery("#em_fmdialog").hide();
	jQuery("#em_fmcontent").show();
}
</script>
