#set( $link = $mediaarchive.asLinkToOriginal($asset) )
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" WIDTH="100%" HEIGHT="100%" id="Yourfilename" ALIGN="">
<PARAM NAME=movie VALUE="$home$link?embedded=true"> 
<PARAM NAME=quality VALUE=high> 
<PARAM NAME=wmode VALUE="transparent">
<EMBED src="$home$link?embedded=true" quality=high WIDTH="100%" HEIGHT="100%" WMODE="transparent" NAME="Yourfilename" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
</OBJECT>
<a class="btn" target="_new" href="$home$apphome/components/mediaviewer/swfplayer/larger.html?assetid=$asset.id&width=800">Open</a>