#set($assettype = $context.getRequestParameter("assettype"))
<div id="metadataeditarea">
#if($assettype)
	#set($typesearcher = $searcherManager.getSearcher("$catalogid", "assettype"))
	#set($type = $typesearcher.searchById($assettype))

	<div class="ui-widget emdetaileditorbox commentbox no-top-margin">
	<div class="ui-widget-header">Properties
	</div>	
	<div class="ui-widget-content" id="editlayout">

		<form id="assettypeeditform" name="assettypeeditform" action="$home$apphome/views/settings/modules/asset/assettypes/views/modifytype.html">
			<input type="hidden" name="assettype" value="$type.id"/>
			<input type="hidden" name="id" value="$type.id"/>
			<input type="hidden" name="searchtype" value="assettype"/>
			
			$context.putPageValue("searcher", $typesearcher)	 
			$context.putPageValue("view", "assettype/edit")
			$context.putPageValue("data", $type)	
			#set($details =  $typesearcher.getDetailsForView("assettype/edit", $user))
			$context.putPageValue("details", $details)
			$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
			
			<a class="btn" href="#" onclick="jQuery('#assettypeeditform').submit();" >[[Save Changes]]</a>
#if( $type )
<a class="btn red" onclick="return confirm('Are you sure you want to delete $type?')" href='$home$apphome/views/settings/modules/asset/assettypes/edit/delete.html?id=$type.id'>Delete</a>
#end			
		</form>
		
		
		
	</div>	
	</div>

<br>
#else
	Please select an Asset Type
#end
</div>