#homeNav{ 

	}
#homeNav ul {
	padding: 10px 0 0 0;
	list-style: none;
	margin: 0;
}

#homeNav li {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 0 0;
	margin: 0;
}

#homeNav a {
	padding: 8px 0 10px 33px;
	text-decoration: none;
	color: #1f6dbb;
	text-transform: uppercase;
}

#homeNav a:hover, 
#homeNav a:active {
	text-decoration: underline;
}
