<div id="orderhistory">

<h2>Order History</h2>
#set( $itemsearcher = $searcherManager.getSearcher($catalogid,"orderitem" ))
#set( $q = $itemsearcher.createSearchQuery() )
$!q.addSortBy("idDown")
#set( $null = $q.addExact("assetid",$asset.id) )
#set( $items = $itemsearcher.cachedSearch($context,$q) )
#if( $items.size() > 0 )

<div id="">


<table class="emdatatable uipanel">
<tr>
<th>Item Status</th>
<th>Order Id</th>
<th>Order Type</th>
<th>Order Date</th>
#foreach( $item in $items.getPageOfHits() )
		
	#set( $order = $searcherManager.getData($catalogid,"order",$item.orderid ) )
	<tr rowid="$order.id">
		<td>#set($status = $searcherManager.getData($catalogid, "orderitem/status", $item.status))
		$status   	  
		$!item.errorcount
		$!item.errordetails
	</td>
	<td>$order.id</td>
	<td>$!searcherManager.getData($catalogid, "order/ordertype", $order.ordertype)</td>
	<td><a href="$home$apphome/views/activity/details/vieworder.html?orderid=$item.orderid">$context.getDateTime($order.date)</a></td>
	</tr>
#end
</table>
<form name="pickorder" action="$home$cataloghome/settings/orders/vieworder.html">
<input name="orderid" id="emselectedrow" type="hidden" />
<input name="id" id="emselectedrow" type="hidden" />
</form>
#else
<p>No orders have been placed for this asset</p>
#end
</div>

</div>
