<div id="emresultscontent">

#set( $hits = $orderassets)

$context.putPageValue("assetrootfolder", "/$catalogid/assets")
#set( $thumbsize  = $context.findValue("thumbsize") )

	#if( $category )
		#set( $catid = $category.id )
	#else
		#set( $catid = "index" )
	#end

	#if ( $hits && $hits.size() > 0 )
	#set( $details = $mediaarchive.getAssetSearcher().getDetailsForView("asset/resultstable",$context.getUserProfile()) )
	$context.putPageValue("details",$details)
	<ul class="sidebar-media">
			#set($count = 0)
			
			#set( $rootid = $hits.sessionId )
			
			#foreach ($hit in $hits)
		<li class="emthumbbox embox$thumbsize" id="cell${catalogid}_${hit.id}" >
			#set( $count = $hits.getPage()+-1 )
			#set( $count = $count*$hits.getHitsPerPage() )	
			#set( $count = $velocityCount + $count )
			$context.putPageValue("hitindex",$count )
			#set ($sourcepath = $hit.sourcepath)
		
			$context.putPageValue("hit", $hit)
			#set( $type = $mediaarchive.getMediaRenderType($hit.fileformat))
			$context.putPageValue("type", $type)
			#set( $click = "$home$apphome/views/assets/${sourcepath}/index.html?categoryid=$catid&hitssessionid=$rootid" )
			$context.putPageValue("clink", $clink)
			$context.putPageValue("thumbsize",$thumbsize)
			<a href="$click">
		

				$pages.include("$apphome/components/results/thumbnails/small.html",$context)				

			</a>	
			<a class="sidebar-caption" style="display: none;" href="$click">		
				<span href="$click">
						#if( $hit.assettitle ) $hit.assettitle #else $hit.name#end
				</span>
		</li>
			  
			#end
	</ul>
	
</div>

	#end
#if ( $hits.totalPages == 0 )
<p>
[[No results found.]]
</p>
#end
<div id="messagearea"></div>


<script>
	
	$('.sidebar-media li').hover(function() {
		$(this).find('a.sidebar-caption').fadeToggle('fast');
	});
	
</script>