#set($sourcepath =$context.getRequestParameter("sourcepath") )
#set($asset = $mediaarchive.getAssetBySourcePath($sourcepath))
#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
$context.putPageValue("asset", $asset)
<h3>$asset.name</h3>

<form>


Choose Format:
<select id="sizepicker" name="size">
<option value=""></option>

	<option value="thumb">Small Thumbnail</option>
	<option value="medium">Medium Thumbnail</option>
	<option value="large">Large image</option>
	<option value="original">Original File</option>
	
</select>	

<input id="selectbutton" type="button" value="Ok" onclick="insertCode()" />

</form>

<script type="text/javascript">        


	jQuery(document).ready(function () {
		var id = jQuery(this).val();
		//if(id)
		//jQuery("#preview").load("$home/${catalogid}/components/openedit/browse/types/" + id +".html?sourcepath=$sourcepath");

		jQuery("#sizepicker").bind("change", function () {
			
			var id = jQuery(this).val();
			
			jQuery("#preview").load("$home/openedit/components/html/browse/types/" + id +".html?sourcepath=$sourcepath");
		}
		);
		
		jQuery("#selectbutton").bind("click", function () {
			var html = jQuery("#preview").html();
			//alert("trying to call some stuff");
			var size = jQuery("#sizepicker").val();
			//alert("size" + size);
			
			//parent.CKEDITOR.instances.content.insertHtml(html);
			//window.parent.CKEDITOR.instances.content.insertHtml(html);
			
			//window.parent.CKEDITOR.tools.callFunction(1,"$home$originalpath"); 
			//parent.CKEDITOR.tools.callFunction(1,"$home$originalpath"); 
			if(size != "original"){
			window.opener.CKEDITOR.tools.callFunction( 1, "$home$apphome/views/modules/asset/downloads/preview/" + size + "/${asset.sourcepath}/thumb.jpg" );
			} else{
				#set($url = $mediaarchive.asLinkToOriginal($asset))
				
				window.opener.CKEDITOR.tools.callFunction( 1, "$url" );
			}
			//jQuery("a.openeditdialog").fancybox.close();
			//	jQuery(this).first().fancybox.close();
			//var fancybox = jQuery(document).fancybox;
			window.close();
			//jQuery(document).fancybox.close();
			parent.jQuery("#fancy_close").trigger("click");
		}
		);


		

	} );

	

</script>
<h3>Preview</h3>
<div id="preview" style="min-height: 400px;" >
	
</div>

<div id="testembedcode">
##$pages.include("$linkedcatalog/detailviewer/downloads/index.html?assetid=$asset.id", $context)


</div>

