<h2>Browse Categories</h2>
<div id="oetree">

#set( $rootpath = "$home$apphome/components/html/browse/")

<script type="text/javascript">
//<![CDATA[
categoryPickerTree = new Object();
categoryPickerTree.lastselected = "$categoryPickerTree.getTreeRenderer().getSelectedId()";
categoryPickerTree.name = "categoryPickerTree";

categoryPickerTree.jumpToNode = function(inUrl, inNodeId)
{
	
		var targetDiv = "#" + this.name + "treerow" + inNodeId;
		targetDiv = targetDiv.replace(/\//g, "\\/");
			
	
		
		jQuery("#resultsarea").load('$home$apphome/components/html/browse/searchresults.html', {nodeID: inNodeId,categoryid: '$categoryid', searchtype : 'asset', field: 'category' ,'category.value' :  inNodeId , operation: 'exact' });
		
		
		
		return false;
}
categoryPickerTree.toggleNode = function(inUrl,inTreeId, inNodeId)
{
	var targetDiv = "#" + this.name + "treerow"+inNodeId;
	targetDiv = targetDiv.replace(/\//g, "\\/");
	jQuery(targetDiv).load('$home$rootpath/toggle.html', {nodeID: inNodeId, treeid: inTreeId, origURL: "$content.path", categoryid: inNodeId });

	return false;
}
categoryPickerTree.jumpAndOpenNode = function(inUrl,inTreeId, inNodeId)
{
	this.jumpToNode( inUrl, inNodeId );
	this.toggleNode( inUrl, inTreeId, inNodeId );
	return false;
}
categoryPickerTree.selectRow = function( inNodeId )
{
	if( this.lastselected.length > 0 )
	{
		var thediv = document.getElementById(this.name + "treerow" + this.lastselected);
		if( thediv )
		{
			jQuery(thediv).removeClass("dTreeNodeSel");
			jQuery(thediv).addClass("treerow");
		}
		thediv = document.getElementById(this.name + "treerow" + inNodeId);
		if( thediv )
		{
			jQuery(thediv).addClass("dTreeNodeSel");
			jQuery(thediv).removeClass("treerow");
		}
	}
	this.lastselected = inNodeId;
}

var checkedcategories = new Array();
jQuery(document).ready(function() 
{ 
	$('#emcategoryinline .dtree .treerowtext' ).click(
	function()
	{
		jQuery(this).hover(
			function () 
			{
		        $(this).addClass("emtreehover");
		 	}, 
			function () {
			    $(this).removeClass("emtreehover");
			}
		);
		//var id = $(this).attr("nodeid");
		
	});
});

</script>


	<div id="emcategoryinline" >
	<div id="emcategoryinlineinner" >
			$pages.include("./tree.html",$context )
	</div>
	</div>





</div>
