<div id="resultscontent_$catalogid">

$context.putPageValue("assetrootfolder", "/${linkedcatalog}/assets")
#if( !$thumbsize )
	#set( $thumbsize  = "thumbsmall" )
	
#end
#set( $showcaption  = "true" )
$context.putPageValue("thumbsize", $thumbsize)
$context.putPageValue("showhover", "true")
$context.putPageValue("showcaption", "true")
<div id="slidesheet" class="clearFix">
	#foreach ($hit in $hits.getPageOfHits())
		<div class="thumbholder embox$thumbsize" id="cell${catalogid}_${hit.id}" >
			#set( $count = $hits.getPage()+-1 )
			#set( $count = $count*$hits.getHitsPerPage() )	
			#set( $count = $velocityCount + $count )
			$context.putPageValue("hitindex",$count )
		
			$context.putPageValue("cell", $hit)
			#set( $type = $mediaarchive.getMediaRenderType($hit.fileformat))
			$context.putPageValue("type", $type)
			#set ($sourcepath = $hit.sourcepath)
			
			#set( $click = "$home/openedit/components/html/browse/details.html?sourcepath=${sourcepath}&hitssessionid=$rootid" )
			
			<div class="emthumbimage em$thumbsize " 
				#if( $showcaption ) style="vertical-align:bottom;" #end 
				 hover="true"  >			
<a href="$click"><img src="$home$cataloghome/downloads/preview/thumbsmall/$sourcepath/thumb.jpg"/></a>


			</div>
			
			#if( $showcaption )
			
			<a href="$click">
			<div class="emthumbboxtext">			

				<div class="emtitle">
				
			
				
				#if( $hit.assettitle ) $hit.assettitle #else $hit.name#end</div>
				<div class="emcaption">
					$!hit.caption
				</div>
			</div>
			</a>
			#end
			
	</div>
	#end
#if ( $hits.totalPages == 0 )
<p>
[[No results found.]]
</p>
#end
	</div>
</div>


	