	<h2>Find Media</h2>

#set( $catalog = $editPage.get('uploadcatalog') )

<form id="search" name="searchform" class="ajaxform" targetdiv="oeresults_$catalogid" method="post" action="$home$apphome/components//html/browse/searchresults.html">
		
		<input type="hidden" name="unzip" value="false" />
		<input type="hidden" name="catalogid" value="$catalogid" /> 
		<input type="hidden" name="searchtype" value="asset" />
		<input type="hidden" name="applicationid" value="media" />
		<input type="hidden" name="field" value="description" />
		<input type="hidden" name="operation" value="matches" />
		<input type="text" name="description.value" value="" size="10" /><br/>
		<input type="submit" name="Search" value="Search">

</form>

