<h2>Aspera Install</h2>

  
<p id="install_message">
  
</p>

<div id="objectholder">

</div>

<object id="aspera-web" type="application/x-aspera-web" width="1" height="1"><param name="AW_IMGSRV" value="" ></object>

  <script language="JavaScript">

	function goback()
	{
		#set( $itemid = $context.getRequestParameter("itemid"))
		#set( $orderid = $context.getRequestParameter("orderid"))
		var newone = '<object id="aspera-web2nd" type="application/x-aspera-web" width="1" height="1"><param name="AW_IMGSRV" value="" ></object>';
		jQuery( "#objectholder").html(newone);
		
		window.location = "$home$apphome/views/activity/aspera/asperadownload.html?itemid=$itemid&orderid=$orderid&cache=false&installed=true"    	
		
	}
 	function installProgressCallback(event) {
  	  var msg = ""; 
  	  if (event.state == "ERROR") 
  	  {
  	    msg += "Installation Error - " + event.description;
  	    jQuery('#install_message').html( 'Your configuration cannot be auto installed. Please use <a href="http://www.asperasoft.com/en/products/client_software_2/aspera_client_2">this link</a> and download the installer ' );
  	    
  	  }
  	  else if ((event.state == "DOWNLOAD")||(event.state == "START")||(event.state == "INSTALL"))
  	  {
  		msg = '<div class="ui-state-highlight"><img src="$home$themeprefix/images/spinner.gif"/> ' +  "Installing Aspera Plugin " + event.percent + "%" + '</div>';
  		//$('aspera_progress_bar_percent').style.width = ""+evnt.percent+"%";
  	  }
  	  else if (event.state == "COMPLETE")
  	  {
  	  	//downloadNow();
  	  	//or reload this page
  	  	msg ="Reloading page";
  	  	
  	  	try 
  	  	{
			new ConnectInstaller('aspera-web',url).reloadPlugins();
    	}
    	catch(e) 
    	{
    		
		}
		var aspera = jQuery('#aspera-web');
		aspera.remove();
		
		var newone = '<object id="aspera-web2nd" type="application/x-aspera-web" width="1" height="1"><param name="AW_IMGSRV" value="" ></object>Please wait 10 seconds...';
		jQuery( "#objectholder").html(newone);
		
		setTimeout(goback, 10000);//refresh the page to run checks again and report to the user
  	  }
  	  jQuery('#install_message').html( msg );
  	} 
  	
    function install() 
    {
       	//alert('Aspera Connect: [not installed]');
       	var url = "http://download.asperasoft.com/download/sw/connect/auto";
       	new ConnectInstaller('aspera-web',url).installLatest(installProgressCallback);
    }
    
    jQuery(document).ready(
		function()
		{
			install();
		}
	);
   
	
	
  </script>
