<div id="permissions">
	<script type="text/javascript" charset="utf-8">
	console.log("Ian was here");
	
	removePerson = function(userid){
			jQuery("#permissions").load("$home$apphome/components/share/removeperson.html?assetid=$asset.id&userid=" + userid);
		}
		removeGroup = function(groupid){
			//jQuery("#permissions").load("$home$apphome/components/share/removegroup.html?assetid=$asset.id&groupid=" + groupid);
			jQuery.get("$home$apphome/components/share/removegroup.html?assetid=$asset.id&groupid=" + groupid, {}, function (data){ jQuery("#permissions").replaceWith(data); }); 
			
		}
		addAllGroups = function(){
			if(jQuery("#allowallgroups").is(':checked') == false) {
				jQuery("#permissions").load("$home$apphome/components/share/removeallgroups.html?assetid=$asset.id");
			} else {
				jQuery("#permissions").load("$home$apphome/components/share/addallgroups.html?assetid=$asset.id");
			}
		}
		addAll = function(){

			if(jQuery("#allowall").is(':checked') == false) {
				jQuery("#permissions").load("$home$apphome/components/share/removeall.html?assetid=$asset.id");
			} else {
				jQuery("#permissions").load("$home$apphome/components/share/addall.html?assetid=$asset.id");
				console.log("Ian was here");

			}
		}
	</script>
		<p class="info" style="margin: 20px;">
		    
			<img src="$home${themeprefix}/images/gfx/lock_icon.png" style="padding-right: 5px; position: relative; top: -2px;" />
			<span class="access_span">Private - Only the people listed below can access</span>
	    </p>
	   
    		<div class="checkbox_holder" style="margin: -10px 20px;">
    			<input type="checkbox" id="allowallgroups" onclick="addAllGroups(); return false;" #if($isallgroups) checked="checked" #end/><span class="all_text">Allow All My Groups</span>
    			<input type="checkbox" id="allowall" onclick="addAll(); return false;" #if($isall) checked="checked" #end/><span class="all_text">Allow All</span>
    		</div>
    		
		
		
<div class="de-table">
    <div class="cell" style="width: 50%;">
		<div id="roles" class="ui-widget">
            <div class="ui-widget-header">People</div>
            <div class="ui-widget-content "> 
            
            
                <div class="list-adder">
                      <div class="add_person_box"> 
                            <input class="addmygroupusers"  name="add_people" type="text" assetid="$asset.id"/>
                            <input id="hiddenaddmygroupusers" name="hiddenaddmygroupusers" type="hidden" targetdiv="de-permissions" postpath="$home$apphome/components/share/addperson.html?assetid=$asset.id&userid="/>
                      </div>
    		    </div>
    		
    		
        		<div id="people_container">
                   <div id="emvalueeditor">
                        <div id="valuelist" class="emtable clearfix" style="margin: -10px -20px 0 -20px;">
                            <a class="owner row" style="color: #3490B2;">
            				#set( $owner = ${userManager.getUser($asset.owner)} )
            					#if ($user.id == $asset.owner) You are the owner  #else $owner is the owner #end
                            </a>
            				#foreach($person in $peoples)
                                <a class="row">$person</a>
            					<a class="delete-row ajax" targetdivinner="de-permissions" href="#" title="Remove User" onclick="removePerson('$person.id');return false;"></a>
            				#end
                      </div>
                  </div>
               </div> 
            </div>
        </div>
    </div>
	<div class="cell">
	    <div id="roles" class="ui-widget">
            <div class="ui-widget-header">Groups</div>
            <div class="ui-widget-content"> 
        		<div id="groups_container">
			            <div class="list-adder">
            				<div class="add_person_box">
            					<input class="addmygroups" name="add_team" type="text" assetid="$asset.id">
            					<input id="hiddenaddmygroups" name="hiddenaddmygroups" type="hidden" targetdiv="de-permissions" postpath="$home$apphome/components/share/addgroup.html?assetid=$asset.id&groupid=">
            				</div>
            		    </div>
        
        		     <div id="emvalueeditor">
                        <div id="valuelist" class="emtable clearfix" style="margin: -10px -20px 0 -20px;">
            				#foreach($group in $groups)
    
            					<a class="row">$group.name</a>
            					<a class="delete-row ajax" targetdivinner="de-permissions" href="#" title="Remove Group" onclick="removeGroup('$group.id');return false;"></a>
    
            				#end
        	            </div>
        	        </div>
        			
        		</div>
    		</div>
    	</div>
    </div>
</div>






</div>