[[Hello]],

#set( $sourcepath = $context.getRequestParameter("sourcepath") )
#set( $asset = $mediaarchive.getAssetBySourcePath($sourcepath ))
#set( $type = $mediaarchive.getMediaRenderType($asset.fileformat) )
<p>[[Here is the]] #if( $asset.assettitle ) $asset.assettitle #else $asset.name#end $type [[file I have shared with you]].</p>

<p>
[[Once you log in you can also view additional images, videos and audio files stored within EnterMedia]] 
</p>

<p>
#set( $categoryid = $context.getRequestParameter("categoryid") )
#set ($link = "$context.siteRoot$home$apphome/assets/$sourcepath/index.html?categoryid=$!categoryid&ownerid=$user.id&invitationid=${invitationid}")
<a href="$link">
$link
</a></p>

[[Thanks!]]<br/>
-- $user
