<div id="emtopnavsearch">
	<form name="quick" id="quicksearch" method="post" action="$home$apphome/views/search/search.html">
		<input type="hidden" name="catalogid" value="$mediaarchive.getCatalogId()"/>
		<input type="hidden" name="field" value="description"/>
		<input type="hidden" name="operation" value="startswith"/>
		#if($hits.getInput('description'))
			#set($searchval = $hits.getInput('description'))
		#else
			#set($searchval = "")
		#end
		[[Search]] <input class="defaulttext"  type="text" id="assetsearchinput" name="description.value" value="$searchval"/>
	</form>
</div>
