<div id="application" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}">

    #if ( $canviewerrors )
	<div id="errordiv"></div>
	#end
	<div id="emcontainer">
		<div id="header" class="clearfix" role="banner">
			$pages.include("${themeprefix}/layouts/header.html")
			<div id="site-title">$!content.tagline</div>
		</div>
		#if ( $canmaximize )
		<div id="maximizer">
			<a id="maximize" class="btn ir tooltip" title="#if ($userprofile.maximize_screen && $userprofile.maximize_screen == "true") Minimize #else Maximize #end the application.">#if ($userprofile.maximize_screen && $userprofile.maximize_screen == "true") Minimize #else Maximize #end</a>
		</div>
		#end
		<div id="nav" role="navigation">
		    $pages.include("${themeprefix}/layouts/nav.html")
		</div>
	
	 
		<div id="emcontent">
		  <div id="main">
		       $pages.includeContent()
		  </div>
		</div>
	
		<!-- begin: #footer -->
		<div id="footer" role="contentinfo">
	    	 $pages.include("${themeprefix}/layouts/footer.html")
		</div>
 
	</div>
</div>
