<div class="margin20">
<div class="ui-widget uipanel" style="float: left; width: 80%; margin-right: 13px;">
	<div  class="ui-widget-header">$content.sectiontitle
	</div>
	<div  class="ui-widget-content" style="min-height: 380px; padding: 20px;">
		$pages.includeContent()
	</div>
</div>

<div class="ui-widget" style="float: left; width: 160px">
	<div class="ui-widget-header">Assets</div>
	<div class="ui-widget-content">
		$pages.include("$apphome/components/activity/sidelist.html")
	</div>
</div>
</div>