#if( $owner )
<div class="subcolumns">
	<div class="c20l">
    	<div class="subcl   em-rounded">
			<h2>User: $owner.getScreenName()</h2>
			   <a class="thickbox" href="$home/media/catalogs/public/downloads/preview/medium/users/$owner.id/image.jpg"><img src="$home/media/catalogs/public/downloads/preview/thumb/users/$owner.id/image.jpg"/></a>
			   $pages.include("/$applicationid/tools/user/menu.html")   
			    
     	</div>
 	</div>
    <div class="c80r">
      <div class="subcr   em-rounded">
  		 $pages.includeContent()
      </div>
    </div>
</div>


#else

No user found

#end

