#if( $orderitems.size() > 0)	
	<div class="editheader">
##	<table style="margin-top: 4px;"><tr><th width="300" style="padding-left: 200px;">Thumbnail</th><th width="300">Metadata</th><th>Comments</th></tr></table>
	</div>
	<div class="editbody">

<table>		
		#foreach( $item in $orderitems )
			#set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
			$context.putPageValue("asset", $asset)
			$context.putPageValue("item", $item)
			$context.setRequestParameter("sourcepath", $asset.sourcepath)					
			$pages.include("${apphome}/views/activity/row.html", $context)
		#end
		</table>
		<a href="cancel.html">Cancel Checked</a> |
		
		<a href="submitorder.html?orderid=$order.getId()">Resubmit Order</a>
	
	| 
		<a href="vieworder.html?orderid=$order.getId()">Refresh</a>
	
	</div>
	<div id="itemsave"></div>
#end
