<div class="em-rounded" >
	#set($order = $data)
	<div class="emsectionheader"><h3>Status Log</h3>
	</div>
	<div class="subcolumns">
		<div class="c66l">
			$pages.include("$apphome/views/activity/status/showstatus.html")
		</div>	
	    <div class="c33r">
        	<div class="subcr" >
			#if( $order.userid != $user.getId() )
			Invalid order
			#end
		
			#set($orderitemsearcher = $searcherManager.getSearcher($catalogid, "orderitem"))
			#set($ordersearcher = $searcherManager.getSearcher($catalogid, "order"))
			#set($owner = $userManager.getUser($order.userid))
			<form name="activitydetails" method="post" action="$home$apphome/views/activity/details/save.html">
				<input name="orderid" type="hidden" value="$order.id" />
			<div style="padding-left:10px;" class="autosubmitdetails">	
				<h3>Activity Details</h3>
			
				<div style="padding-left: 20px">	
				$context.putPageValue("searcher", $ordersearcher)	 
				$context.putPageValue("data", $order)	 
				$context.putPageValue("view", "order/vieworder")	
				
				$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
				#if( $savedok)<div class="emfadeout">[[saved]]</div>#end
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>
</div>

	
<ul class="embuttons">
<li>
	<a href="$home$apphome/views/activity/downloadassets.html?hitssessionid=$!hits.getSessionId()"><span>Add Files</span></a>
</li>
#if( $orderitems.size() > 0)	

	<li>
		<a href="$home$apphome/views/activity/downloadassets.html?hitssessionid=$!hits.getSessionId()"><span>Download</span></a>
	</li>
	<li>
		<a href="$home$apphome/views/activity/publishassets.html?hitssessionid=$!hits.getSessionId()"><span>Export</span></a>
	</li>
	<li>
		<a href="$home$apphome/views/activity/emailassets.html?hitssessionid=$!hits.getSessionId()"><span>Email</span></a>
	</li>

	#if($content.isPropertyTrue("showaddselections"))
	<li>
		<a class="toggleitem" targetdiv="nothing" href="$home/$applicationid/components/results/addalltobasket.html?hitssessionid=$hits.getSessionId()"><span>Add to Basket</span></a>
	</li>
	#end
	#if($content.isPropertyTrue("showremoveselections"))
	<li>
		<a class="toggleitem" targetdiv="nothing" href="$home/$applicationid/components/results/removeselections.html?hitssessionid=$hits.getSessionId()"><span>Remove Selections</span></a>
	</li>
	#end
#end
</ul>
$pages.include("$apphome/views/activity/details/assets.html",$context)