<h2>[[Add Library]]</h2>

<form name="adder" class="ajaxform  validate-inputs" targetdiv="parent.left-col-libraries" action="$home$apphome/components/libraries/addlibraryfinish.html">


<input type="hidden" name="save" value="true" />
<input type="hidden" name="searchtype" value="library" />

$context.putPageValue("searcher",$searcherManager.getSearcher($catalogid,"library") )	
$context.putPageValue("view","library/librarygeneral")	
$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)


<input class="btn small" type="submit" value="[[Add]]" />
<input class="btn small cancel" type="button" value="[[Cancel]]" />
</form>
