#if ( $canviewlibrarysearch )
<div class="ui-widget uipanel" id="left-col-libraries" >
	<div  #if($userprofile.minimizeprojectscontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" 
		#else class="ui-widget-header" #end data-target="projectscontent">
		<span class="widget-header-title">[[Project Tracker]]</span>
	</div>
	<div  class="ui-widget-content"  id="projectscontent" #if($userprofile.minimizeprojectscontent == "true" && $cantogglesidebar) style="display: none;" #end>

<form name="librarychange" id="librarychange" action="$home$apphome/components/libraries/sidebar.html" class="ajaxform" targetdiv="left-col-libraries"  > 

		<div class="collectionheaderleft">
			<input name="completefield" class="listautocomplete" id="sidebarlibraryvalue" value="#esc($!selectedlibrary.getName())"  data-searchfield="name" data-searchtype="library" data-showicon="true" data-listcatalogid="$catalogid" data-foreignkeyid="" data-sortby="name" onChange='$("#librarychange").submit()' />
		</div>
		<div class="collectionheaderright">
			<a href="$home$apphome/components/libraries/addnewlibrary.html" class="emdialog" title="Add Library"><img src="$home$themeprefix/images/icons/addgray.png"> </a>
		</div>
	<input name="profilepreference"    value="last_selected_library" type="hidden" />
	<input name="profilepreference.value"  id="list-sidebarlibraryvalue"   value="$!selectedlibrary.getId()" type="hidden" />

</form>

#set( $moduleid= $content.module )
#if( $moduleid == "librarycollection" )
	#set( $inmodule = true )
#end

#if( $selectedlibrary )
	<div class="librarymenu" >
		<a href="$home$apphome/views/modules/library/edit/edit.html?id=${selectedlibrary.id}&viewid=librarygeneral&viewpath=library/librarygeneral&hitssessionid=hitslibrarymedia/catalogs/public&searchtype=library" class="librarydetails"><span> Details</span></a>
		<a href="$home$apphome/views/search/search.html?field=libraries&operation=exact&libraries.value=$selectedlibrary.id" class="librarydroparea"  data-libraryid="$selectedlibrary.id" data-count="$librarysize" data-label="Assets"><span> $librarysize Assets</span></a>
	</div>
	<div class="librarylabels"><h2>Collections</h2>
   	<ul >
   		#foreach( $usercollection in $usercollections )
		<li>
			#set( $selected = false )
			#if( $inmodule && $data && $usercollection.getId() == $data.id )
				#set( $selected = true )
			#end
			<a href="$home$apphome/views/modules/librarycollection/edit/moduletable.html?id=${usercollection.getId()}&viewid=librarycollectionassets&viewpath=librarycollection/librarycollectionassets&searchtype=librarycollection" data-dropsaveurl="$home$apphome/components/libraries/addassettocollection.html?libraryid=${selectedlibrary.id}&librarycollection=${usercollection.getId()}" class="librarylabel librarycollectiondroparea #if ($selected ) selected #end"  data-targetdiv="left-col-libraries" title="$!{usercollection.getCollection().notes}"><span> $usercollection.getName() ($usercollection.getAssetCount())</span></a>
		</li>
		#end
		<li>
			<div id="createnewarea"><a class="ajax" targetdivinner="createnewarea" data-oemaxlevel="1" href="$home$apphome/components/libraries/addnewchild.html?libraryid=$selectedlibrary.id" ><span> Create New</span></a></div>
		</li>
	</ul>	
	</div>
#end
	</div>
</div>
#end

