		#if ($canviewrecentsearches)
		<div class="ui-widget  uipanel" >
			<div  #if($userprofile.minimizeprevioussearchescontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" #else class="ui-widget-header" #end data-target="previoussearchescontent">
			<span class="widget-header-title">[[Previous Searches]]</span>
			</div>
			<div  class="ui-widget-content" id="previoussearchescontent" #if($userprofile.minimizeprevioussearchescontent == "true" && $cantogglesidebar) style="display: none;" #end> 
			$pages.include("$apphome/components/previoussearches/index.html", $context)
			</div>
		</div>
		#end
	
