#set( $assetid = $context.getRequestParameter("assetid") )

<div id="assettoggle$assetid" class="assettoggle$assetid" style="text-align: right; float: right;">

<a class="updatebasket" targetdiv="assettoggle$assetid" href="$home$apphome/components/basket/toggleitem.html?assetid=$assetid">


#if($orderManager.isAssetInOrder($catalogid, $order, $assetid) )
    <span class="remove tooltip" title="Remove from Basket">[[-]]</span>
#else
    <span class="add tooltip" title="Add to Basket">[[+]]</span>
#end
</a>
</div>