<h2>[[Import Assets]]</h2>
#set( $catalogid = $context.getRequestParameter('uploadcatalog') )
<form name="importtool"  target="_top" action="$home/$catalogid/settings/import/runimport.html">
<input type="hidden" name="importcatalog" value="$catalogid" />
<p>
[[Which folder would you like to import?]] ([[Enter full server path]])
</p>
<p>

<input name="importpath" size="50"/>
</p>
<p>
[[Which file types would you like to import?]]
</p>
<p>

#set($types = $searcherManager.getSearcher($applicationid, "fileformat").getAllHits())
<select name="filterin">
<option value="">[[All]]</option>
	#foreach($type in $types)
		<option value="$type.id">$type</option>
	#end
</select>
</p>
<p>
[[Optional Filter out of files]]: ([[space delimited]])
</p>
<p>

<textarea name="filterout" rows="5" cols="50">*Trash* *.ini */.* */CVS/* */.xvpics/* *.thumbnails *Cache* *.old/* */temp/* *.daa *.THM *.db *.info </textarea>
</p>
<p>

<br/>
<input type="submit" value="[[Import]]"/>
</p>
</form>

##<a href="$home/$applicationid/settings/expire/index.html">[[Importing only adds assets.]]  [[Click here to remove missing assets.]]</a>

