

#set( $catalog = $context.getRequestParameter('uploadcatalog') )
#set( $sourcepath = $formatteddate )
<form id="uploadform" name="wizard" method="post" enctype="multipart/form-data"
	action="$home/${applicationid}/components/upload/types/simple/finish.html?sourcepath=$sourcepath&oemaxlevel=2">
	<input type="hidden" name="categoryid" value="index"/>
	
<div id="eml-tab-green-container" style="width: 400px; margin: 0 auto;" class="clearfix">
	<div class="inner-content">
	
    <div id="single-uploader" style="width:320px; margin: 20px auto; color: #595959;">

	<div style="clear: both"></div>
         <div style="margin-bottom: 20px;" class="file_input_divX">
          <input type="file"  length="20" value="Browse" name="file.0" onChange="pickedFile(this.value)" />
        </div>
        <div style="margin-bottom: 20px; margin-top: -10px;" id="uploadprogress"  > </div>

		$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
		$context.putPageValue("view","asset/assettype/default/singleupload")	


		$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)
<!-- 
			<h4>[[Caption]]</h4> 
			<input type="hidden" name="field" value="caption"/>
			<input type="text" name="caption.value" style="width: 278px;" />

			<h4>[[Title]]</h4>
			<input type="hidden" name="field" value="assettitle"/>
			<input type="text" name="assettitle.value" style="width: 278px;" />
            
            
			<h4>[[Asset Type]]</h4>
			<input type="hidden" name="field" value="keywords"/>
			<input type="text" name="keywords.value" style="width: 278px;" />
	 -->		

<hr />

	<input class="btn" style="float: right" type="submit" id="finishbutton" value="[[Next]]">
	
				<div style="clear: both;"></div>
</div>
</form>
</div>
</div>

<script type="text/javascript" >
	var uploadid;
 	doUpload =  function()
 	{

 		if(jQuery("#uploadform").valid()) 
 		{
 	 		jQuery("#finishbutton").attr('disabled','disabled');
			jQuery("#uploadform").submit();
 		}
 	}
 	
 	getUploadId = function()
 	{
 		if( uploadid == undefined)
 		{
 			var d = new Date();
 			uploadid = "$user.getId()_" + d.getTime();
 		}
 		return uploadid;
 	}
 	
 	pickedFile = function(filename)
 	{
 		var action = jQuery("#uploadform").attr("action");
 		jQuery("#uploadform").attr("action", action + "&uploadid=" + getUploadId() );

 		//alert( filename );
// 		jQuery("#uploadform #fileName").attr("value", filename );
		//TODO: deal with asset type population
 	}
 	
 	checkProgress = function()
 	{
 		jQuery("#uploadprogress").load("$home$apphome/components/upload/types/simple/uploadprogress.html?uploadid="+ getUploadId());
 	}
 	
 	function showResponse(responseText, statusText, xhr, $form)  
 	{ 
 		//jQuery.fn.livequery.stopped = true;
 		
 		/*
 		jQuery("#uploadarea").html(responseText);
 		jQuery("#uploadarea").attr('id', 'view-picker-content');
        jQuery("#view-picker-content").addClass('liquid-sizer');
        var w = jQuery("#view-picker-content").width();
        w = w + 20;
        jQuery("#view-picker-content").width(w);
        */
        
 		//jQuery.fn.livequery.stopped = false;
		//document.location.href = "$home$apphome/views/search/reports/runsavedsearch.html?queryid=01newlyuploaded&searchtype=asset&reporttype=01newlyuploaded";
		
		var nexturl = "/views/myaccount/myassets/index.html";
		var uploadarea = $("#uploadarea");
		if (uploadarea!=null && uploadarea!=undefined){
			if (uploadarea.data("nextpage")!=null && uploadarea.data("nextpage")!=undefined && uploadarea.data("nextpage")!="default"){
				nexturl = uploadarea.data("nextpage");
			}
		}
		document.location.href = "$home$apphome" + nexturl;
 	}
 	
 	//special validator for file name
 	jQuery.validator.addMethod("filename",
 			function(value) {
 				var characterReg = /^\s*[a-zA-Z0-9\._,\s]+\s*$/;
 	   			return characterReg.test(value);
 			}, 
 			'Invalid file name.'
 	);
 	
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
    	jQuery("#uploadform").validate({
    		rules: {
    			fileName: "filename"
    		}
    	});
    	
        // bind 'myForm' and provide a simple callback function 
        $('#uploadform').ajaxForm({ 
        	        // target identifies the element(s) to update with the server response 
        	       // target: '#emcontainer', 
        	        // success identifies the function to invoke when the server response 
        	        // has been received; here we apply a fade-in effect to the new content
        	        beforeSubmit:function() 
        	        { 

        	            checkProgress(); 
        	           // document.onclick = disable;
        	            jQuery("#finishbutton").attr("value","Sending...");
        	           
        	        }, 
        	        success: showResponse
        	        
        	    }); 
    }); 
 	
</script>
