<form class="validate" id="usereditform" method="post" action="$home$apphome/views/activity/share/processorder.html">

<p>From: $userManager.getScreenName( $order.userid )
<br>
To: $order.sharewithemail</p>

<div id="email-preview">
	$pages.include("$apphome/views/activity/email/sharetemplate.html",$context)
</div>

	<a href="$home$apphome/views/activity/emailassets.html?orderid=$order.id" class="btn small" >Edit</a>

	<a href="$home$apphome/views/activity/delete.html?orderid=$order.id" class="btn small" >Discard</a>

    #set($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )
      <input type="hidden" name="field" value="presetid"/>

	#foreach( $item in $orderitems )
	  <input type="hidden" name="itemid" value="$item.id"/>
      #set($val=$context.getRequestParameter("${item.id}.presetid.value"))
	  #if( $val )
 	  	<input type="hidden" name="${item.id}.presetid.value" value="$val" />
 	  #else
		<input type="hidden" name="${item.id}.presetid.value"	value="preview" />
 	  #end	
	#end
	
<input type="hidden" name="publishdestination.value" value="0"/>
	
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
	
	<input class="btn small" style="float:right;" type="submit" value="Send" />
</div>
</form>