#if( $canviewassets )
			<div class="ui-widget uipanel" id="left-col-search" >
				<div  #if($userprofile.minimizeasearchcontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" #else class="ui-widget-header" #end data-target="asearchcontent">
				<span class="widget-header-title">[[Search]]</span>
					#if( $caneditadvancedsearch )
						<span class="widget-header-edit">
						<a class="ajax ir" targetdiv="advsearchpanel" href="$home$apphome/components/advancedsearch/index.html?oemaxlevel=1&editadvsearch=true&searchtype=$searcher.getSearchType()&catalogid=$searcher.getCatalogId()&view=$view">Edit</a>
						</span>
					#end
				</div>
				<div  class="ui-widget-content" id="asearchcontent" #if($userprofile.minimizeasearchcontent == "true" && $cantogglesidebar) style="display: none;" #end>
					$pages.include("$apphome/components/advancedsearch/index.html", $context)
				</div>
			</div>
#end