
<h3>[[Upload your data]].</h3>

<fieldset>
    <legend>[[CSV Import]] (<a href="sample.csv">Sample</a>)</legend>
	<form name="excelimport" method="post" enctype="multipart/form-data" action="./importfinish.html">

	<p><label>Input File</label> <input type="file" size="25" name="file"> </p>
		<input type="hidden" size="20" name="path" value="$home$apphome/temp/import/import.csv" />
		<input type="hidden" size="20" name="searchhome" value="$home$apphome" />
		<input type="hidden" size="20" name="searchtype" value="asset" />
	
		<input type=submit value="Import" />
	</form>
</fieldset>

