#macro( renderterms $inquery )
	#foreach( $term in $inquery.getTerms() )
		#if( $term.getDetail().getId() == "description" )
			##the $term.getDetail().getName() 
			All assets that include 
			<a  href="$home$apphome/views/search/edit/editparam.html?termid=$term.id&queryid=$query.id&oemaxlevel=1">$query.getFriendlyValue($term.getValue(),$term.getDetail())</a>
		#else
			#if( $velocityCount > 1)		
				#if( $inquery.isAndTogether() )
				and
				#else
				or
				#end 
			#end
			the
			 $term.getDetail().getName() of
			<a  href="$home$apphome/views/search/edit/editparam.html?termid=$term.id&queryid=$query.id&oemaxlevel=1">$query.getFriendlyValue($term.getValue(),$term.getDetail())</a>
		#end
	#end
	#if( $inquery.hasChildren() )
		and
		#foreach( $child in $inquery.getChildren() )
			#renderterms( $child )
		#end	
	#end
#end

<div id="querybigeditarea" class="clearfix">
<div id="eml-tabs-view">
	
	<h2 id="buffer" class="no-tabs">Search Editor
		$pages.include("$apphome/components/search/quicksearch.html")
	</h2>
<div class="autoresize-inner">
	

	<div id="eml-tab-content" style="position: relative;" >
		<form name="queryname" action="$home$apphome/views/search/edit/save.html">		
			<h2 id="search-title">You are editing: <input type="text" name="name" value="$query.name" onfocus="$(this).addClass('green');$('#savebtn').show()" /></h2>
			<input name="queryid" value="$!query.id" type="hidden" />
			<input id="savebtn" type="submit" class="btn small" value="Save">
		</form>
		<h6 class="helper-text">Click on the search title above to edit.</h6>
		
		<p id="savedquerylist" class="friendly-search">
			Currently searching for: 
				<span>
				#renderterms( $query )
				</span>
		</p>
		<div id="searcheditor">
			<center><h6 style="margin-top: 20px;" class="helper-text">Click on a term above to edit that term.</h6>
			<a id="addterm" class="btn ajax" targetdivinner="searcheditor" href="$home$apphome/views/search/edit/addterm.html?queryid=$query.id&oemaxlevel=1">Add Search Term</a></center>
		</div>
	</div>
</div>
</div>
 $pages.include("$apphome/components/results/pages.html",$context)

</div>