
<div class="maincontent" id="maincontent">

<table cellpadding=0 cellspacing=0 width="100%">
<tr>
#if( $content.isPropertyTrue("showsidemenu"))
<td valign="top" class="catalogtreeborder SIDEMENU" width="220px">$pages.include("$cataloghome/side/sidemenu.html")
</td>
<td valign="top" style="padding-left: 10px;">
#else
<td valign="top" style="padding-left: 20px;">
#end

#set ($args = "catalogid=$catalogid&searchtype=asset")

#if( $catalog.hasChildren()  && $page.isPropertyTrue("showsubcategories"))
	#if($page.isPropertyTrue("usemixedview"))
		$pages.stream("$cataloghome/mixedviewtop.html")
	#end
 
	$pages.include("$cataloghome/cataloglist.html")
#end
$pages.includeContent()

</div>

</td>
</tr>
</table>

</div>