<div id="emmediaviewer">

<table align="center" >
	<tr>
		<td align="top"  > ##table-cell is not working auto wide
		$pages.include("$cataloghome/mediaviewer/navigate.html")

		<div class="emcalloutcontent">			
			#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
			$pages.include("${cataloghome}/mediaviewer/types/${type}.html",$context)
		
			<table width="100%">
				<tr>
					<td width="100%" valign="top">
						$context.putPageValue("hit",$asset)
						$pages.include("$cataloghome/results/assetinfo.html", $context)
						$pages.include("$cataloghome/embed/index.html", $context)
					</td>
					<td align="right" valign="top">		
						$context.putPageValue("cell",$asset)
						$pages.include("$cataloghome/results/assetactions.html", $context)
					</td>
				</tr>
			</table>
		</div>
		<section id="commentlist">
			$context.putPageValue("catalogid", $asset.catalogid)
			$pages.include("$cataloghome/detailviewer/comments/index.html",$context)						
		</section>						
</td>
</tr>
</table>
				
</div>