#set( $type = $mediaarchive.getMediaRenderType($asset.fileformat))

<table>
<tr>
	<td class="SIDEMENU">
	<div class="emsidecontent">
	#set ($catalogid = $asset.catalogId)
	#if(!$searcher)
		#set ( $searcher = $store.assetSearcher )
	#end
	#set ( $viewname = "asset/details" )
	<div class="emsidecontenheader">
		<a>[[Asset details]]</a>
	</div>
	<div class="emsidecontentbody">
	<table cellpadding="1" cellspacing="2" border="0" width="100%" style="display: inline;">
		#set( $foundone = false)
		#set( $assetdetails = $searcher.getDetailsForView($viewname, $user) )
		#foreach( $detail in $assetdetails )
			#set( $value = false)
			#set( $value = $data.get($detail.getId()))
			#if( $value ) 
				#set( $foundone = true)
				<tr>
					<td class="bodylabel" valign="top">
						$!detail.getText($context):
					</td>
					<td class="bodycontent" valign="top" width="100%">
						#if( $detail.isList() )
							#set( $foundrow = $searcherManager.getListSearcher($detail).searchById($value) )  
							$!foundrow.name
						#elseif($detail.isBoolean())
							#if ("true" == $value)
								[[Yes]]
							#else
								[[No]]
							#end
						#else
							$!value
					   	#end
					</td>
				</tr>
			#end
		#end ##foreach loop
	</table>
	#if( !$foundone )
		<p>[[No Data has yet been entered.]]</p>
	#end
	<p><a href="#" onclick="history.back(); return false;">[[Go back]]</a></p>
	</div>
	</div>
	</td>

	<td style="padding: 10px;">
		$pages.include("${cataloghome}/preview/types/${type}.html")
	</td>
</tr>
</table>
