<script src="/$content.applicationid/javascript/tabs.js"> </script>

#set ($catalogs = $usersettings.getCatalogs())

<p>
[[Catalog]]: <select onchange="selectCatalog(this.options[selectedIndex].value);">
<option></option>
#foreach ($catalog in $catalogs)
	#if( $catalog.id == $mediaarchive.catalogId )
	<option value="$catalog.id" selected="true" >$context.getText($catalog.name)</option>		
	#else
	<option value="$catalog.id">$context.getText($catalog.name)</option>
	#end
#end 
</select>
</p>
<br>

<div id="oestoreadmintabs">
<table class="tabnavigation" >
#if( $oestoreadmin.size() == 0)
$!oestoreadmin.addNewTab("categories","[[Categories]]","$cataloghome/settings/categories/index.html", 3)
$!oestoreadmin.addNewTab("fields","[[Fields]]","$cataloghome/settings/data/fieldtypes/index.html",4)
$!oestoreadmin.addNewTab("settings","[[Administer]]","$cataloghome/settings/settings/actions/index.html",4)
$!oestoreadmin.addNewTab("events","[[Events]]","$cataloghome/settings/events/index.html",4)
$!oestoreadmin.addNewTab("viewpermissions","[[View Permissions]]","$cataloghome/settings/viewpermissions/index.html",4)
$!oestoreadmin.addNewTab("editpermissions","[[Edit Permissions]]","$cataloghome/settings/editpermissions/index.html",4)
#end
<tr>
#foreach ( $tab in $oestoreadmin.tabs)
<td id="$tab.id" #if($oestoreadmin.lastSelected && $tab == $oestoreadmin.lastSelected )class="catalogadmintabselected" #end><span><a href="$home$tab.path">$tab.name</a></span></td>
#end
</tr>	
</table>

<div style="padding: 15px;">	
$pages.includeContent()
</div>
</div>

<script>
selectCatalog = function(catalog)
	{
		if (catalog)
		{
			document.location = "$home/" + catalog + "/settings/index.html";
		}
	}
</script>