#set( $node = $pageTree.treeRenderer.findNodeByUrl($pageTree.model.root, $editPage.path) ) 
#if(!$node)
#set( $node = $pageTree.treeRenderer.findNodeByUrl($pageTree.model.root, $editPage.getParentPath()))
#end
#if(!$editPage.isFolder())
#set( $append = true)
#end
#set( $paths = $pageTree.model.getParentPaths($node.ID) )
#if (!($canusecrumbs == false))
<div  >	
<table><tr>
#set ($numcrumbs = 4)
#foreach ($part in $paths)
	#if ($paths.size() - $velocityCount < $numcrumbs)
		#set( $name = $part.Name )
		##<td><a class="ajax" style="padding: 0 20px 3px 0;display:block;" targetdiv="allsections" href="$home$page.filerootpath/tab.html?path=$part.URL"><img style="vertical-align:bottom;" #if( $part.isLeaf() ) src="$home$themeprefix/images/tree/page.gif" #else src="$home$themeprefix/images/tree/folder.gif" #end  border=0  />$name</a></td>
		#if($part.isLeaf())
			#set($targetURL = "$apphome/components/html/edit/htmledit/index.html?editPath=$part.URL" )
		#else
			#set($targetURL = "$home$page.filerootpath/tab.html?path=$part.URL&editPath=$part.URL" )
		
		
		#end
		<td><a class="ajax" style="padding: 0 20px 3px 0;display:block;" targetdiv="allsections" href="$targetURL"><img style="vertical-align:bottom;" #if( $part.isLeaf() ) src="$home$themeprefix/images/tree/page.gif" #else src="$home$themeprefix/images/tree/folder.gif" #end  border=0  />$name</a></td>
	#end
#end

	<td>
		##$pages.include("/openedit/components/html/workflow/approvetoolbar.html", $context) 
	</td>
				

</tr>
</table>
</div>
#end
