#set( $rootpath = "${apphome}/components/categorize")

<div id="addcategory">
	
	#if( $val && $val.length() > 0)
	   #set( $categories = $val.replaceAll(" ","|") )
   #else
		#set ($selected = $context.getRequestParameters("categoryid") )
		#foreach($categoryid in $selected)
			#if( $velocityCount == 1 )
			    #set( $categories = "$categoryid" )
			#else
				#set( $categories = "$categories|$categoryid" )
			#end
		#end	
    #end
    $pages.include("$apphome/components/categorize/search/selected.html?categories=$!categories",$context)
   <input type="hidden" name="operation" value="orsgroup" />
   #if( !$categories )
				#set( $clear = "true" )   
   #end
   
   <a class="emdialog btn small" data-width="560" data-height="450" href="$home$apphome/components/categorize/search/pickersearch.html?targetdiv=addcategory&categories=$!categories&clearselection=$!clear" >[[Pick Categories]]</a>

</div>