#if($context.getRequestParameter("viewonly") == true)
	#if($hits)
	$!context.getDate($val) 
	#else
	$val
	#end

#else
<input class="${detail.id} color-picker" name="${detail.getId()}.value" id="${detail.id}.value" value="$!val" size="10" type="text" > 

<script type="text/javascript" defer>
	/* original color picker */
	/*$(".color-picker").miniColors({
					defaultValue: '',
					letterCase: 'uppercase',
					change: function(hex, rgb) {
						logData(hex, rgb);
					}
				});*/
	$(".color-picker").minicolors({
					defaultValue: '$!{val}',
					letterCase: 'uppercase'
				});
</script>

#end

