#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set( $listid = $detail.getListId())

#if($listid == "library" &&  $canasseteditorpickanylibrary == false )

<input name="field" type="hidden" value="${detail.id}" />
<input name="operation" type="hidden" value="matches" />

<select name="${detail.getId()}.value" class="select2">
<option value=""></option>
#foreach( $libraryid in $userprofile.getCombinedLibraries() )
	#set( $library = $searcherManager.getData($catalogid,"library",$libraryid))
	#set( $division = $searcherManager.getData($catalogid,"division",$library.division))
	<option value="$libraryid" #if($val && $libraryid == $val) selected #end>$division / $library</option>
#end
</select>

#else

$pages.include("$apphome/components/xml/types/autocomplete.html",$context)

#end