#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($fieldname = $context.getRequestParameter('fieldname'))
#set ($searchtype = $context.getRequestParameter('searchtype'))
#set ($foreignkeyid = $context.getRequestParameter('foreignkeyid')) 
#set ($foreignkeyvalue = $context.getRequestParameter('foreignkeyvalue')) 
#set ($label = $context.getRequestParameter('label')) 
#if( $foreignkeyid && $foreignkeyvalue)
	#set( $searcher = $searcherManager.getSearcher($catalogid,$searchtype) )
	#set( $hits = $searcher.fieldSearch($foreignkeyid,$foreignkeyvalue) )
#else
	#set( $hits = $searcherManager.getList($catalogid,$searchtype) )
#end
<select name="${fieldname}.value">
<option value=""></option>
#foreach( $hit in $hits)
	<option #if ($val && $val == $hit.id) selected #end value="$hit.id">$hit</option>
#end
</select>
