#set( $feed = $url_util.encode("/media/services/rss/assetsearch.xml?catalogid=media/catalogs/public") )

  <object id="o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
      width="600" height="450">
    <param name="movie" value="http://apps.cooliris.com/embed/cooliris.swf" />
    <param name="allowFullScreen" value="true" />
    <param name="allowScriptAccess" value="always" />
    <param name="flashvars" value="feed=$feed" />
    <embed type="application/x-shockwave-flash"
      src="http://apps.cooliris.com/embed/cooliris.swf"
      flashvars="feed=$feed"
      width="600" 
      height="450"
      allowFullScreen="true"
      allowScriptAccess="always" />
    </object>
    
    
    