<div id="edit$permission.name" style="background-color: rgb(253,252,220);">

#set( $inparent = $context.getRequestParameter("inparent"))
#macro(showfilter2 $filter $inLevel $inTraverse)
$!context.putPageValue("filter", $filter)
$!context.putPageValue("traverse", $inTraverse)
$!context.putPageValue("level", $inLevel)

##SHOW THE PERMISSION
$pages.include("$content.permissionrootpath/viewpermission.html", $context)

	<ul style="list-style: none;">
	#foreach( $child in $filter.filters)	
		
		#set( $level = $inLevel+1)
		#set( $zeroCount = $velocityCount+-1)
			    
		#set( $newtraverse = "${inTraverse}/${zeroCount}")
		<li>#showfilter2($child $level $newtraverse)</li>
	#end
	</ul>
</li>	
#end
	#set( $filter = $permission.rootFilter)
	#if ($filter)
		<form name="permissionedit" class="ajaxform" targetdiv="edit$permission.name" action="$home$content.permissionrootpath/save.html">
			<input type="hidden" name="editPath" value="$editPath"/>
			<input type="hidden" name="name" value="$permission.name"/>
			<input type="hidden" name="inparent" value="$inparent"/>
			
			#set( $list = $searcherManager.getList("openedit","group"))
			$context.putPageValue("groups",$list)
			##macro starts here
			#showfilter2($filter 0 "0")
			<p>
				<input type="submit" value="[[Save]]" />
			##<a class="ajax" targetdiv="edit$permission.name" href="$home$content.permissionrootpath/cancel.html?name=$permission.name">[[Cancel]]</a>
			</p>	
		</form>
	#else
	 	$pages.include("$content.permissionrootpath/addnewcondition.html")
	 #end
</div>
