<h2>Sync Status</h2>
</br>
PendingAssets: $pendingassets.size()

#if( $pendingassets.size() == 0 )

<p>All files have been uploaded. To view the files sort by last modified</p>
#else
<table class="striped">
<tr><th>File Name</th><th>Path</th><th>Progress</th></tr>
#foreach( $asset in $pendingassets.getPageOfHits() )
<tr><td>$asset.name</td><td>$asset.localpath</td><td>$!asset.uploadprogress of $asset.filesize</td></tr>
#end
</table>
<style type="text/css">
table tr { margin-top:5px; }
table tr td {margin-right: 5px;}
</style>


#foreach( $asset in $pendingassets.getPageOfHits() )
	<div>$asset.name</div>
	#set( $percentage=$asset.getUploadPercentage())
	#set( $barsize=$percentage*150)
	
	Percentage: $percentage, Barsize: $barsize
	<div style="border:1px solid #000000;width:150px;"><div style="background-color:#666666;width:${barsize};height:12px;">&nbsp;</div></div>
#end


#end

<a href="uploadstatus.html">Refresh</a>