    #set($currentpreview = $context.findValue('currentpreview'))
    #set($pagenum = $context.findValue('pagenum'))
    #set($totalpages = $numberutils.toInt($asset.pages))
    #set ( $hitssessionid = $context.findValue("hitssessionid"))
    
    #if( !$currentpreview )
      #if ( !$pagenum )
        #set($currentpreview = 0)
        #set ($pagenum = 1)
      #else   
        #set($pagenumnum = $numberutils.toInt($pagenum) )
        #set( $currentpreview = $pagenumnum - 1 )
      #end
    #else
        #set( $currentpreview = $numberutils.toInt($currentpreview) )
        #set( $pagenum = $currentpreview + 1  )
    #end
   #set($pagenumparsed = $numberutils.toInt($pagenum) )
   #if ( $pagenumparsed && ($totalpages < $pagenumparsed) )
       #set( $pagenum = $totalpages )
       #set( $currentpreview = $totalpages - 1 )
    #end
    
    ##TODO Move this to ./player/types/documentpages.html
    #if( $totalpages > 1 )
        <div id="pdf-thumbnail-sidebar">
  
            #set($thepages = $totalpages / 5)

            #if( $currentpreview >= 5)
                #set( $page = $currentpreview / 5)
            #else
                #set( $page = 0)
            #end

                <ul>
                <li id="prevfive">
                #if ($page > 0 )
                    
                         #set ($pageholder = $page + 1)
                         #set( $prevthumb = $pageholder - 1)
                         #set( $prevthumb = $prevthumb * 5 - 4)
                        <a href="index.html?assetid=${asset.getId()}&pagenum=$prevthumb&hitssessionid=$hitssessionid"> << Previous Five </a>
                #end
                </li>
                    
                #set( $start = $page*5) 
                #set($end = $start + 4)
               
                #if( $end > $totalpages - 1 )
                  #set( $end = $totalpages - 1 )
                #end
                #foreach( $page in [$start..$end])
                	<li class="#if ( $page == $currentpreview ) current #end">
                        <a href="$home$apphome/views/modules/asset/editor/viewer/index.html?assetid=${asset.getId()}&currentpreview=$page&hitssessionid=$hitssessionid">
                            #set( $page = $page + 1)
                            <img class="emdropshadow" src="$home/${applicationid}/views/modules/asset/downloads/preview/crop/${asset.sourcepath}/preview.jpg?pagenum=$page" />
                            <p><span>$page</span></p>
                        </a>
                    </li>
                #end
                #set ($pageholder = $page + 1)
                <li id="nextfive">
                #if ( $pageholder * 5 < $totalpages)
                    #set( $nextthumb = $pageholder + 1)
                    #set( $nextthumb = $nextthumb * 5 - 4)
                    
                        <a href="index.html?assetid=${asset.getId()}&pagenum=$nextthumb&hitssessionid=$hitssessionid"> Next Five >> </a>
                #end
                </li>
            </ul>
            #if(!$currentpreview)
            	#set( $currentpreview = 1)
            #end
            $context.putPageValue("currentpreview",$currentpreview)
            $context.putPageValue("totalpages",$totalpages)
         </div>
    #end

<div id="media-player" class="#if( $totalpages > 1 ) document #end">

 ##   <a id="mp-minmax" class="max ir propertyset" propertyname="maximize_player" propertyvalue="false" targetdivinner="detaileditor" href="$home$apphome/views/assets/$asset.sourcepath/index.html?hitssessionid=$hitssessionid&oemaxlevel=2"></a>
   

    <div id="mp-player">
        <div id="mp-asset-title" style="display: none;"><span class="name" title="#if ( $asset.title ) $asset.title #else $asset #end">#if ( $asset.title ) $asset.title #else $asset #end</span> #if( $totalpages > 1 ) <span class="pagenum">(Page $pagenum of $totalpages)</span> #end</div>
    	#if( !$asset.importstatus || $asset.importstatus != "complete" )
    		$pages.include("$apphome/components/convertqueue/importstatusplayer.html?assetid=${asset.id}",$context)
    	#else
    		$pages.include("$apphome/components/mediaviewer/player/player.html",$context)
    	#end
    	<div id="mp-asset-info" style="display: none;">
    	    
    	    #set( $views = $mediaarchive.getAssetStatsManager().getViewsForAsset($asset))
           #if($canviewassetpreviewhistory)
	   <a href="$home$apphome/views/modules/asset/editor/historypreviews/index.html?assetid=$asset.id&hitssessionid=$hitsessionid" class="views">$views<span class="">&nbsp;</span></a>
#end
            #if($canviewcomments)
            <a style="margin-right: 0;" href="$home$apphome/views/modules/asset/editor/comment/index.html?assetid=$asset.id&sourcepath=$asset.sourcepath&hitssessionid=$hitsessionsid" class="comments">$comments.size()<span>&nbsp;</span></a>
            #end
            <!-- a href="$home$apphome/views/modules/asset/editor/attachments/index.html?assetid=$asset.id&hitsessionid=$hitsessionid" class="attachments">19<span>&nbsp;</span></a -->
       
        </div>
    </div>
</div>

<script>
    $('#main-media').livequery(function(){
        var $wimg = $('#main-media').width();
        $('#mp-player').width($wimg);
        $('#mp-asset-title').show();
        $('#mp-asset-info').show();
        $('#mp-asset-title').width($wimg);
    }); 
    
    $('#main-media').load(function(){
        var $wimg = $('#mp-player').width();
        if ( $wimg = "0" ) {
            $wimg = $('#main-media').width();
            $('#mp-player').width($wimg);
            $('#mp-player').addClass('image');
            $('#mp-asset-title').width($wimg);
        }
    });
</script>