##<form class="ajaxform" targetdiv="em_fmdialog" method="post" onsubmit="closeDialog();" action="$home$page.filerootpath/settings/save.html?oemaxlevel=1" >
<form class="ajaxform" targetdiv="em_fmdialog" method="post" onsubmit="closeDialog();" action="$home$page.filerootpath/settings/save.html" >   
<input name="editPath" type="hidden" value="$configeditsession.editPath" />
<input name="nodeID" type="hidden" value="$!context.getRequestParameter('nodeID')" />

	 <h2>$context.getPageProperty('text.pageproperties') :: $configeditsession.getEditPath()</h2>

<center>
  <table width="80%" name="headline" cellpadding="0" cellspacing="0">
  	<tr>
   <td>
	$pages.stream("./savedproperties.html")
   </td>
   </tr>   
   
#if( $user.hasPermission("oe.edit.settings.advanced") )
  	<tr>
   <td>
	$pages.stream("./settings.html")
   </td>
   </tr>   
#end
   </table>
   <button type="button" onclick="closeDialog();">[[Cancel]]</button>
    <input type="submit" value="[[Save]]"/>
	
</center>

