<div id="related-search-terms">


#set( $suggestions = $query.suggestedSearches )
#if( $suggestions )

Related Search Terms: 

	#foreach( $term in $suggestions.keySet() )
		#if( $hits.dataSource )
			#set( $resultspage = "/${hits.dataSource}.html" )
		#else
			#set( $resultspage = "$content.path" )
		#end
		<a href="$home$apphome/views/search/search.html?field=description&operation=matches&description.value=$term&hitsname=$hits.hitsName&searchtype=$searchtype">
			$suggestions.get($term)
		</a>
	#end

#end
</div>