#set( $tab = $context.findValue("tab") )
<div class="subcolumns">
          <div class="c25l" id="left-col">
			
			#set( $moduleid = $context.findValue("module") )
			#if( !$moduleid )
				#set( $moduleid = "asset" )
			#end
			<div class="ui-widget" >
				<div  class="ui-widget-header">$moduleid.name Settings</div>
				<div  class="ui-widget-content categories-widget no-padding-for-real">
					<ul id="settings-menu" class="sidebar-list">
						#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenumodule") )
						#set( $query = $searcher.createSearchQuery() )
						#set( $null = $query.addExact("type","toplevel") )
						#set( $null = $query.addExact("module",$moduleid) )
						$!query.addSort("ordering")
						#foreach($screen in $searcher.cachedSearch($context,$query) )
						<li id="$screen.id" #if( $tab == "$screen.id" ) class="current" #end>
							<a href="$home$apphome${screen.path}">$screen</a>
						</li>
						#end
					</ul>
				</div>
			</div>

			<div class="ui-widget" >
				<div  class="ui-widget-header">System Settings</div>
				<div  class="ui-widget-content categories-widget no-padding-for-real">
					<ul id="settings-menu" class="sidebar-list">
						
						#set( $searcher = $searcherManager.getSearcher($catalogid,"settingsmenumodule") )
						#set( $query = $searcher.createSearchQuery() )
						#set( $null = $query.addExact("type","toplevel") )
						#set( $null = $query.addExact("module","system") )						
						$!query.addSort("ordering")
						#foreach($screen in $searcher.cachedSearch($context,$query) )
						<li id="$screen.id" #if( $tab == "$screen.id" ) class="current" #end>
							<a href="$home$apphome${screen.path}">$screen</a>
						</li>
						#end
					</ul>
				</div>
			</div>


         </div>
         <div id="right-col">	

			$pages.includeContent()

         </div>
</div>

		<script type="text/javascript">
		jQuery(document).ready(function () 
		{ 
			#set( $tab = $context.findValue("tab") )
			#if( $tab )
				jQuery("#$tab").attr("class", "current");
			#end	
//			jQuery("#eml-tabs a").live('click',function()
			jQuery("#settings-menu a").click(function(){
				jQuery("#settings-menu li").removeClass("current")
				jQuery(this).parent().addClass("current");
			});
		});
		
		</script>
		

		
		
		
