#set( $moduleid = $context.findValue("module") )
#set($view = "${moduleid}/${moduleid}popupdetail")
$context.putPageValue("view",$view)

## $pages.include("/$applicationid/components/xml/detaileditor.html?detailsreadonly=true&alwaysshow=true", $context)

#set($details = $searcher.getDetailsForView($view))
    <p style="max-width: 500px; white-space: normal;">
    #foreach($detail in $details)
    
    #if($detail.isList())
    #set($val = $searcherManager.getListData($catalogid, $detail.listId, $data.get($detail.id)).getText())
    #else
    #set($val = $data.get($detail.id))
    #end
    #if($val && $val != "")
     <strong>$detail.text</strong>  $!val <br>
    #set($val = "")
    #end
    #end
    
    </p>