#set($module = $searcherManager.getData($catalogid, "module", $context.findValue("module") ))
#set ( $defaultview = $userprofile.getDefaultViewForModule($module.id) )


<ul id="sub-nav" class="search-views">
<li><a href="$home${content.searchhome}/edit/addnew.html?viewid=$defaultview.id&viewpath=$module.id/$defaultview.id">Add New</a></li>
#if($content.showactions)
	$pages.include("$content.searchhome/selectionactions.html")
#end
#if($hits.hasSelections() )
<li>		$pages.include("${content.searchhome}/selections/selected.html",$context)
</li>
#end

</ul>
