#set( $moduleid = $context.findValue("module") )
$context.putPageValue("caneditlists","false")
#set( $searchhome = $context.findValue("searchhome") )

<div id="advsearchpanel" >
<div class="tanmodule" >

#set( $view = "${moduleid}/${moduleid}advancedsearch")
#set( $searcher = $searcherManager.getSearcher("$content.catalogid", "${moduleid}") )

$context.putPageValue("view", $view)
$context.putPageValue("searcher", $searcher)

#set($usestartswith = $page.isPropertyTrue('usestartswith'))
$context.putPageValue("usestartswith",$usestartswith)

<form  name="advancedsearch" action="$home${searchhome}/fieldsearch.html" class="em-widget-content">
##We need 2 things passed in: $searcher, $view or $searcher $details
#if (!$details && $userprofile)

    #set ($details = $searcher.getDetailsForView($view, $userprofile))
#else
    #set ($details = $searcher.getDetailsForView($view))
#end


<table   width="100%">
    #foreach( $detail in $details)
        $context.putPageValue("detail", $detail)
        #if ($detail.isLeaf())
            $pages.include("/${applicationid}/components/advancedsearch/detailedit.html", $context)
        #else
            $pages.include("/${applicationid}/components/advancedsearch/section.html", $context)
        #end
    #end
    <td class="submit"><input class="btn small" type="submit" value="Search" />
    </td>
    </tr>
    
</table>

#set ($resultview = $userprofile.get('resultview'))

#if( !$resultview )
<input type="hidden" name="resultstype" value="table" />
#end

</form>

<script type="text/javascript">
    deleteField = function(inFieldId)
    {
        var params = "oemaxlevel=1&editadvsearch=true&view=$view&catalogid=$searcher.getCatalogId()&searchtype=$searcher.getSearchType()&field=" + inFieldId;
        jQuery('#advsearchpanel').load("$home$apphome/components/advancedsearch/deletefield.html?" + params)
    }
</script>
</div>
</div>
