<li><a>Selections</a>
	<ul>
	#set( $type = $content.module )
	
	 <li><a href="$home${content.searchhome}/edit/batchedit.html?id=multiedit:$hits.sessionId&hitssessionid=$hits.sessionId&searchtype=$type">Batch Edit</a></li>
				<li><a href="$home${content.searchhome}/export/download/export_${type}.csv?hitssessionid=$hits.sessionId&searchtype=$type">[[Export results]]</a></li>
				<li ><a href="$home${content.searchhome}/export/download/export_${type}.csv?hitssessionid=$hits.sessionId&friendly=true&searchtype=$type">[[Export results (friendly)]]</a></li>
				<li><a href="$home${content.searchhome}/export/custom.html?hitssessionid=$hits.sessionId">[[Custom Export]]</a></li>
				<li><a href="$home${apphome}/views/activity/downloaddataassets.html?hitssessionid=$hits.sessionId">[[Download Assets]]</a></li>
				#if($candelete)
					 <li><a href="$home${content.searchhome}/actions/deleteselections.html?hitssessionid=$hits.sessionId">[[Delete Selected Items]]</a></li>
				#end
	</ul>
	
	</li>