		#set ($itemid = $context.getRequestParameter("itemid"))
		#set ($publishdestid = $context.getRequestParameter("publishdestid"))
		#set( $fileformat = $context.getRequestParameter("fileformat"))
		#set( $publishtype = $context.getRequestParameter("publishtype"))
		
		#set ($publishdestsearcher = $searcherManager.getSearcher($catalogid, "publishdestination"))
		#set ($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )
		
		#set ($showselector = true)
		
		#if ($publishdestid)
			#set ($dest = $publishdestsearcher.searchById($publishdestid))
			#if ($dest.convertpreset)
				#set ($showselector = false)
				#set ($defaultpreset = $presetsearcher.searchById($dest.convertpreset))
				$defaultpreset
				<input type="hidden" name="${itemid}.presetid.value" value="$dest.convertpreset"/>	
			#end
		#end
		
		#if ($showselector)
  	   	    #set( $presetquery = $presetsearcher.createSearchQuery() )
  	   	    #set( $rendertype = false)
	  	   	#set( $rendertype = $mediaarchive.getMediaRenderType($fileformat) )
  	   	    
  	   	    #if($publishtype == "YouTube")
  	   	    	#set( $null = $presetquery.append("publishtoyoutube","true"))
  	   	    	#if( $rendertype )
  	   	    		#set( $null = $presetquery.append("inputtype",$rendertype))
  	   	    	#end
  	   	    #elseif($publishtype == "FatWire")
  	   	    	#set( $null = $presetquery.append("publishtofatwire","true"))
  	   	    	#if( $rendertype )
  	   	    		#set( $null = $presetquery.append("inputtype",$rendertype))
  	   	    	#end
  	   	    #else
	  	   	    $presetquery.setAndTogether(false)
	  	   	    #if( $rendertype )
		  	   	    #set( $null = $presetquery.addExact("inputtype",$rendertype) )
	  	   	    #end
	  	   	    #set( $null = $presetquery.addExact("inputtype","all") )
	  	   	#end
	  	   	
  	   	    #set( $null = $presetquery.addSortBy("ordering") )
  	   	    #set( $results = $presetsearcher.search($presetquery) )
  	   	    
  	   	    #if($results.size() > 0)
			<select name="${itemid}.presetid.value">
		  	    #foreach ($preset in $results)
		  	  
#if($canconvert && $candownloadfpo)
						#set($ok = true) a
					#elseif ($canconvert && $preset.watermark != "true")
						#set($ok = true) b
					#elseif($candownloadfpo && $preset.watermark == "true")
						#set($ok = true) c
					#end
					#if($ok)
					<option value="$preset.id">$preset
					#end

			
		  	    #end
		    </select>
		    #else
		    	<input type="hidden" name="${itemid}.presetid.value" value="0">
		    	<!-- <image src="$home$apphome/theme/images/important_16.png" /> -->
			#end
		#end
