<form class="validate" id="usereditform" method="post" action="$home$apphome/views/activity/publish/processorder.html">
<div class="emrounded">
<input type="hidden" name="searchtype" value="order"/>
<input type="hidden" name="catalogid" value="$catalogid"/>
<input type="hidden" name="orderid" value="$order.id"/>
<input type="hidden" name="invaliditems" value="$!invaliditems" />
	<div>
	#set($publishtype = $!searcherManager.getData($catalogid,"publishdestination",$order.publishdestination))
	
		<h4>Publishing to $publishtype</h4>
	
	<!-- 
	<table id="shared-asset-table" class="striped download-table" width="100%" >
	
	
	#foreach( $item in $orderitems )
	
		 #set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
		 #set( $queue = $searcherManager.getData($catalogid,"publishqueue",$item.publishqueueid) )
		 #set( $omit = $invaliditems.contains("${asset.id}"))
		 
		<tr>
		<td>
			$context.putPageValue("hit",$asset)
			$pages.include("$apphome/components/results/thumbnails/small.html",$context)
		</td>
		<td>
			$!asset.name #if( $asset.assettitle ) - $asset.assettitle #end
		</td>
		<td>
			#set($filetype = $searcherManager.getData($catalogid,"assettype",$asset.assettype))
			$!filetype
		</td>
		
		#if($omit)
			#if($publishtype == "YouTube")
				<td colspan="3">
			#else
				<td>
			#end
				$context.putPageValue("publisher",$publishtype)
				$context.putPageValue("filetype",$filetype)
				$pages.include("./publishererror.html",$context)
				</td>
		#else
			<td>
				$pages.include("./presetselector.html?fileformat=$asset.fileformat&itemid=$item.id&publishdestid=$!queue.publishdestination&publishtype=$!publishtype")
			</td>
			#if ($publishtype == "YouTube")
			<td>
				Category
			</td>
			<td>
				<input type="hidden" name="field" value="assetfield">
				<input type="hidden" name="assetfield.value" value="${asset.id}">
				$pages.include("./youtubecategoryselector.html")
			</td>
			#elseif ($publishtype == "FatWire")
				#set($homeurl = "${context.siteRoot}${home}${apphome}")
				#set($username = $context.getUserName())
				<input type="hidden" name="presetfield" value="homeurl">
				<input type="hidden" name="${item.id}.homeurl.value" value="${homeurl}">
				<input type="hidden" name="presetfield" value="username">
				<input type="hidden" name="${item.id}.username.value" value="${username}">
				
			#end
		#end
		</tr>
	#end
	</table>
	-->
	
	<!-- preprocess step -->
	
	#set($filetypes = [])
	#foreach( $item in $orderitems )
		#set( $asset = $mediaarchive.getAssetBySourcePath($item.assetsourcepath))
		#set($fileformat = $asset.fileformat) ##need to get an example fileformat for each filetype
		#set($filetype = $searcherManager.getData($catalogid,"assettype",$asset.assettype))
		#if(!$filetype)
			#set($filetype="None")
		#end
		#set( $omit = $invaliditems.contains("${asset.id}"))
		#set($found = false)
		#foreach( $ft in $filetypes)
			#if ($ft.get(0).equals($filetype))
				#set($num = $numberutils.toInt("${ft.get(1)}"))
				#set($num = $num + 1)
				#set($null = $ft.set(1,"$num"))
				#set($found = true)
				#break
			#end
		#end
		#if(!$found)
			#set($null = $filetypes.add([$filetype,"1",$fileformat,"${omit}"]))
		#end
		##add hidden inputs
		<input type="hidden" name="itemid" value="$item.id"/>
		<input type="hidden" name="field" value="presetid"/>
		<input type="hidden" name="${item.id}.presetid.value" value=""/>
		<input type="hidden" name="field" value="itemfiletype"/>
		<input type="hidden" name="${item.id}.itemfiletype.value" value="${filetype}"/>
		##add extra variables for specific publishers
		#if ($publishtype == "YouTube")
			<input type="hidden" name="field" value="assetfield">
			<input type="hidden" name="assetfield.value" value="${asset.id}">
		#elseif ($publishtype == "FatWire")
			#set($homeurl = "${context.siteRoot}${home}${apphome}")
			#set($username = $context.getUserName())
			<input type="hidden" name="presetfield" value="homeurl">
			<input type="hidden" name="${item.id}.homeurl.value" value="${homeurl}">
			<input type="hidden" name="presetfield" value="username">
			<input type="hidden" name="${item.id}.username.value" value="${username}">
		#end
	#end
	
	<!-- new table -->
	<table id="shared-asset-table" class="striped download-table" width="100%" >
	#foreach( $ft in $filetypes)
		#set($filetype = $ft.get(0))
		#set($num = $ft.get(1))
		#set($fileformat = $ft.get(2))
		#set($omit = $ft.get(3))
		<tr>
			<td>
				<input type="hidden" name="field" value="filetype"/>
				<input type="hidden" name="filetype.value" value="${filetype}"/>
				#if($omit == "true")
					Selected $num $filetype
				#else
					Publishing $num $filetype
				#end
			</td>
			#if($omit == "true")
			<td colspan="2">
				$context.putPageValue("publisher",$publishtype)
				$context.putPageValue("filetype",$filetype)
				$pages.include("./publishererror.html",$context)
			</td>
			#else
			#if ($publishtype == "YouTube")
				<td>	
					$pages.include("./youtubecategoryselector.html")
				</td>
			#end
			<td>
				<input type="hidden" name="field" value="presetid"/>
				#set($presetsearcher = $searcherManager.getSearcher($catalogid, "convertpreset") )
			  	#set($presetquery = $presetsearcher.createSearchQuery() )
				#set($null = $presetquery.setAndTogether(false))
				#set( $rendertype = false)
			    #set( $rendertype = $mediaarchive.getMediaRenderType($fileformat) )
			    
			    #if($publishtype == "FatWire")
			    	#set( $null = $presetquery.setAndTogether(true) )
	  	   	    	#set( $null = $presetquery.append("publishtofatwire","true"))
	  	   	    	#if( $rendertype )
	  	   	    		#set( $null = $presetquery.append("inputtype",$rendertype))
	  	   	    	#end
	  	   	    #else
	  	   	    	#set( $null = $presetquery.setAndTogether(false) )
		  	   	    #if( $rendertype )
			  	   	    #set( $null = $presetquery.addExact("inputtype",$rendertype) )
		  	   	    #end
		  	   	    #set( $null = $presetquery.addExact("inputtype","all") )
		  	   	#end
				
				#set($null = $presetquery.addSortBy("ordering"))
				#set( $results = $presetsearcher.search($presetquery) )
				#if($canconvert || $candownloadfpo)
			  		<select name="${filetype}.presetid.value">
					#foreach ($preset in $results)
						<option value="$preset.id">$preset</option>
					#end
				</select>
				#else
					  		<input type="hidden" name="${filetype}.presetid.value" value="0">
				#end	
			</td>
			
			
			
			#end
			</td>
		</tr>
	#end
	</table>
	
	
	</div>
</div>


	#if($invaliditems.size() == $orderitems.size())
		<input class="btn small" style="float: right" type="button" value="Cancel" onclick="window.history.back()"/>
	#else
		<input class="btn small" style="float: right" type="submit" value="Next" />
	#end

</form>	      
