<input type="hidden" name="field" value="youtubecategory">
<select name="youtubecategory.value" class="required" >
	<option value="Film">Film & Animation</option>
	<option value="Autos">Autos & Vehicles</option>
	<option value="Music">Music</option>
	<option value="Animals">Pets & Animals</option>
	<option value="Sports">Sports</option>
	<option value="Travel">Travel & Events</option>
	<option value="Games">Gaming</option>
	<option value="People">People & Blogs</option>
	<option value="Comedy">Comedy</option>
	<option value="Entertainment">Entertainment</option>
	<option value="News">News & Politics</option>
	<option value="Howto">Howto & Style</option>
	<option value="Education">Education</option>
	<option value="Tech">Science & Technology</option>
	<option value="Nonprofit">Nonprofits & Activism</option>
</select>