#if($content.isPropertyTrue("shownav")) 

<ul class="emheaderbuttons" >

#if( $canviewhomelink )
<li><a id="module"  href="$home$apphome/index.html"> Home </a></li>
#end

#set ($lastselected = $content.module )
#if(!$lastselected)
	#set($lastselected = $userprofile.last_selected_module )
#end
#if(!$lastselected)
      #set($lastselected = "asset" )
#end   

#if( $userprofile.getModules().size() > 1 )

    #set($module = $searcherManager.getData($catalogid, "module", $lastselected ) )
	#if( !$module ) 
		##in case they deleted an old selected module 
	    #set($module = $searcherManager.getData($catalogid, "module", "asset" ) )
	#end

#if( $content.path.contains("/views/settings/") )
	#set( $urlbase = "$home$apphome/views/settings/modules" )
#else
	#set( $urlbase = "$home$apphome/views/modules" )
#end

<li><a id="module" class="flat-right" href="$home$apphome/views/modules/${module.getId()}/index.html">${module}</a><a id="module-dropdown" class="flat-left" href="#"><span></span></a>
	<ul id="module-list" style="display: none;">
		#foreach ( $amodule in $userprofile.getModules() )
			<li><a href="$urlbase/${amodule.id}/index.html?field=last_selected_module&last_selected_module.value=${amodule.id}">$amodule</a></li>
		#end
	</ul>
</li>
#end

    #if( $canviewupload )
     <li #if( $section == "upload" ) class="navselected" #end><a href="$home$apphome/views/upload/index.html" >Upload Media</a></li>
    #end

    #if($canviewbasket)
    <li #if($section=="basket") class="navselected"  #end  style="float: right;">
    	$pages.include("$apphome/components/basket/menuitem.html")
    </li>
    #end
 </ul>


<div style="float:right; margin-top:-30px;">

#if ($canquicksearch)
<div id="searchform" class="">
<form id="search_form" action="$home$apphome/views/search/search.html" class="em-widget-content">
	<input type="hidden" name="field" value="description" />
	<input type="hidden" name="operation" value="startswith" />
	#set( $input = "Search...")
	#set( $input = $hits.getInput("description") )
    <input type="text"  id="assetsearchinput" initialtext="Search..."  class="suggestsearchinput initialtext " name="description.value" value="$input" />
</form>
</div>
#end


</div>

#end
