#if($errors.get($detail.id) == "error-format")
	#set($val = "")
	<span style="color: red;">
	[[Sorry - wrong format]]
	</span><br>
#end
#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end
<input name="$!{detailprefix}${detail.getId()}.value" id="${detail.id}${idcount}value" value="#esc($!val)"  type="hidden" >
 <br/>
<input type="text" class="datepicker #if($detail.isRequired() && !$multiedit) required #end " data-targetid="${detail.id}${idcount}value" /> 



#if ($detail.picker == "false" && $detail.format)
	<span style="color:gray;font-style:italic;font-size:.9em;">$detail.format<span>
#end

	
#set($hour = $context.getRequestParameter("${detail.id}.hour"))
#if(!$hour)
	#set($hour =  $context.getHours($val))
#end


#set($minute = $context.getRequestParameter("${detail.id}.minute"))
#if(!$minute)
	#set($minute =  $context.getMinutes($val))
#end

[[Time]]:  <select class="hour" name="${detail.id}.hour">
		#foreach($val in [0..23])
		<option value="#if($val < 10)0#end$val" #if($hour == $val || $hour == "0$val")) selected #end >#if($val < 10)0#end$val</option>
		#end
	</select> : <select class="minute" name="${detail.id}.minute">
		#foreach($val in [0..59])
		<option value="#if($val < 10)0#end$val" #if($minute == $val || $minute == "0$val")) selected #end>#if($val < 10)0#end$val</option>
		#end
	</select> 
<!-- 	
<input name="${detail.getId()}.value" type="hidden" name="${detail.id}.value" class="result" id="${detail.id}.value" />
 -->
</div>




