#if($context.getRequestParameter("viewonly") == true)
	#esc($val)
#else
	<input type="text" style="width: 65px;" size="30" value="#esc($!val)"  id="${detail.id}.value" name="${detail.id}.value"  onblur="if( typeof validate == 'function' ) validate('$searcher.getCatalogId()','$searcher.getSearchType()','$view','$detail.getId()');" />  <span class="small grey">kg&nbsp;</span> 
	<em> or</em>
	<input type="text" style="width: 65px;" size="30" value=""  id="${detail.id}_pounds" /> <span class="small grey">lbs</span>




<script type="text/javascript">
	// Conversion functions
	kg_to_lbs = function(kg_value){ return(parseFloat(kg_value) * 2.2);};
	lbs_to_kg = function(lbs_value){ return(parseFloat(lbs_value) / 2.2);};

	// Setup listeners for the change event on the inputs to run the conversions for cm - in and kg - lb
	$j('#${detail.id}_pounds').change(function(){
	  n = parseInt($j(this).val());
	  if(!isNaN(n)){$j('input[id="${detail.id}.value"]').val(lbs_to_kg(n).toFixed(1));}
	});	
	$j('input[id="${detail.id}.value"]').change(function(){
	  n = parseInt($j(this).val());
	  if(!isNaN(n)){$j('#${detail.id}_pounds').val(kg_to_lbs(n).toFixed(1));}
	});
	
	// Populate the inches and lbs fields by triggering a change and running the conversions
	$j('input[id="${detail.id}.value"]').trigger('change');
	 
	
</script>
#end