
#if($errors.get($detail.id) == "error-matched")
	#set($val = "")
	<span style="color: red;">
	[[Sorry - those did not match]]
	</span><br>
#end

<div id="${detail.id}-matched">

<input class="${detail.id}" name="${detail.getId()}.value" id="${detail.id}.value" value="#esc($!val)" size="30" type="text">
<br/>
<span class="field-label">[[Retype:]]</span>

<input class="${detail.id}" name="${detail.getId()}match.value" value="#esc($!val)" id="${detail.id}match.value"  size="30" type="text" >
</div> 