#set ($catalogid = $context.getRequestParameter('catalogid'))
#set ($searchtype = $context.getRequestParameter('searchtype')) ##product
#set ($fieldname = $context.getRequestParameter('fieldname')) ##lastmodified
#set ($view = $context.getRequestParameter('view')) 
#set( $lsearcher = $searcherManager.getSearcher($catalogid, $searchtype))

#set($listdetails = $lsearcher.getDetailsForView("$searchtype/resultdetail", $user))

<!--  This would have the point details in it -->
#if($hits)
<table class="striped">
<tr>
#foreach($detail in $listdetails)
<td>
$detail.getText()
</td>
<td>
&nbsp;
</td>
#end
</tr>
#foreach($hit in $hits)
<tr>
#foreach($detail in $listdetails)
 <td>
     $context.putPageValue('val',  $!hit.get($detail.id))
              $context.putPageValue('detail',  $detail)
              $pages.include("/util/search/cell.html", $context)
              </td>    
#end
<td><a class="listpicker" id="$hit.id" href="#add">Add</a>
</td>
</tr>

#end

</table>
#end