
#if($errors.get($detail.id) == "error-matched")
	#set($val = "")
	[[Sorry - those did not match]]<br>
#end

#if($context.getRequestParameter("viewonly") == true)
	[[Not Shown]]
#else
<div id="${detail.id}-matched">
<input class="${detail.id} required" name="${detail.getId()}.value" id="${detail.id}" value="$!context.getRequestParameter('password.value')" size="10" type="password"> 
<span class="field-label">[[Retype:]]</span>
<input class="${detail.id} required" name="${detail.getId()}match.value" value="$!context.getRequestParameter('passwordmatch.value')" id="${detail.id}match"  size="10" type="password" >
</div> 
#end


<script type="text/javascript">

jQuery("#${detail.id}-matched").validate({
   rules: {
	${detail.id}match: {
       equalTo: "#${detail.id}"
     }
   }
 });

</script>