#if($context.getRequestParameter("viewonly") == true)
	
	$val
	

#else
	

#if($val && $val.length() > 0)
#set($splits = $val.split("-"))
#if($splits.size() != 3)
  #set($splits = "")
#end
#end
 
<div class="phonenumber-section" >

(<input  type="text" maxlength="3" size="3" class="areacode phonenumber" name="areacode" value="$!splits.get(0)">)  <input type="text" size="3" class="firstdigits phonenumber" maxlength="3" name="firstdigits" value="$!splits.get(1)"/> -  <input type="text" maxlength="4"  size="4" class="seconddigits phonenumber" name="seconddigits" value="$!splits.get(2)"/> 

<input name="${detail.getId()}.value" type="hidden" name="${detail.id}.value" class="result" id="${detail.id}.value" value="$!val"/>


</div>

#end



