#if($context.getRequestParameter("viewonly") == true)
	#esc($val)
#else
<input size="6" maxlength="6" class="${detail.id}" name="${detail.getId()}.value" id="${detail.id}.value" value="#esc($!val)" size="10" type="text" onblur="if( typeof validate == 'function' ) validate('$searcher.getCatalogId()','$searcher.getSearchType()','$view','$detail.getId()');"> (no spaces)
#end
<!-- 

<script type="text/javascript" defer>
    // Setup the datepicker 
	$j('input[id="${detail.id}.value"]').datepicker({buttonImage: '$home/openedit/javascript/cal.gif',showOn: 'both',dateFormat: '$detail.get("pickerformat")' ,buttonImageOnly: true,changeMonth: true, changeYear: true, yearRange: '1900:2010'});
</script>
 -->