	$mediaarchive.loadAssetPermissions($asset.sourcepath, $context)

<tr>
	<td valign="top" style="padding: 10px;" width="150">
		#set( $catalogid = $asset.catalogId )
	   	#set( $mediaarchive = $enterMedia.getMediaArchive($catalogid) )
	   	#set( $sourcepath = $asset.sourcePath )
	   	#set( $assetpath = $mediaarchive.getLinkToAssetViewer($sourcepath) )
		#set( $thumbend = $mediaarchive.getLinkToSize($sourcepath, "thumb") )
		#set( $medend = $mediaarchive.getLinkToSize($sourcepath, "medium") )
		#set( $tsize = "$home$thumbend" )
		#set( $msize = "$home$medend" )
		
		#if( $asset.name )
      		#set( $name = $asset.name )
      	#elseif ( $asset.title )
      		#set( $name = $asset.title )
      	#else
      		#set( $name = "(No name)" )
      	#end
		
		#if( $parenthits )
			#set( $rootid = $parenthits.sessionId )
		#else
			#set( $rootid = $hits.sessionId )
		#end
		#if($caneditasset)
			<a href="${home}${cataloghome}/attachments/index.html?path=/$catalogid/data/originals/${sourcepath}&assetid=$asset.id" alt="$asset.name" name="$asset.name" style="text-decoration: none;">
		#else
			<a href="$home$cataloghome/detailviewer/viewer/index.html?sourcepath=${sourcepath}&hitssessionid=$rootid" alt="$asset.name" name="$asset.name" style="text-decoration: none;">
		#end	
			<img src="$tsize"  align="middle" border="0" title="${name}"/>
		</a>
	</td>
	<td valign="top" style="padding: 10px;" width="200"  >
$pages.include("${cataloghome}/results/types/categorize/title/index.html",$context)	
	</td>
	<td valign="top" style="padding: 10px;" width="200" >
$pages.include("${cataloghome}/results/types/categorize/caption/index.html",$context)	
	</td>
   	<td valign="top" style="padding: 10px;" width="200"  align="left">
##$pages.include("${cataloghome}/detailviewer/keywords/index.html?rowid=$asset.id",$context)
$pages.include("${cataloghome}/results/types/categorize/tags/index.html",$context)	

	</td>
   	<td   style="padding: 10px;" width="300" valign="top">
$pages.include("${cataloghome}/results/types/categorize/categories/index.html?rowid=$asset.id",$context)
	</td>
  
 </tr>	  

  
 
   