#openedit td,#openedit p,#openedit div  {margin:0;padding:0;font:small/1.231 helvetica,arial,clean,sans-serif;color: #444444;}
#openedit table{border-collapse:collapse;border-spacing:0; }
#openedit table td{vertical-align:top;}

#openedit h1 { font-size: 1.1em; color: #444444;}
#openedit h2 {font-size: 1em; color: #444444; }
#openedit h3 {font-size: 1.25em; color: #444444; }



#openedit .oeheader
{
	color: #666666;
	font-size: .8em;
}
#openedit .settings_index_link {
display:table-cell;
padding:0 10px;
text-align:center;
}
#openedit .catalogs_menu_item {
width:120px;
}
#openedit .catalogs_menu_item a {
color:#555252;
display:block;
font-weight:bold;
text-decoration:none;
}
#openedit .catalogs_menu_item .spiffyfgthree a {
color:white;
}
#openedit .catalogs_menu_item img {
padding:3px 10px;
vertical-align:middle;
}
#openedit .catalogs_menu_settings {
background:green;
margin:50px 0 0 80px;
text-decoration:none;
width:120px;
}

#openedit #catalogSettingsPanel {
background-color:white;
min-height:540px;
padding:10px;
}
#openedit .spiffy {
display:block;
}
#openedit .spiffy * {
background:none repeat scroll 0 0 #E4FFE3;
display:block;
font-size:0.01em;
height:1px;
overflow:hidden;
}
#openedit .spiffy1 {
background:none repeat scroll 0 0 #EAFFEA;
border-left:1px solid #F3FFF2;
border-right:1px solid #F3FFF2;
margin-left:3px;
margin-right:3px;
padding-left:1px;
padding-right:1px;
}
#openedit .spiffy2 {
background:none repeat scroll 0 0 #E9FFE8;
border-left:1px solid #FCFFFC;
border-right:1px solid #FCFFFC;
margin-left:1px;
margin-right:1px;
padding-left:1px;
padding-right:1px;
}
#openedit .spiffy3 {
border-left:1px solid #E9FFE8;
border-right:1px solid #E9FFE8;
margin-left:1px;
margin-right:1px;
}
#openedit .spiffy4 {
border-left:1px solid #F3FFF2;
border-right:1px solid #F3FFF2;
}
#openedit .spiffy5 {
border-left:1px solid #EAFFEA;
border-right:1px solid #EAFFEA;
}
#openedit .spiffyfg {
background:none repeat scroll 0 0 #E4FFE3;
height:500px;
width:120px;
}
#openedit .spiffyoe {
display:block;
}
#openedit .spiffyoe * {
background:none repeat scroll 0 0 #353A35;
display:block;
font-size:0.01em;
height:1px;
overflow:hidden;
}
#openedit .spiffyoe1 {
background:none repeat scroll 0 0 #606B60;
border-left:1px solid #98AA98;
margin-left:3px;
padding-left:1px;
}
#openedit .spiffyoe2 {
background:none repeat scroll 0 0 #565F56;
border-left:1px solid #D2EBD1;
margin-left:1px;
padding-left:1px;
}
#openedit .spiffyoe3 {
border-left:1px solid #565F56;
margin-left:1px;
}
#openedit .spiffyoe4 {
border-left:1px solid #98AA98;
}
#openedit .spiffyoe5 {
border-left:1px solid #606B60;
}
#openedit .spiffyfgthree {
background:none repeat scroll 0 0 #353A35;
}


/*********************************
	used for highlighting selected tab
*********************************/
#openedit .spiffythree{display:block}
#openedit .spiffythree *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#353A35}
#openedit .spiffythree1{
  margin-left:3px;
  padding-left:1px;
  border-left:1px solid #98aa98;
  background:#606b60}
#openedit .spiffythree2{
  margin-left:1px;
  padding-left:1px;
  border-left:1px solid #d2ebd1;
  background:#565f56}
#openedit .spiffythree3{
  margin-left:1px;
  border-left:1px solid #565f56;}
#openedit .spiffythree4{
  border-left:1px solid #98aa98;}
#openedit .spiffythree5{
  border-left:1px solid #606b60;}
#openedit .spiffyfgthree{
 	background:#353A35}


#openedit .spiffytwo {
display:block;
}
#openedit .spiffytwo * {
background:none repeat scroll 0 0 #353A35;
display:block;
font-size:0.01em;
height:1px;
overflow:hidden;
}
#openedit .spiffytwo1 {
background:none repeat scroll 0 0 #676B67;
border-left:1px solid #A8AAA8;
border-right:1px solid #A8AAA8;
margin-left:3px;
margin-right:3px;
padding-left:1px;
padding-right:1px;
}
#openedit .spiffytwo2 {
background:none repeat scroll 0 0 #5B5F5B;
border-left:1px solid #EAEBEA;
border-right:1px solid #EAEBEA;
margin-left:1px;
margin-right:1px;
padding-left:1px;
padding-right:1px;
}
#openedit .spiffytwo3 {
border-left:1px solid #5B5F5B;
border-right:1px solid #5B5F5B;
margin-left:1px;
margin-right:1px;
}
#openedit .spiffytwo4 {
border-left:1px solid #A8AAA8;
border-right:1px solid #A8AAA8;
}
#openedit .spiffytwo5 {
border-left:1px solid #676B67;
border-right:1px solid #676B67;
}
#openedit .spiffyfgtwo {
background:none repeat scroll 0 0 #353A35;
min-height:500px;
min-width:800px;
padding:10px;
}
#openedit .spiffyfgfour {
background:none repeat scroll 0 0 #353A35;
padding:0 10px 0;
}
#openedit .spiffyfgfour a {
color:white;
display:block;
text-decoration:none;
}
#openedit .spiffyfgfour a:hover {
color:#E4FFE3;
}

#openedit .oeeditorarea {
background-color:white;
padding:10px;
}

#openedit table.oepropertiestable {
	border-collapse: collapse;
	margin: 5px;
}

#openedit table.oepropertiestable tr {
	border-top: 1px dashed green;
}

#openedit td.oetableleft {
	padding-left: 20px;
	text-align: right;
}

#openedit td.oetableright {
	padding-left: 40px;
	text-align: left;
}

#oebrowsediv
{
	position:absolute;
	z-Index:600;
	position:absolute;
	background-color: white;
	border: 1px solid #222222;
	display: hidden;
	width: 800px;
	height: 500px;
	top: 60px;
	left: 60px;

}




#openedit .emtreehover
{
	background-color: #E0E0E0;
}
#openedit .treerow a
{
	min-width: 50px;
}

#openedit .treerowtext
{
	padding-bottom: 4px;
}

#openedit .dtree {
	white-space: nowrap;
}
#openedit .dtree img {
	border: 0px;
	vertical-align: top;
}
#openedit .dtree a 
{
	color: #444444;
	font-size: 12px;
	margin-bottom: 5px;
	text-decoration: none;
}
#openedit .dTreeNodeSel
{
	background-color: #C0D2EC;
	
}


#emcategoryinline
{
	height: 300px;
	overflow:scroll;
}

#emcategoryinlineinner
{
	padding-top: 5px;
	background-color: white;
}

#oetree
{
	background-color: white;
}
#emcategoryinline .emtreehover
{
	background-color: #E0E0E0;
}
#emcategoryinline .treerow a
{
	min-width: 50px;
}

#emcategoryinline .treerowtext
{
	padding-bottom: 4px;
}

#emcategoryinline .dtree {
	white-space: nowrap;
}
#emcategoryinline .dtree img {
	border: 0px;
	vertical-align: top;
}
#emcategoryinline .dtree a 
{
	color: #444444;
	font-size: 12px;
	margin-bottom: 5px;
	text-decoration: none;
}
#emcategoryinline .dTreeNodeSel
{
	background-color: #C0D2EC;
	
}

#openedit #oesidebar {
	padding: 10px;
}




.thumbholder {
	margin-bottom: 4px;
	float:left;
	padding: 0 30px 0 0;
}

.emthumbimage
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	padding: 0 0 4px 0;
}
.emthumbimage *
{
	vertical-align:middle;
}

/** Sizes **/
.emboxthumbsmall
{
	width: 150px;
	height: 150px;
}
.emthumbsmall
{
	width: 150px;
	height: 150px;
}

.emboxthumb
{
	width: 200px;
	height: 250px;
}
.emthumb
{
	height:200px;
	width: 200px;
}

.emboxthumblarge
{
	height:300px;
	width: 300px;
}
.emthumblarge
{
	height:300px;
	width: 300px;
}

.thumbholdericon
{
	margin: 10px 0 0 0;
}
.thumbholdertext
{
	margin: 5px 0 0 0;
	height: 50px;
}
#openedit .thumbholdertext .emtitle 
{
	padding: 4px 0px 0px 0px;
	text-align: left;
	font-weight: bold;
	color: white;
}
#openedit #slidesheet
{
	padding-top: 10px;
}

#openedit .thumbholdertext .emcaption 
{
	padding: 2px 4px 0px 0px;
	text-align: left;
	width: 200px;
}


/*-----------------------*/
/* CLEARFIX              */ 
/*-----------------------*/
.clearFix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearFix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearFix {height: 1%;}
.clearFix {display: block;}
/* End hide from IE-mac */

#oehover {
	border: 1px solid lightgray;	 
	background-color: #E4FFE3;
	z-index : 666;
	min-height:200px;
	min-width:150px;
	max-width:300px;
	position: absolute;
	padding: 6px;
	color: #666666;
	display: table;
	
}

#oehover a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
	
}

.emthumbzoomimage a
{
	display: block;
	text-align: center;
	
}

