<div id="emnodeeditor">

#set( $nodeId = $context.getRequestParameter("nodeid") )
<div align="right" style="padding-right: 10px;">
<img  src="$home${page.iconhome}/arrowup.png" onclick="categoryPickerTree.jumpToNode('$nodeId','$nodeId');" />
</div>

<div id="emnodeeditordata">

#set( $data = $categoryPickerTree.getModel().getChildById($nodeId) )
<div align="right">
[[Edit Label]] <input name="editnode" id="editnode" value="$!data.name" />
<input type="button" value="Save" style="min-width: 50px" onclick='categoryPickerTree.saveNode("$nodeId",$("#editnode").val());' />
</div>
<div align="right" style="padding-top: 5px;">
[[Delete this node]] <input type="button" value="Delete" style="min-width: 50px" onclick='categoryPickerTree.removeNode("$nodeId");' />
</div>

<div align="right" style="padding-top: 5px;">
[[Add Child]]  <input name="editnode" id="addnode" /> <input type="button" value="Add" style="min-width: 50px" onclick='categoryPickerTree.addNode("$nodeId",$("#addnode").val());'/>
</div>
<div align="right"><br>
<input type="button" value="Cancel" onclick="categoryPickerTree.jumpToNode('$nodeId','$nodeId');" style="min-width: 50px" />
</div>
</div>
</div>
