<div id="emcontainer">
<div id="emcategoriespopup">

#set( $rootpath = "${apphome}/components/categories")

<div id="emcategorypicker" >
<div id="empickerbody" >
	<div>

<script type="text/javascript">
//<![CDATA[
categoryPickerTree = new Object();
categoryPickerTree.lastselected = "$categoryPickerTree.getTreeRenderer().getSelectedId()";
categoryPickerTree.name = "categoryPickerTree";

categoryPickerTree.jumpToNode = function(inUrl, inNodeId)
{
	this.selectRow( inNodeId );
	
	var targetDiv = "#" + this.name + "treerow" + inNodeId;
	targetDiv = targetDiv.replace(/\//g, "\\/");
	jQuery(targetDiv).load('$home$rootpath/select.html', {nodeID: inNodeId, path: inUrl, origURL: "$content.path" });

	document.location.href = "$home$apphome/views/search/category.html?categoryid=" + inNodeId; 

	return false;
}
categoryPickerTree.toggleNode = function(inUrl,inTreeId, inNodeId)
{
	var targetDiv = "#" + this.name + "treerow"+inNodeId;
	targetDiv = targetDiv.replace(/\//g, "\\/");
	jQuery(targetDiv).load('$home$rootpath/toggle.html', {nodeID: inNodeId, treeid: inTreeId, origURL: "$content.path", categoryid: inNodeId });

	return false;
}
categoryPickerTree.jumpAndOpenNode = function(inUrl,inTreeId, inNodeId)
{
	this.jumpToNode( inUrl, inNodeId );
	this.toggleNode( inUrl, inTreeId, inNodeId );
	return false;
}
categoryPickerTree.selectRow = function( inNodeId )
{
	if( this.lastselected.length > 0 )
	{
		var thediv = document.getElementById(this.name + "treerow" + this.lastselected);
		if( thediv )
		{
			jQuery(thediv).removeClass("dTreeNodeSel");
			jQuery(thediv).addClass("treerow");
		}
		thediv = document.getElementById(this.name + "treerow" + inNodeId);
		if( thediv )
		{
			jQuery(thediv).addClass("dTreeNodeSel");
			jQuery(thediv).removeClass("treerow");
		}
	}
	this.lastselected = inNodeId;
}

var checkedcategories = new Array();
jQuery(document).ready(function() 
{ 
	$('#emcategorypicker .dtree .treerowtext' ).livequery(
	function()
	{
		jQuery(this).hover(
			function () 
			{
		        $(this).addClass("emtreehover");
		 	}, 
			function () {
			    $(this).removeClass("emtreehover");
			}
		);
		//var id = $(this).attr("nodeid");
		
	});
});

</script>


		$pages.include("$rootpath/tree.html" )
	</div>
</div>
</div>


</div>
</div>


