 #if( $canviewcategorynav )
			<div class="ui-widget  uipanel" id="left-col-categories" >
				<div  #if($userprofile.minimizecategoriescontent == "false" && $cantogglesidebar) class="ui-widget-header sidetoggle expanded" #elseif($cantogglesidebar) class="ui-widget-header sidetoggle" #else class="ui-widget-header" #end data-target="categoriescontent">
				<span class="widget-header-title">[[Categories]]</span>
				#if( $caneditcategories )
					<span class="widget-header-edit">					
					<a class="emdialog ir" data-width="560" data-height="450" href="$home$apphome/components/categories/edit/editdialog.html?targetdiv=addcategory&clearselection=true">Edit</a>
					</span>
				#end	
				</div>
				<div  class="ui-widget-content categories-widget categories-navigation" id="categoriescontent" #if($userprofile.minimizecategoriescontent == "true" && $cantogglesidebar) style="display: none;" #end>
					$pages.include("$apphome/components/categories/inline.html")
				</div>
			</div>
#end

<script>
	$(document).ready(function() { 
		var width = $('#emcategoryinlineinner').width();
		$('#emcategoryinline .dTreeNodeSel').css('width', width);
		$('.emtreehover').css('width', width);
	});
	
	$('.treerowinside a').click(function(){
		var width = $('#emcategoryinlineinner').width();
		$('#emcategoryinline .dTreeNodeSel').css('width', width);
		$('.emtreehover').css('width', width);
	});
	
	
</script>