#set($searcher = $mediaarchive.getAssetSearcher())

#set ($isediting = ($context.getRequestParameter("edit") == "true") )
#if ($caneditasset && $isediting == true)
	#set ($detaileditsuffix = "")
<form method="post" action="$home$apphome/views/assets/save.html">
	<input type="hidden" name="catalogid" value="$searcher.catalogId"/>
	<input type="hidden" name="sourcepath" value="${asset.sourcepath}"/>
	<input type="hidden" name="save" value="true"/>	
	<input type="hidden" name="id" value="$asset.id"/>
#else
	#set ($detaileditsuffix = "?detailsreadonly=true")
#end
      
<h3>File Properties</h3>
$context.putPageValue("searcher", $searcher)
$context.putPageValue("view", "assettype/default/fileproperties")
$context.putPageValue("data", $asset)
$pages.include("$apphome/components/xml/detaileditor.html$detaileditsuffix", $context)
<br/>

#if ($isediting == true)
<p>
	<input type="submit" value="Save"/>
</p>

</form>
#end

#if( $caneditasset )
<ul class="embuttons">
<li>
	#if ($isediting)
		
	#else
		<a href="$home$apphome/views/assets/index.html?sourcepath=${asset.sourcepath}&edit=true"><span>Edit</span></a>
	#end
</li>	
</ul>
#end	
