<div id="outer">
	$pages.include("${themeprefix}/layouts/header.html")
	<div id="menu">
		$pages.include("/$applicationid/search/quicksearch.html")
		$pages.include( "/$applicationid/tools/navigation/menu.html")
	</div>
	<div id="content">
		<div id="primaryContentContainer">
			<div id="primaryContent">
				<div id="emcontainer">
					#if( $content.nopadding )
						<div id="emcontentwithside">
						 $pages.includeContent()
						</div>
					#else
						 $pages.includeContent()
					#end

 <div id="pagecounter" class="clear"> </div>
</div> 
			</div>	
		</div>
		<div id="secondaryContent">

	<br/>
	<br/>
	<div id="emcontainer">

	</div>
			
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
		<p>Copyright &copy; 2006 Sitename.com. Designed by <a href="http://www.freecsstemplates.org">Free CSS Templates</a></p>
	</div>
</div>
#set( $top = $applicationid )

