#if ($mount)
	#set ($path = $mount.getPath())
#else
	#set ($path = $context.getRequestParameter('path'))
#end


<h2>[[Edit Mount]]</h2>

<form name="savemount" action="$home${page.filerootpath}/mount/save.html">

<input type="hidden" name="origURL" value="$page.filerootpath/index.html"/>
<input type="hidden" name="editPath" value="$path"/>
	
<div style="text-align:right; width:650px; background-color: #EEEEEE; padding:5px;">	

<input name="path" value="$path" type="hidden" /> 

<input name="filter" value="$!mount.getFilter()" type="hidden"/> 

<p>
<label>[[File System Path]]:</label> <input name="externalpath" value="$!mount.getExternalPath()" size="60"/>
<br/><i>[[The file system path is a local disk drive, path or Windows Share that will be mounted]].</i> 
</p>
<p> <label>[[Use Version Control]]:</label> <input name="useversioncontrol" type="checkbox" value="true" #if( $mount.isUseVersionControl() ) checked #end />
</p>

<br>
<div> <label> </label> <input type="submit" value="[[Save]]" />
</div>

<input type="hidden" name="mountid" value="$mount.getId()" />
</form>
