.oetabcontent
{
	padding-top: 5px;
	padding-left: 15px;
}

.catalogadmintabselected
{
	background: url(/system/images/tabs/navlh.gif) left top no-repeat 	!important;
	background-color: #31578d !important;
}

.catalogadmintabselected span
{
	background: url(/system/images/tabs/navrh.gif) right top no-repeat !important;
	padding-left: 20px !important;
	padding-right: 20px !important;

}
.catalogadmintabselected span a
{
	color: #fff !important;
	
}


.oetabselected
{
	background: url(/system/images/tabs/navlh.gif) left top no-repeat 	!important;
	background-color: #31578d !important;
}

.oetabselected span
{
	background: url(/system/images/tabs/navrh.gif) right top no-repeat !important;
	padding-left: 20px !important;
	padding-right: 20px !important;

}
.oetabselected span a
{
	color: #fff !important;
	
}




.tabnavigation
{
	margin-left: 10px;
	margin-top: 5px;
	border-collapse: collapse;
}

.tabnavigation td 
{
   	white-space:nowrap;
padding: 0px;
color: #000;
background: #e6e7e9 url(/system/images/tabs/navl.gif) left top no-repeat;
}
.tabnavigation td a
{
	text-decoration: none;
}

.tabnavigation td span
{
	background: url(/system/images/tabs/navr.gif) right top no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}

/* Hide from IE5-Mac \*/
.tabnavigation a, .tabnavigation a span
{
}
/* End hide */

.tabnavigation td:hover 
{
color: #fff;
background: #31578d url(/system/images/tabs/navlh.gif) left top no-repeat;
}
.tabnavigation td:hover A
{
	text-decoration: none;
	color: white;
}

.tabnavigation td:hover span
{
	background: url(/system/images/tabs/navrh.gif) right top no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}


