
#set( $selectedLink = $editlinks.selectedLink )
#if( $selectedLink )
	<input type="hidden" name="linkid" value="$selectedLink.id" />
	
	<div class="panel panel-default">
  <div class="panel-heading">
  <strong>Link Viewer</strong> #if( $selectedLink ):: $!selectedLink.text #end #if( $selectedLink )
			<a class="btn btn-default" href="javascript:gotoEditAction('copy.html');">[[Copy Link]]</a>
			<a class="btn btn-danger" href="javascript:gotoEditAction('remove.html');">[[Delete Link]]</a>
		#end
  </div>
  <div class="panel-body">
	$pages.include("/${applicationid}/views/links/editlink.html", $context)
  </div>
</div>
	
	


#else
<p>$context.getPageProperty('text.description')</p>
#end

<script type="text/javascript">
reloadTree();
</script>
	