$adminLinkTree.getTreeRenderer().setSelectedNodeById($editlinks.getSelectedLink().id)

<div class="oedivided-box-blue">
	<a class="btn btn-default" href="javascript:gotoEditAction('addnew.html');">[[Add New Child]]</a>
	<!--  Not Needed a class="oelink-button" href="javascript:selectLink();">[[Refresh]]</a-->
	#if( $editlinks.isDraft() && $user.hasPermission("oe.edit.approves") ) ##TODO: Use Workflow object
		<a class="btn btn-default" href="javascript:gotoEditAction('approve.html');">[[Approve]]</a>
	#end		
</div>
<div class="oelist-box" style="padding: 0px;">
	<link rel="stylesheet" type="text/css" href="$home/openedit/theme/styles/dtree.css">
	 
	<div id="treediv" style="overflow: auto; width:100%; height:600px;"> 
	<div id="render$adminLinkTree.getName()">      
	  $adminLinkTree.render()
	</div>
	</div>
</div>

 