#set($assettype = $context.getRequestParameter("assettype"))
<br>
<div id="metadataeditarea">
#if($assettype)
	#set($typesearcher = $searcherManager.getSearcher("$catalogid", "assettype"))
	#set($type = $typesearcher.searchById($assettype))

	<div class="ui-widget emdetaileditorbox commentbox">
	<div class="ui-widget-header">Properties
	</div>	
	<div class="ui-widget-content" id="editlayout" style="padding: 10px;">

		<form id="assettypeeditform" name="assettypeeditform" action="$home$apphome/views/settings/metadata/assettypes/views/modifytype.html">
			<input type="hidden" name="assettype" value="$type.id"/>
			<input type="hidden" name="id" value="$type.id"/>
			<input type="hidden" name="searchtype" value="assettype"/>
			
			$context.putPageValue("searcher", $typesearcher)	 
			$context.putPageValue("view", "assettype/edit")
			$context.putPageValue("data", $type)	
			#set($details =  $typesearcher.getDetailsForView("assettype/edit", $user))
			$context.putPageValue("details", $details)
			$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
			
			<ul class="embuttons">
				<li><a href="#" onclick="jQuery('#assettypeeditform').submit();" ><span>[[Save Changes]]</span></a></li>
			</ul>
#if( $savedok )			
<div class="common-success">Saved</div>
#end			
		</form>
	</div>	
	</div>

<br>
#else
	Please select an Asset Type
#end
</div>