<div class="ui-widget emdetaileditorbox">
<div class="ui-widget-header">$viewname</div>	
		<div class="ui-widget-content" id="editlayout" style="padding: 10px;">

$!view.root.attributeValue('usagelabel')

</form>
</div>
</div>

#set( $viewgroup = $context.getRequestParameter("view") )
#set( $assettype = $context.getRequestParameter("assettype") )
#set( $useassettype = $context.getRequestParameter("assettypedriven") )
#if( $useassettype)

#set($typesearcher = $searcherManager.getSearcher($catalogid, "assettype"))
	Asset Type:
	<select name="view">
		<option id="$viewgroup">Default</option>
	#foreach($item in $typesearcher.fieldSearch("id","*","textUp"))
		<option>$item</option>
	#end
	</select>
#end
<br><br>
<div class="ui-widget emdetaileditorbox commentbox">
<div class="ui-widget-header">Fields</div>	
		<div class="ui-widget-content" id="editlayout" style="padding: 10px;">

		<form name="${target.id}addtoview" id="${target.id}addtoview" action="addtoview.html">
			<input type="hidden" name="catalogid" value="$!catalogid"/>
			<input type="hidden" name="searchtype" value="asset"/>
			<input type="hidden" name="assettype" value="$assettype"/>
			<input type="hidden" name="view" value="assettype/${assettype}/$target.id"/>

			[[Add Field]]:
			<select name="newone" onchange="jQuery('#${target.id}addtoview').submit()">
				<option value=""> </option>
				#foreach( $detail in $searcher.getPropertyDetails() )
 					<option value="$detail.id">$detail.text</option>
 				#end
			</select>
		</form>
		<table >
		
		
			#set($details = "")
			#set($details =  $searcher.getDetailsForView("asset/$viewgroup", $user))
			
			#foreach( $element in $details)
				#set( $pid = $element.id)
				<tr>
				 <td class="rowdraggable metadatadroppable" id="$pid" catalogid=$catalogid" searchtype="asset" assettype="$assettype" view="assettype/${assettype}/$target.id"> 
				 <img src="$home$themeprefix/images/navigation/moveupdown.png" />
				 <a href="$home$apphome/views/settings/fields/index.html?id=$element.id&&searchtype=asset">$element.text</a></td> 
				 <td>
				 <form style="float:left;" name="editrow"  method="post" action="removefromview.html?catalogid=$catalogid&searchtype=asset&view=assettype/${assettype}/$target.id">
				 <input type="hidden" name="toremove"  value="$pid" />
				 <input type="hidden" name="assettype" value="$assettype"/>
				 <input type="submit" name="remove" value="remove"/>
				 </form>
				 </td> 
				</tr>
			#end
		</table>
 
		</div>
		</div>




<script type="text/javascript">
	removeRow = function()
	{
		var id = $("#emselectedrow").val(); 
		$("#toremove").val(id);
		$("#removeform").submit();		
				
	}
</script>

</div>
