
.plus,.minus {
	width:20px;
	height:20px;
	border:1px solid #eee;
	float:left;
	display:inline-block;
	margin-right:1px;
}
.plus{
  background:#fff url(plus.png) no-repeat top right;  
}
.minus{
  background:#fff url(minus.png) no-repeat top right;  
}
.minus:hover,.plus:hover,.selector:hover{
	background-position:right -21px;
}
