#topnav form
{
	margin-right:5px; 	
}
#topnav
{
	
	background: url(../../images/tabsheaderbar.png) repeat-x; 
	height: 99px;
	text-align: right;
	position:relative;
}

#logo {
	float: left;
	width: 260px;
	height: 60px;
	position:absolute;
	top: 0px;
	left: 0px;
}

#logo A {
	margin-top: 20px;
	margin-left: 40px;
	display: block;
	width: 200px;
	height: 40px;
	padding: 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	background: transparent url(../../images/logo.png) no-repeat; 
}
#nav {
	margin: 0;
	padding:0;
	background: transparent url(../../images/tabsheader.png) no-repeat;
	height: 97px;
	width: 1200px;
	float: right;
	display: block;
}

#emtopmenu
{
	float:right;
    white-space: nowrap;
    margin: 40px 60px 0px 0px;
    width: 475px;
}
#logo A span
{
	display: none;
}
#topnav img
{
	vertical-align:middle; 
	margin-right:3px;
}
#topnav #topnavsearch
{
	display:block;
	padding: 4px 12px 0px 0px;

}
#topnav #topnavsearch input
{
	border: 1px solid black;
}



#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	width: 100%;
}
#nav li {
	padding: 3px 8px;
	float: right;
	font-size: 85%;
	display: block;
}
#nav li a {
	text-decoration: none;
	color: #white;
	font-weight: bold;
	display: block;
	text-transform:uppercase;
}
#nav li a:hover, #nav li a:active, #nav li a:focus {
	color: #cc0717;
	text-decoration: none;
}

/* I added the following three which have all the styles pulled from the html. 
   I also moved some of the styles from the li to the li a so the whole menu 
   item/button is a link.  Wider buttons are easier to click!! */

/* ----- */
#nav ul.emactionsheadermenu { 
	z-index:600; 
	position:absolute;	
	list-style-type: none; 
	margin: 1px 0; 
	padding: 0px;	
	width: 176px;	
	border: 1px solid #9A9A9A; 
	xcolor: #999999;	
	
	text-align:left; 
	background-color: #F7F7F7;
}

#nav ul.emactionsheadermenu li { 
	display: block; 
	border-top: 1px solid white; 
	margin: 0px;
}
#nav ul.emactionsheadermenu li a {
	padding: 4px 0px; 
	width: 160px;
	display: block;
	text-decoration: none; 
	color: #9A9A9A;
}

#nav li a {
	text-decoration: none;
	color: white;
	font-size: 95%;
	font-weight: bold;
	display: block;
}

.defaulttext
{
	font-style: italic;
	color: #a1a1a1;
	width:150px;
}
