#set ( $delete = $request.getParameter( "delete" ) )
#set ( $destinationPath = "$pathutil.extractDirectoryPath($delete)")

<form name="deleteform" id="deleteform" method="post" action="$home${page.filerootpath}/deletepage/deletepage-finish.html">
    <input type="hidden" name="param-part" value="$destinationPath">
    <input type="hidden" name="param-name" value="newpath">

    
		<div class="oelist-box">$context.getPageProperty('text.areyousure')<br>
		<b>$delete</b></div>
		<input type="hidden" name="delete" value="$delete" width="40">
		<input type="submit" name="YES" value="[[Delete]]" class="btn btn-default" />
</form>
